{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Logs' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'logs/js/logs.js' %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#log-table').DataTable({
        "autoWidth": false,
        "search": {
          "caseInsensitive": true,
        },
        stateSave: true,
        stateSaveParams: function (settings, data) {
          delete data.search;
        },
        processing: true,
        serverSide: true,
        ajax: {
          url: "{% url 'logs:index_ss' %}",
          type: 'POST',
          deferRender: true,
        },
        ordering: false,
        columnDefs: [
          {"className": "dt-center", "targets": "_all"},
        ],
        "language": {
            "url": location.protocol + getLanguage()
        },
        "searchDelay": 500,
        "drawCallback": function(settings) {
           // Needed to enable tooltips in ajax produced content
           $('[data-toggle="tooltip"]').tooltip({ trigger: "hover"});
        },
        colReorder: false,
        rowReorder: false,
      });
    });
  </script>
{% endblock %}
{% block container %}
  <div class="container">
    <h1 class="text-center">{% trans 'Logs' %}<super>*</super></h1>
    <div class="text-center" id="log-table-page">
      <a href="{% url 'logs:export' workflow.id %}" download
         class="shadow btn btn-outline-dark btn-sm"
         data-toggle="tooltip"
         title="{% trans 'Download a CSV file containing these logs' %}">
        <span class="fa fa-download"></span> {% trans 'CSV Download' %}
      </a>
    </div>
    <div class="justify-content-center">
      <table class="table table-hover table-bordered shadow"
             id="log-table">
        <thead>
          <tr>
            {% for cname in column_names %}
              <th>{{ cname }}</th>
            {% endfor %}
          </tr>
        </thead>
      </table>
    </div>
    <p class="text-left small mt-3"><strong><super>*</super></strong>{% blocktrans %}The platform records all operations
      performed on the workflow as Logs. These elements are shown in the table above. You can view the content
      by clicking on its number.{% endblocktrans %}</p>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
