{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Log View' %}{% endblock %}
{% block container %}
<div class="container">
  <h1 class="text-center">{% trans 'Log' %} {{ view.object.id }}: {{ view.object }}</h1>
  {% if view.object.workflow %}
    <h4 class="text-center">{% trans 'Workflow' %}: {{ view.object.workflow.name }}</h4>
  {% endif %}
  <p class="text-center">{% trans 'Last modified' %}: {{ view.object.modified }}</p>
  <p class="text-center">{% trans 'Payload:' %}</p>
  <table class="table shadow" width="100%">
    {% for c_key, c_val in view.object.payload.items %}
      <tr><td>{{ c_key }}</td><td>{% if c_val %}{{ c_val }}{% endif %}</td></tr>
    {% endfor %}
  </table>
  <div class="text-center">
    <a class="shadow btn btn-outline-dark spin" href="{% url 'logs:index' %}">{% trans 'Logs' %}</a>
  </div>
</div>
{% endblock container %}

