{% load i18n %}
<div class="js-transform-diagnose-view">
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Diagnostics' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="text-center">{% trans 'Plugin folder:' %} {{ folder }}</h4>
    <table class="table shadow" id="transform-diagnostics-table">
      <thead>
        <tr>
          <th class="text-center">{% trans 'Status' %}</th>
          <th class="text-center">{% trans 'Requirements' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in diagnostic_table %}
          <tr {% if item.0 != "Ok" and item.0 != "Unchecked" %}class="alert alert-danger"{% endif %}>
            <td class="text-center">{{ item.0 }}</td>
            <td>{{ item.1 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

