{% load i18n %}
<form method="post" action="{% url 'dataops:sqlconn_clone' pk %}" class="js-sqlconn-clone-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm connection cloning' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=cname %}Are you sure you want to clone connection <strong>{{ n }}</strong>?{% endblocktrans %}</p>
    <p>{% trans 'A new connection with the prefix "Copy of " will be created' %}</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <span class="fa fa fa-clone"></span> {% trans 'Clone connection' %}</button>
  </div>
</form>

