<div class="text-center" style="margin-bottom:1.5ex;margin-top:1.5ex;">
  <button type="button" class="btn btn-default" style="margin-right:2ex;"
          onclick="location.href='{% url 'dataops:uploadmerge' %}'">Cancel
  </button>
  <button type="button" class="btn btn-primary" style="margin-right:2ex;"
          onclick="location.href='{{ prev_step }}'">
    <span class="glyphicon glyphicon-triangle-left"></span> Back
  </button>
  <button class="btn btn-primary btn-space"  style="margin-right:2ex;"
          type="Submit" name="Submit" value="Submit">
    <span class="glyphicon glyphicon-triangle-right"></span> {% if next_name %}{{ next_name }}{% else %}Next{% endif %}</button>
</div>

