{% load i18n %}
<div class="text-center" style="margin-bottom:1.5ex;margin-top:1.5ex;">
  <a class="btn btn-outline-dark spin" style="margin-right:2ex;" href="{% url 'dataops:uploadmerge' %}">{% trans 'Cancel' %}</a>
  <a class="btn btn-primary spin" style="margin-right:2ex;" href="{{ prev_step }}">
    <span class="glyphicon glyphicon-triangle-left"></span>
    {% trans 'Back' %}
  </a>
  <button class="btn btn-primary btn-space spin"  style="margin-right:2ex;"
          type="Submit" name="Submit" value="Submit">
    <span class="glyphicon glyphicon-triangle-right"></span> {% if next_name %}{{ next_name }}{% else %}{% trans 'Next' %}{% endif %}</button>
</div>

