{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block title %}{{ block.super }}{% trans 'Profile' %}{% endblock %}
{% block container %}
<div class="container-fluid">
  <h1 class="text-primary">{% trans 'Edit Profile' %}</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img title="profile picture" class="rounded-circle img-fluid" src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-9">
      <h3>{% trans 'Personal info' %}</h3>
      <form enctype="multipart/form-data" method="post">
	{% crispy user_form %}
	{% crispy profile_form %}
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-outline-dark float-right"
         href="{% url 'accounts:password-change' %}">{% trans 'Change Password' %}</a>
    </div>
  </div>
</div>
{% endblock %}


