{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}{{ block.super }}{% trans 'Profile' %}{% endblock %}
{% block container %}
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ show_user.get_full_name }}</h1>
      {% if editable %}
      <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">
        {% trans 'Edit Profile' %}</a>
      {% endif %}
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
  </div>
</div>
<div class="container profile-body">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item text-muted">{% trans 'Profile' as profile %}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans 'Email:' %}</strong></span> {{ show_user.email|default:"missing" }}
	  {% if show_user.profile.email_verified %}
	    <span class="fa fa-check-circle" aria-hidden="true"
            title="{% trans 'This email address has been verified' %}"></span>
	    <span class="sr-only">Verified</span>
	  {% else %}
	    <span class="fa fa-warning-sign" aria-hidden="true"
            title="{% trans 'This email address is not verified' %}"></span>
	    <span class="sr-only">Not Verified</span>
	  {% endif %}
	</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Joined" %}</strong></span>{{ show_user.date_joined }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Last seen" %}</strong></span>{{ show_user.last_login }}</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">{{ profile }}
	  {% if show_user.profile.slug %}
	    <a href="{% url 'profiles:show' show_user.profile.slug %}">
	    	<span class="fa fa-link" aria-hidden="true"
              title="{% trans 'Profile permalink' %}"></span>
	    	<span class="sr-only">Permalink</span></a> {{ show_user.profile.get_absolute_url }}
	  {% else %}
		<a href="https://github.com/arocks/edge/issues/40"
       target="_blank"><span>{% trans 'No permalink. See this issue.' %}</span></a>
	  {% endif %}
	</div>
        <div class="panel-body">
	  <strong>{% trans 'Bio' %}</strong>: {{ show_user.profile.bio }}
	</div>
      </div>
        <div class="panel-default panel-body">
            <strong>{% trans 'API Auth token' %}</strong> {{ user.auth_token }}
          <a href="{% url 'profiles:reset_token' %}"
             class="btn btn-sm btn-info">{% if user.auth_token %}{% trans 'Reset' %}
              {% else %}{% trans 'Create' %}{% endif %}
          </a>
        </div>
        {% for token in tokens %}
            <div class="panel-default panel-body">
                <strong>{% trans 'Auth token for' %}</strong> {{ token.instance_name }}
              <a href="{% url 'profiles:delete_token' token.id %}"
                 class="btn btn-sm btn-info">{% trans 'Delete' %}
              </a>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


