<div class="dropdown">
  <a href="{% url 'table:display_view' id %}"
     class="btn btn-primary btn-sm"
     data-toggle="tooltip" title="Access the table with this view">
    <span class="glyphicon glyphicon-eye-open"></span> Table</a>
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
          data-toggle="dropdown"> More <span class="caret"></span>
  </button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <button type="button"
              class="btn btn-default btn-sm js-view-edit align-middle"
              data-url="{% url 'table:view_edit' id %}"
              data-toggle="tooltip" title="Change elements in view">
          <span class="glyphicon glyphicon-pencil"></span> Edit
      </button>
    </li>
    <li>
      <button type="button"
              class="btn btn-default btn-sm js-view-clone align-middle"
              data-url="{% url 'table:view_clone' id %}"
              data-toggle="tooltip" title="Create an identical view">
        <span class="glyphicon glyphicon-duplicate"></span> Clone
      </button>
    </li>
    <li>
      <button type="button"
              class="btn btn-default btn-sm js-view-delete"
              data-url="{% url 'table:view_delete' id %}"
              data-toggle="tooltip" title="Delete the view">
        <span class="glyphicon glyphicon-trash"></span> Delete</button>
    </li>
  </ul>
</div>
