{% load i18n %}
<div class="dropright">
  <button class="btn btn-light btn-sm" type="button"
          id="tableRowOperations"
          data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button>
  <div class="dropdown-menu" aria-labelledby="tableRowOperations">
    <div class="dropdown-item">
      <a class="btn btn-light spin" href="{{ edit_url }}" style="width: unset;">
        <span class="fa fa-pencil"></span> {% trans 'Edit' %}
      </a>
      <a href="{{ stat_url }}" class="btn btn-light spin" style="width: unset;">
        <span class="fa fa-bar-chart"></span> {% trans 'Statistics' %}
      </a>
      <a class="btn btn-light js-row-delete" href="#" style="width: unset;"
         data-url="{% url 'table:row_delete' %}{{ delete_key }}">
        <span class="fa fa-trash"></span> {% trans 'Delete' %}
      </a>
    </div>
  </div>
</div>
