{% load i18n %}
<div id="column-stat-selector" class="dropdown btn-group">
  <button type="button" class="btn btn-outline-dark dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-bar-chart"></span> {% trans 'Column statistics' %}</button>
  <div class="shadow dropdown-menu" aria-labelledby="column-stat-selector">
    {% for column in columns %}
      {% if not column.is_key %}
        <button type="button" class="dropdown-item js-show-stats"
                data-url="{% url 'table:stat_column_JSON' column.id %}">{{ column.name }}</button>
      {% endif %}
    {% endfor %}
  </div>
</div>
