{% load i18n %}
<div class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
          data-toggle="dropdown"> {% trans 'Operations' %} <span class="caret"></span>
  </button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <a href="{{ stat_url }}"
         class="btn btn-default btn-sm align-middle"
            data-toggle="tooltip" 
            title="{% trans 'Statistics about this column' %}">
        <span class="glyphicon glyphicon-stats"></span> {% trans 'Stats' %}
      </a>
    </li>
    <li>
      <a class="btn btn-default btn-sm" href="{{ edit_url }}"
         data-toggle="tooltip" 
         title="{% trans 'Edit the data in this row' %}">
        <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit' %}
      </a>
    </li>
    <li>
      <button type="button"
              class="btn btn-default btn-sm js-row-delete"
              data-url="{% url 'table:row_delete' %}{{ delete_key }}"
              data-toggle="tooltip" 
              title="{% trans 'Delete this row' %}">
        <span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}
      </button>
    </li>
  </ul>
</div>
