{% load i18n %}
<div class="btn-group dropdown">
  <button class="btn btn-light btn-sm" type="button"
          id="viewOperations"
          data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button>
  <div class="dropdown-menu" aria-labelledby="viewOperations">
    <button type="button"
            class="dropdown-item js-view-edit"
            data-url="{% url 'table:view_edit' id %}"
            data-toggle="tooltip"
            title="{% trans 'Change elements in view' %}">
        <span class="fa fa-pencil"></span> {% trans 'Edit' %}
    </button>
    <button type="button"
            class="dropdown-item js-view-clone"
            data-url="{% url 'table:view_clone' id %}"
            data-toggle="tooltip"
            title="{% trans 'Create an identical view' %}">
      <span class="fa fa fa-clone"></span> {% trans 'Clone' %}
    </button>
    <button type="button"
            class="dropdown-item js-view-delete"
            data-url="{% url 'table:view_delete' id %}"
            data-toggle="tooltip"
            title="{% trans 'Delete the view' %}">
      <span class="fa fa-trash"></span> {% trans 'Delete' %}</button>
  </div>
</div>
