{% load i18n %}
<div class="condition-btn btn-group" role="group">
  <a href="{% url 'table:display_view' id %}"
     class="btn btn-outline-dark btn-sm"
     data-toggle="tooltip"
     title="{% trans 'Access the table with this view' %}">
    <span class="fa fa fa-eye"></span> {% trans 'Table' %}</a>
  <button type="button"
          class="btn btn-outline-dark btn-sm js-view-edit align-middle"
          data-url="{% url 'table:view_edit' id %}"
          data-toggle="tooltip"
          title="{% trans 'Change elements in view' %}">
      <span class="fa fa-pencil"></span> {% trans 'Edit' %}
  </button>
  <button type="button"
          class="btn btn-outline-dark btn-sm js-view-clone align-middle"
          data-url="{% url 'table:view_clone' id %}"
          data-toggle="tooltip"
          title="{% trans 'Create an identical view' %}">
    <span class="fa fa fa-clone"></span> {% trans 'Clone' %}
  </button>
  <button type="button"
          class="btn btn-outline-danger btn-sm js-view-delete"
          data-url="{% url 'table:view_delete' id %}"
          data-toggle="tooltip"
          title="{% trans 'Delete the view' %}">
    <span class="fa fa-trash"></span> {% trans 'Delete' %}</button>
</div>
