{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}CSV Upload{% endblock %}

{% block extrahead %}
  {{ wizard.form.media }}
{% endblock %}

{% block container %}
<div align="center" class="container">
  <h1 class="page-header">CSV Upload</h1>

  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  <form action="{% url 'dataops:csvupload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {{ form }}
        {% endfor %}
      {% else %}
        {{ wizard.form }}
      {% endif %}
    </table>
    {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Prev step</button>
    {% endif %}
    <input type="submit" value="{% trans "Submit" %}"/>
  </form>
</div>
{% endblock %}
