{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}

{% block container %}

<div align="center" class="container">
  <h1 class="page-header">{{ request.session.ontask_workflow_name }}: Data
    Operations</h1>

<div align="center" class="container">
  <table class="table-condensed table-bordered" id="dataops-table">
    <thead>
      <td class="text-center">Operation</td>
      <td class="text-center">Description</td>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
          <a href="{% url 'dataops:csvupload1' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Update/Merge CSV
          </a>
        </td>
        <td style="vertical-align:middle">
          Upload data contained in a CSV file (typically saved using a spreadsheet or other data manipulation package).<br/>
          If the matrix is empty, the data will be simply loaded detecting those columns that seem to have values that are unique for every row.<br/>
          If your matrix already has data, it will ask you to match one column in your matrix with unique values, with another one with unique values from the file that is uploaded.
        </td>
      </tr>

      <tr>
        <td class="text-center">
          <a href="{% url 'dataops:rowfilter' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Row data entry
          </a>
        </td>
        <td style="vertical-align:middle">
          Upload data for a single row of the workflow (non empty) data structure.
        </td>
      </tr>

      <tr>
        <td class="text-center">
          <a href="transformers" class="btn btn-primary" disabled="disabled">
            <span class="glyphicon glyphicon-plus"></span> Transformer
          </a>
        </td>
        <td style="vertical-align:middle">
          Functions that transform the data in the matrix. <strong>To be implemented</strong>
        </td>
      </tr>

      <tr>
        <td class="text-center">
          <a href="s3bucket" class="btn btn-primary" disabled="disabled">
            <span class="glyphicon glyphicon-plus"></span> S3 Bucket Upload
          </a>
        </td>
        <td style="vertical-align:middle">
          Upload from a S3 Bucket. <strong>To be implemented</strong>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock container %}




