{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}Dataops{% endblock %}

{% block container %}
<div align="center" class="container-fluid">
  <h1 class="page-header">Upload/Merge</h1>

  <div align="center" class="container">
    <table class="table-condensed table-bordered" id="dataops-table">
      <thead>
        <tr>
          <th class="text-center">Operation</th>
          <th class="text-center">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:csvupload1' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> CSV Upload/Merge
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data contained in a CSV file (typically saved using a spreadsheet or other data manipulation package).<br/>
            If the table is empty, the data will be simply loaded detecting those columns that have unique values for every row.<br/>
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the file
            to upload so that the rows can be matched.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:excelupload1' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> Excel Upload/Merge
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data contained in an Excel file.<br/>
            Given a file name and the name of a sheet, upload or merge the
            content of the Excel file.<br/>
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the file
            to upload so that the rows can be matched.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:sqlupload1' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> SQL Upload/Merge
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data contained in an SQL database providing all the
            parameters required for the connection and either a query or a
            table name.<br/>
            If the table is empty, the data will be simply loaded detecting those columns that have unique values for every row.<br/>
            If the table already has data, the operation will ask you to match one column in your table with unique values, with another one with unique values from the file that is uploaded so that the columns can be merged with the
            existing data.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock container %}
