{% extends 'base.html' %}
{% load i18n %}
{% load settings %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block extrahead %}
  <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}{% otv %}"></script>
{% endblock %}
{% block title %}{{ block.super }}{% trans 'Add row' %}{% endblock %}
{% block container %}
<div align="center" class="container">
  <h1 class="page-header">{% trans 'Add row' %}</h1>
  <p>{% trans 'Workflow {{ workflow.name }}' %}</p>
  <div class="container">
    <form action="" method="post">
      {% csrf_token %}
      {% if cancel_url %}
        <button type="button" class="btn btn-default"
        onclick="location.href='{{ cancel_url }}'">{% trans 'Cancel' %}</button>
      {% endif %}
      <button type="submit" name="submit" value="update"
              class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> {% trans 'Add' %}
      </button>
      <div class="input-group input-group-lg">
        {{ form|crispy }}
      </div>
      {% if cancel_url %}
        <button type="button" class="btn btn-default"
        onclick="location.href='{{ cancel_url }}'">{% trans 'Cancel' %}</button>
      {% endif %}
      <button type="submit" name="submit" value="update"
              class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> {% trans 'Add' %}
      </button>
    </form>
  </div>
  {% if not form %}
    <p><strong>{% trans 'No data available for this workflow' %}</strong></p>
  {% endif %}
</div>
{% endblock container %}
