{% extends 'base.html' %}
{% load i18n %}
{% load settings %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block extrahead %}
  <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}{% otv %}"></script>
{% endblock %}
{% block title %}{{ block.super }}{% trans 'Edit learner data' %}{% endblock %}
{% block container %}
<div align="center" class="container">
  <h1 class="page-header">{% trans 'Edit learner data' %}</h1>
  {% if row_form %}
    <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        {% if cancel_url %}
          <a class="btn btn-default" href="{{ cancel_url }}">{% trans 'Cancel' %}</a>
        {% endif %}
        <button type="submit" name="submit" value="update"
                class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span> {% trans 'Update' %}
        </button>
        <div class="input-group input-group-lg">
          {{ row_form|crispy }}
        </div>
        {% if cancel_url %}
          <a class="btn btn-default" href="{{ cancel_url }}">{% trans 'Cancel' %}</a>
        {% endif %}
        <button type="submit" name="submit" value="update"
                class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span> {% trans 'Update' %}
        </button>
      </form>
    </div>
  {% else %}
    <p><strong>{% trans 'No data available for this workflow' %}</strong></p>
  {% endif %}
</div>
{% endblock container %}
