{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'SQL Connections' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("sqlconn-table") != null) {
      // Required for DataTables
      $(document).ready(function() {
        $('#sqlconn-table').DataTable({
          "stateSave": true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [],
          "language": {
              "emptyTable": "{% trans 'No sql connections available.' %}",
              "url": getLanguage()
          },
          "columnDefs": [
              {"orderable": false, "targets": 10},
              {"searchable": false, "targets": 10},
          ],
          colReorder: false,
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="sql-connections">
    <h1 class="text-center">{% trans 'SQL Connections' %}</h1>
    {% if table.data|length %}
      <div class="row justify-content-center" id="sqlconn-area">
        {% render_table table %}
      </div>
    {% else %}
    <p class="text-center">{% blocktrans %}In this page you will find the available SQL connections to
    access data stored in external relational databases. The connections can only
      be created by the system administrator.{% endblocktrans %}</p>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}




