{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'SQL Connections' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("sqlconn-admin-table") != null) {
      // Required for DataTables
      $(document).ready(function() {
        var sqlconn_admin_table = $('#sqlconn-admin-table').DataTable({
          "search": {
            "caseInsensitive": true,
          },
          "stateSave": true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [[0  , "asc"]],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": [0, 2]},
            {"orderable": false, "targets": 2},
            {"searchable": false, "targets": 2},
          ],
          colReorder: false,
          rowReorder: false,
          "responsive": false,
        });
        sqlconn_admin_table.columns().iterator('column', function (ctx, idx) {
          $(sqlconn_admin_table.column(idx).header()).append('<span class="sort-icon"/>');
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div id="sql-connections" class="container-fluid">
    <h1 class="text-center">{% trans 'SQL Connections' %}</h1>
    <div class="text-center mb-3">
      <button type="button" class="shadow btn btn-outline-dark js-sqlconn-add"
              data-url="{% url 'dataops:sqlconn_add' %}"
              data-toggle="tooltip"
              title="{% trans 'Add a new SQL database connection' %}">
        <span class="fa fa-plus"></span>
          {% trans 'New SQL connection' %}
      </button>
    </div>
    <div class="justify-content-center">
      {% render_table table %}
    </div>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
