{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}{% otv %}"></script>
{% endblock %}

{% block title %}{{ block.super }}Upload/Merge CSV{% endblock %}

{% block container %}
  <div align="center" class="container">
    <h1 class="page-header">Step 3: Select Unique Keys to Merge</h1>

    <div align="center" class="container" style="display:inline-block;">
      <form method="POST" action="">
        {% csrf_token %}
        {% include 'dataops/includes/csvupload_buttons.html' %}
        {{ form|crispy }}
        {% include 'dataops/includes/csvupload_buttons.html' %}
      </form>
    </div>
  </div>
{% endblock container %}
