{% extends 'base.html' %}
{% load i18n %}
{% load settings %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}{% otv %}"></script>
{% endblock %}
{% block title %}{{ block.super }}{% trans 'Upload/Merge' %} {{ dtype }}{% endblock %}
{% block container %}
<div align="center" class="container-fluid">
  <h1 class="page-header">{% trans 'Step 1: Select' %}
    {{ dtype_select }}</h1>

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group input-group-lg">
    {{ form|crispy }}
    {% include 'dataops/includes/upload_buttons.html' %}
    </div>
  </form>
</div>

{% endblock container %}
