{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}

{% block container %}

<div align="center" class="container">
  <h1 class="page-header">Data Operations</h1>

  <div align="center" class="container">
    <table class="table-condensed table-bordered" id="dataops-table">
      <thead>
        <tr>
          <th class="text-center">Operation</th>
          <th class="text-center">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:csvupload1' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> Upload/Merge CSV
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data contained in a CSV file (typically saved using a spreadsheet or other data manipulation package).<br/>
            If the table is empty, the data will be simply loaded detecting those columns that seem to have values that are unique for every row.<br/>
            If your table already has data, it will ask you to match one column in your table with unique values, with another one with unique values from the file that is uploaded.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock container %}
