{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}

{% block container %}
<div align="center" class="container">
  <h1 class="page-header">Data Operations</h1>

  <div align="center" class="container">
    <table class="table-condensed table-bordered" id="dataops-table">
      <thead>
        <tr>
          <th class="text-center">Operation</th>
          <th class="text-center">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:csvupload1' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> CSV Upload/Merge
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data contained in a CSV file (typically saved using a spreadsheet or other data manipulation package).<br/>
            If the table is empty, the data will be simply loaded detecting those columns that have unique values for every row.<br/>
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the file
            to upload so that the rows can be matched.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:excelupload1' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> Excel Upload/Merge
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data contained in an Excel file.<br/>
            Given a file name and the name of a sheet, upload or merge the
            content of the Excel file.<br/>
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the file
            to upload so that the rows can be matched.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="{% url 'dataops:sqlconns' %}" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> SQL Connections
            </a>
          </td>
          <td style="vertical-align:middle">
            Upload data stored in a remote database by defining connections.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock container %}
