{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% block title %}{{ block.super }}{% trans 'Attributes' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("attribute-table") != null) {
        $(document).ready(function() {
            $('#attribute-table').DataTable({
                "search": {
                  "caseInsensitive": true,
                },
                stateSave: true,
                "order": [[0, "asc"]],
                "language": {
                    "emptyTable": "{% trans 'No attributes defined.' %}",
                    "url": getLanguage()
                },
                "columnDefs": [
                    {"orderable": false, "targets": 2},
                    {"searchable": false, "targets": 2},
                ],
            });
        });
    }
  </script>
{% endblock %}
{% block container %}
  <div align="center" class="container">
    <h1 class="page-header">{% trans 'Workflow Attributes' %}</h1>
    <div style="display: inline-block;" id="workflow-attributes">
      {% include 'workflow/includes/workflow_attribute_buttons.html' %}
      {% render_table table %}
    </div>
  </div>
  {% include 'modal.html' %}
{% endblock container %}




