{% extends 'base.html' %}
{% load i18n %}
{% load settings %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% block title %}{{ block.super }}{% trans 'Attributes' %}{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}{% otv %}"></script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
    if (document.getElementById("attribute-table") != null) {
        $(document).ready(function() {
            $('#attribute-table').DataTable({
                "search": {
                  "caseInsensitive": true,
                },
                stateSave: true,
                "order": [[0, "asc"]],
                "language": {
                    "emptyTable": "{% trans 'No attributes defined.' %}",
                    "url": getLanguage()
                },
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"},
                    {"orderable": false, "targets": 2},
                    {"searchable": false, "targets": 2},
                ],
            });
        });
    }
  </script>
{% endblock %}
{% block container %}
<div align="center" class="container">
  <h1 class="page-header">{% trans 'Workflow Attributes' %}</h1>
  <div style="display: inline-block;" id="workflow-attributes">
    {% include 'workflow/includes/workflow_attribute_buttons.html' %}
    {% render_table table %}
  </div>
  <div class="modal fade" id="modal-item" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
{% endblock container %}




