{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Details' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
  <link href="{% static 'site/css/sol.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block scripts %}
  {% if workflow %}
    {% ontask_datetimepicker_js %}
    <script src="{% static 'site/js/sol.js' %}"></script>
    <script src="{% static 'workflow/js/workflow.js' %}?v={% ontask_version %}"></script>
    <script src="{% static 'workflow/js/column_move.js' %}?v={% ontask_version %}"></script>
    {% ontask_datatables_jquery_js %}
    {% ontask_datatables_bootstrap_js %}
    <script type="text/javascript">
      if (document.getElementById("column-table") != null) {
        $(document).ready(function() {
          var column_table = $('#column-table').DataTable({
            "language": {
              "url": location.protocol + getLanguage()
            },
            "stateSave": true,
            stateSaveParams: function (settings, data) {
              delete data.search;
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
              url: "{% url 'workflow:column_ss' %}",
              type: 'POST',
            },
            "columns": [
              {"data": "number", "class": "dt-center"},
              {"data": "name", "class": "dt-center"},
              {"data": "description"},
              {"data": "type", "class": "dt-center"},
              {"data": "key", "class": "dt-center"},
              {"data": "operations", "class": "dt-center"},
            ],
            "columnDefs": [
              {"orderable": false, "targets": 5},
              {"searchable": false, "targets": "operations"},
            ],
            "drawCallback": function(settings) {
              $('[data-toggle="tooltip"]').tooltip({ trigger: "hover"});
            },
            colReorder: false,
            rowReorder: { dataSrc: 'name' },
          });
          // Process the column reorder events
          column_table.on("row-reordered", row_reordered);
        });
      }
    </script>
  {% endif %}
{% endblock %}
{% block container %}
  <div class="container-fluid" id="workflow-detail">
    <h2 class="text-center">{% trans 'Column Operations' %}</h2>
    {% if not table_info %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif not table_info.num_actions %}
      {% include 'workflow/includes/no_actions.html' %}
    {% endif %}
    <div class="text-center mb-3">
      {% if workflow.nrows != 0 %}
        {% include 'workflow/includes/add_column_menu.html' %}
      {% endif %}
      {% include 'workflow/includes/manage_table_data.html' %}
    </div>
    {% if table_info %}
      <div class="container-fluid justify-content-center">
        <table class="table table-hover table-bordered"
               id="column-table" data-url="{% url 'workflow:column_move' %}">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Description' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Key?' %}</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
      <p class="text-center">{% blocktrans %}You may drag and drop the columns from the left-most cell to change their position in the workflow.{% endblocktrans %}</p>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}

