{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extrahead %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock extrahead %}

{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
    if (document.getElementById("column-table") != null) {
        // Required for DataTables
        $(document).ready(function() {
            $('#column-table').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                  url: "{% url 'workflow:column_ss' workflow.id %}",
                  type: 'POST',
                },
                columns: [
                  { "data": "Name" },
                  { "data": "Type" },
                  { "data": "Unique" },
                  { "data": "Operations" },
                ],
                "order": [[2, 'desc']],
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"},
                    {"orderable": false, "targets": 3},
                    {"searchable": false, "targets": 3},
                ],
                "createdRow": function(row, data, dataIndex) {
                    if (data['Unique'] == '<span class="true">✔</span>') {
                      $(row).addClass('success');
                    }
                }
              });
        });
    }
  </script>
{% endblock %}

{% block title %}{{ block.super }}{{ workflow.name }}{% endblock %}

{% block container %}
<div align="center" class="container-fluid">
  <h1 class="page-header">Workflow Details</h1>

  {% if workflow %}
    <div style="display: inline-block;" id="workflow-table">
      {% include 'workflow/includes/workflow_detail_buttons.html' %}
      <p>Name: {{ workflow.name }}</p>
      <p class="help-block">Description: {{ workflow.description_text }}</p>
      <p class="help-block">Last modified: {{ workflow.modified }}</p>
      {% if table_info %}
        <p class="help-block">{{ table_info.num_rows }} rows, {{ table_info.num_cols }} columns (<mark>{{ num_key_columns }} Key columns</mark>)</p>
        <table class="table display dataTable no-footer table-bordered"
               id="column-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Unique</th>
              <th>Operations</th>
            </tr>
          </thead>
        </table>
      {% else %}
        <p>The workflow does not have data.</p>
        <p>Go to <a href="{% url 'dataops:list' %}">DataOps</a> to upload data</p>
      {% endif %}
    </div>

    <div class="modal fade" id="modal-item">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  {% else %}
    Go to <a href="{% url 'workflow:index' %}">your list of workflows</a>
  {% endif %}
</div>
{% endblock container %}




