{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Details' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
  {% ontask_datetimepicker_css %}
  <link href="{% static 'site/css/sol.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block scripts %}
  {% if workflow %}
    {% ontask_datetimepicker_js %}
    <script src="{% static 'site/js/sol.js' %}"></script>
    <script src="{% static 'workflow/js/workflow.js' %}?v={% ontask_version %}"></script>
    <script src="{% static 'workflow/js/column_move.js' %}?v={% ontask_version %}"></script>
    {% ontask_datatables_jquery_js %}
    {% ontask_datatables_bootstrap_js %}
    <script type="text/javascript">
      if (document.getElementById("column-table") != null) {
        $(document).ready(function() {
          $('#column-table').DataTable({
            "language": {
              url: getLanguage()
            },
            "stateSave": true,
            stateSaveParams: function (settings, data) {
              delete data.search;
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
              url: "{% url 'workflow:column_ss' workflow.id %}",
              type: 'POST',
            },
            "columns": [
              {"data": "number", "class": "dt-center"},
              {"data": "name", "class": "dt-center"},
              {"data": "description", "class": "dt-center"},
              {"data": "type", "class": "dt-center"},
              {"data": "key", "class": "dt-center"},
              {"data": "operations", "class": "dt-center operations"},
            ],
            "order": [],
            "columnDefs": [
              {"orderable": false, "targets": "_all"},
              {"searchable": false, "targets": "operations"},
            ],
            "drawCallback": function(settings) {
              $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
            },
          });
        });
      }
    </script>
  {% endif %}
{% endblock %}
{% block container %}
  <div class="container" id="workflow-detail">
    <h2 class="text-center">{% trans 'Columns' %}</h2>
    {% if not table_info %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif not table_info.num_actions %}
      {% include 'workflow/includes/no_actions.html' %}
    {% endif %}
    <div class="row justify-content-center">
      <div class="condition-btn btn-group" role="group">
        {% if workflow.nrows != 0 %}
          {% include 'workflow/includes/add_column_menu.html' %}
        {% endif %}
        {% include 'workflow/includes/manage_table_data.html' %}
      </div>
    </div>
    {% if table_info %}
      <table class="table table-striped dataTable no-footer" id="column-table">
        <thead>
          <tr>
            <th class="number">#</th>
            <th class="name">{% trans 'Name' %}</th>
            <th class="name">{% trans 'Description' %}</th>
            <th class="type">{% trans 'Type' %}</th>
            <th class="key">{% trans 'Key?' %}</th>
            <th class="operations">{% trans 'Operations' %}</th>
          </tr>
        </thead>
      </table>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}

