{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Export Done' %}{% endblock %}
{% block scripts %}
  <script>
    $(window).on('load', function(){ location.href="{% url 'workflow:export' include %}"; });
  </script>
{% endblock scripts %}
{% block container %}
  <div class="container" style="text-align:center;">
    <h1 class="text-center">{% trans 'Workflow export' %}</h1>
    <p class="text-center">{% trans 'Your download will start shortly' %}</p>
    <a class="shadow btn btn-outline-dark spin"
       href="{% url 'workflow:operations' %}">{% trans 'Back' %}</a>
  </div>
{% endblock container %}
