{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}{% otv %}"></script>
{% endblock %}

{% block title %}{{ block.super }}Export Workflow{% endblock %}

{% block container %}
  <div align="center" class="container">
    <h1 class="page-header">Export Workflow</h1>

      <form action="{% url 'workflow:export_ask' %}" method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          {% if form.errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <p>Workflow name: {{ name }}</p>
          <p>Number of rows/columns: {{ nrows }}/{{ ncols }}</p>
          <p>Number of actions: {{ nactions }}</p>
          {% if nactions > 0 %}
            <p>Select the actions to include in the export:</p>
            <table class="table display dataTable table-bordered">
            <thead>
              <tr>
                <th class="text-center">Action</th>
                <th class="text-center">
                  All <input type="checkbox" id="checkAll">
                </th>
              </tr>
            </thead>
            <tbody>
              {% for field in form.visible_fields %}
                <tr>
                  <td>"{{ field.label_tag }}" {{ field.help_text }}</td>
                  <td class="text-center">
                    {% if field.errors %}
                      <ul>
                        {% for error in field.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {{ field }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" class="btn btn-default"
          onclick="location.href='{% url 'workflow:detail' wid %}'">Cancel
          </button>
          <button class="btn btn-primary btn-space"
                  type="Submit" name="Submit" value="Submit">
            <span class="glyphicon glyphicon-export"></span> Export</button>
        </div>
      </form>
  </div>
{% endblock %}



