{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}{% otv %}"></script>
{% endblock %}

{% block title %}{{ block.super }}Import Workflows{% endblock %}

{% block container %}
  <div align="center" class="container">
    <h1 class="page-header">Import Workflow</h1>

      <form action="{% url 'workflow:import' %}" method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          {{ form|crispy }}
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" class="btn btn-default"
          onclick="location.href='{% url 'workflow:index' %}'">Cancel</button>
          <button class="btn btn-primary btn-space"  style="margin-right:2ex;"
                  type="Submit" name="Submit" value="Submit">
            <span class="glyphicon glyphicon-import"></span> Import</button>
        </div>
      </form>
  </div>
{% endblock %}



