{% extends 'base.html' %}

{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}"></script>
{% endblock %}

{% block title %}{{ block.super }}Your Workflows{% endblock %}

{% block container %}
<div align="center" class="container">
  <h1 class="page-header">Your Workflows</h1>

  <p>
    <button type="button" class="btn btn-primary js-create-workflow"
            data-url="{% url 'workflow:create' %}"
            data-dst="refresh">
      <span class="glyphicon glyphicon-plus"></span>
        New Workflow
    </button>
  </p>

  {% render_table table %}

  <div class="modal fade" id="modal-item">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

</div>

{% endblock container %}
