{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Workflows' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script src="{% static 'workflow/js/workflow.js' %}?v={% ontask_version %}"></script>
  <script src="{% static 'dataops/js/dataops.js' %}?v={% ontask_version %}"></script>
  <script type="text/javascript">
    $('#modal-item').on('hide.bs.modal', function (e) {
      $('#div-spinner').show();
      location.reload();
    })
  </script>
{% endblock %}
{% block container %}
  <div class="container-fluid" id="workflow-index">
    {% if workflows|length %}
      <h1 class="text-center">{% trans 'Open or create a workflow' %}<super>*</super></h1>
    {% else %}
      <h1 class="text-center">{% trans 'Create a workflow' %}<super>*</super></h1>
    {% endif %}
    {% if not nwflows %}
      <p class="text-center"><strong>Next Step:</strong> The main element in OnTask is a <i>Workflow<super>*</super></i>. Start by first creating a workflow element using the <i>New Workflow</i> button below, and then upload data in its table.</p>
    {% endif %}
    <div class="text-center mb-3">
      <button type="button" class="shadow btn btn-outline-dark js-create-workflow"
              data-url="{% url 'workflow:create' %}"
              data-toggle="tooltip"
              title="{% trans 'Provide the name and description for a new workflow' %}">
        <span class="fa fa-plus"></span> {% trans 'New workflow' %}
      </button>
      <a href="{% url 'workflow:import' %}" class="shadow btn btn-outline-dark spin"
                data-toggle="tooltip"
                title="{% trans 'Import a file with an OnTask workflow' %}">
        <span class="fa fa-upload"></span>
          {% trans 'Import workflow' %}
      </a>
    </div>
    <div class="card-deck content-row">
      {% for wflow in workflows %}
        <div class="shadow card ontask-card mx-auto mb-3">
          <h5 class="card-header text-center spin">{{ wflow.name }}</h5>
          <div class="card-body spin">
            <p class="card-text">{{ wflow.description_text }}</p>
            <p class="card-text text-center">
        {% blocktrans count counter=wflow.nrows %}{{ counter }} row,{% plural %}{{ counter }} rows,{% endblocktrans %}
        {% blocktrans count counter=wflow.ncols %}{{ counter }} column,{% plural %}{{ counter }} columns,{% endblocktrans %}
        {% blocktrans count counter=wflow.actions.all|length %}{{ counter }} action{% plural %}{{ counter }} actions{% endblocktrans %}.</p>
          </div>
          <div class="wflow-buttons text-center">
            <a href="{% url 'action:index_set' wflow.id %}"
               class="btn btn-light btn-sm card-link spin"
               data-toggle="tooltip"
               title="{% trans 'Open the workflow to manipulate its data and actions' %}">
                <span class="fa fa-book"></span> {% trans 'Open' %}
            </a>
            {% if request.user == wflow.user %}
              <button type="button"
                      class="btn btn-light btn-sm js-workflow-update align-middle"
                      data-url="{% url 'workflow:update' wflow.id %}" data-toggle="tooltip"
                      title="{% trans 'Change the name and description of this workflow' %}">
                  <span class="fa fa-pencil"></span>
              </button>
              <button type="button"
                 class="btn btn-light btn-sm js-workflow-clone align-middle"
                      data-url="{% url 'workflow:clone' wflow.id %}" data-toggle="tooltip"
                      title="{% trans 'Create a duplicate of this workflow' %}">
                <span class="fa fa fa-clone"></span>
              </button>
              <button type="button"
                      class="btn btn-light btn-sm js-workflow-flush{% if workflow.nrows == 0 %} disabled{% endif %}"
                      data-url="{% url 'workflow:flush' wflow.id %}" data-toggle="tooltip"
                      title="{% trans 'Delete the data in the table of this workflow' %}">
                <span class="fa fa-minus-square"></span>
              </button>
              <button type="button"
                      class="btn btn-light btn-sm js-workflow-delete"
                      data-url="{% url 'workflow:delete' wflow.id %}" data-toggle="tooltip"
                      title="{% trans 'Delete this workflow' %}">
                <span class="fa fa-trash"></span>
              </button>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <p class="text-left small"><strong><super>*</super></strong>{% blocktrans %}A workflow contains a <i>table
    </i> with data about a set of learners and <i>a
      collection of actions</i>. The table is organised by <i>columns</i> and the information in each row corresponds
      to one learner. The actions will behave differently depending on the values stored for every learner and a set
      of conditions. These conditions can be written based on the values of the columns for each student. Typically,
      you create a workflow for a cohort of learners for which you have data available. Then you write the actions
      depending on a) when you want students to introduce data or b) when you want students to receive personalised
      data. The personalisation is done writing conditions to enable/disable text or other elements in a page. The
      page can either be sent to the learner through email, shown through a HTML address, or sent to another
      machine.{% endblocktrans %}
    </p>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
