{% extends 'base.html' %}
{% load i18n %}
{% load settings %}
{% load static %}
{% load django_tables2 %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}{% otv %}"></script>
{% endblock %}
{% block title %}{{ block.super }}{% trans 'Share' %}{% endblock %}
{% block container %}
<div align="center" class="container">
  <h1 class="page-header">{% trans 'Users with access to this workflow' %}</h1>
  <div style="display: inline-block;" id="workflow-shared">
    <a href="{% url 'workflow:detail' workflow.id %}"
       class="btn btn-default btn-sm">Back</a>
    <button type="button"
            class="btn btn-primary btn-sm js-share-create"
            data-url="{% url 'workflow:share_create' %}">
      <span class="glyphicon glyphicon-plus"></span> Add user
    </button>
    {% render_table table %}
  </div>
  <div class="modal fade" id="modal-item" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
{% endblock container %}
