{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'SQL Connections' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}?v={% ontask_version %}"></script>
  <script src="{% static 'dataops/js/dataops.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("sqlconn-table") != null) {
        // Required for DataTables
        $(document).ready(function() {
            $('#sqlconn-table').DataTable({
                "stateSave": true,
                "search": {
                  "caseInsensitive": true,
                },
                "order": [[0, "asc"]],
                "language": {
                    "emptyTable": "{% trans 'No SQL connections defined.' %}",
                    "url": getLanguage()
                },
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"},
                    {"orderable": false, "targets": 10},
                    {"searchable": false, "targets": 10},
                ],
              });
        });
    }
  </script>
{% endblock %}
{% block container %}
  <div align="center" class="container">
    <h1 class="page-header">{% trans 'SQL Connections' %}</h1>
    <p>
      <button type="button" class="btn btn-outline-dark js-create-workflow"
              data-url="{% url 'dataops:sqlconn_add' %}"
                data-toggle="tooltip"
                title="{% trans 'Add a new SQL database connection' %}">
        <span class="glyphicon glyphicon-plus"></span>
          {% trans 'New SQL connection' %}
      </button>
    </p>
    {% render_table table %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
