{% load i18n %}{% autoescape off %}
{% blocktrans %}Greetings.

You received this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans "Please click in the following link and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your login email is" %} {{ user.get_username }}

{% trans "Regards" %}

{% blocktrans %}The team behind {{ site_name }}{% endblocktrans %}
{% endautoescape %}

