{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Action execution' %}{% endblock %}
{% block scripts %}
  {% if download %}
    <script>location.href="{% url 'workflow:export' 1 %}";</script>
  {% endif %}
{% endblock scripts %}
{% block container %}
  {% url 'logs:view' log_id as record_url %}
  <div class="container-fluid" style="text-align:center;">
    <h1 class="page-header text-center">{% trans 'Action scheduled for execution' %}</h1>
    <div class="text-center">
      <a href="{{ record_url }}">{% blocktrans %}You may check the status in
        log record number {{ log_id }}.{% endblocktrans %}</a>
    </div>
    <div class="modal-footer" style="text-align: center;">
      <a class="btn btn-default spin" href="{% url 'action:index' %}">{% trans 'Back' %}</a>
    </div>
  </div>
{% endblock container %}
