{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Action execution' %}{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(window).on('load', function(){ location.href="{% url 'action:zip_export' %}"; })
  </script>
{% endblock scripts %}
{% block container %}
  <div class="container-fluid">
    <h1 id='zip-action-done' class="text-center">{% trans 'Action ZIP creation' %}</h1>
    <p class="text-center">{% blocktrans %}Your ZIP will start to download shortly.{% endblocktrans %}</p>
    <div class="text-center">
      <a class="shadow btn btn-outline-dark spin" href="{% url 'action:index' %}">{% trans 'Back' %}</a>
    </div>
  </div>
{% endblock container %}
