{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Action execution' %}{% endblock %}
{% block scripts %}
  {% if download %}
    <script>
      $(window).on('load', function(){ location.href="{% url 'workflow:export' 1 %}"; });
    </script>
  {% endif %}
{% endblock scripts %}
{% block container %}

  <div class="container-fluid text-center" id="action-run-done">
    <h1 class="text-center">{% trans 'Action scheduled for execution' %}</h1>
    <div class="text-center my-3">
      <a href="{% url 'logs:view' log_id %}">{% blocktrans %}You may check the status in
      log number {{ log_id }}.{% endblocktrans %}</a>
    </div>
    <div class="text-center">
      <a class="shadow btn btn-outline-dark spin" href="{% url 'action:index' %}">{% trans 'Back' %}</a>
    </div>
  </div>
{% endblock container %}
