{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Action execution' %}{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(window).on('load', function(){ location.href="{% url 'action:zip_export' %}"; })
  </script>
{% endblock scripts %}
{% block container %}
  <div class="container-fluid" style="text-align:center;">
    <h1 id='zip-action-done' class="page-header text-center">{% trans 'Action ZIP creation' %}</h1>
    <div class="text-center">
      {% blocktrans %}Your ZIP will start to download shortly.{% endblocktrans %}
    </div>
    <div class="modal-footer" style="text-align: center;">
      <a class="btn btn-default spin" href="{% url 'action:index' %}">{% trans 'Back' %}</a>
    </div>
  </div>
{% endblock container %}
