{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load widget_tweaks %}
{% load django_tables2 %}
{% block title %}{{ block.super }}{% trans 'Edit Survey' %}{% endblock %}
{% block extrahead %}
  {% ontask_datetimepicker_css %}
  <link href="{% static 'site/css/sol.css' %}" rel="stylesheet">
  <link href="{% static 'site/css/query-builder.default.min.css' %}" rel="stylesheet">
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}" ></script>
  {% with country=LANGUAGE_CODE|country %}
    <script src="{% static 'site/js/query-builder.'|add:country|add:'.js' %}"></script>
  {% endwith %}
  <script src="{% static 'site/js/sol.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    {% with js_var='qbuilder_options' allow_empty='false' %}
      {% include 'qbuilder_options.js' %}
    {% endwith %}
    console.log(getLanguage())
    if (document.getElementById("column-selected-table") != null) {
      $(document).ready(function() {
        $('#column-selected-table').DataTable({
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          stateSave: true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": [0, 2]},
            {"orderable": false, "targets": 2},
            {"searchable": false, "targets": 2},
          ],
          colReorder: false,
          rowReorder: false,
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="action-in-editor">
    <h1 class="text-center">{{ action.name }}</h1>
    <div class="text-center my-3">
      <button type="button"
              class="shadow btn btn-outline-info js-action-preview {% if not key_selected or not has_no_key or selected_rows == 0 %} disabled{% endif %}"
              data-url="{% url 'action:preview' action.id 1 %}"
              data-toggle="tooltip"
              title="{% trans 'See the content as shown to each learner' %}">
        <span class="fa fa fa-eye"></span> {% trans 'Preview' %}
      </button>
      <a href="{% url 'action:index' %}"
              class="shadow btn btn-outline-primary spin"
              data-toggle="tooltip"
              data-placement="auto"
              title="{% trans 'Save action and go back to action table' %}">
        <span class="fa fa-check"></span> {% trans 'Done' %}</a>
    </div>
    {% if not has_no_key %}
      <p class="shadow alert-danger text-center">{% trans 'There must be at least one question (non-key column) in the survey.' %}</p>
    {% endif %}
    {% if has_empty_description %}
      <p class="shadow alert-danger text-center">{% trans 'All questions should have non-empty descriptions.' %}</p>
    {% endif %}
    {% if not action.description_text %}
      <p class="shadow text-center alert-danger">{% trans 'No description text provided in Survey Parameters' %}</p>
    {% endif %}
    {% if not key_selected %}
      <p class="shadow alert-danger text-center" style="margin-top:1ex;">{% trans 'You need to specify a key column in Survey Parameters' %}</p>
    {% endif %}
    <ul class="nav nav-tabs border-0 justify-content-center"
        id="edit-personalized-text-tabs" role="tablist">
      <li class="nav-item pr-1">
        <a class="nav-link active border border-dark border-bottom-0"
           id="questions-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="true">Survey Questions</a>
      </li>
      <li class="nav-item pr-1">
        <a class="nav-link border border-dark border-bottom-0"
           id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="filter" aria-selected="false">Filter Learners
          {% if not filter_condition %}(Empty){% else %}{% blocktrans with n=selected_rows tot=total_rows count counter=selected_rows %}({{ n }} learner of {{ tot }}){% plural %}({{ n }} learners of {{ tot }}){% endblocktrans %}{% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link border border-dark border-bottom-0"
           id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters" aria-selected="false">Survey parameters</a>
      </li>
    </ul>
    <div class="tab-content" id="edit-survey-tab-content">
      <div class="shadow rounded tab-pane px-3 fade show active border border-dark"
           id="questions" role="tabpanel" aria-labelledby="questions-tab">
        <div id="insert-questions" class="text-center mt-3">
          <div id="column-selector">
            <div class="dropdown btn-group">
              <button type="button" class="btn btn-outline-dark dropdown-toggle"
                      data-toggle="dropdown">
                {% trans 'Insert existing question' %}
              </button>
              <div class="shadow dropdown-menu">
                {% for column in columns_to_insert %}
                  <button type="button" class="dropdown-item js-insert-question"
                          data-url="{% url 'action:select_column_action' action.id column.id %}">{{ column.name }}</button>
                {% endfor %}
              </div>
            </div>
            <button type="button"
                    class="btn btn-outline-dark js-workflow-question-add"
                    data-url="{% url 'workflow:question_add' action.id %}"
                    data-toggle="tooltip"
                    title="{% trans 'Add a new question to the action' %}">
              <span class="fa fa-plus"></span> {% trans 'Create question' %}
            </button>
          </div>
        </div>
  <div class="justify-content-center mb-3">
          {% render_table column_selected_table %}
        </div>
      </div>
      <div class="shadow rounded tab-pane px-3 fade show border border-dark"
           id="filter" role="tabpanel" aria-labelledby="filter-tab">
        {% include 'action/includes/partial_filter_tab.html' %}
      </div>
      <div class="shadow rounded tab-pane px-3 fade show border border-dark"
           id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
        <div class="my-3">
          <h5 class="text-center">Survey description (shown to learners)
            <button type="button"
                    class="btn btn-outline-dark js-description-edit"
                    data-url="{% url 'action:edit_description' action.id %}"
                    data-type="filter"
                    data-toggle="tooltip"
                    title="{% trans 'Edit description' %}">
              <span class="fa fa-pencil"></span> {% trans 'Edit' %}</button>
          </h5>
          {% if action.description_text %}
            <p class="border border-dark lead text-center">{{ action.description_text }}</p>
          {% endif %}
          <h5 class="text-center">
            {% trans 'Key column to match the user id' %}
            <div id="select-key-column-name" class="dropdown btn-group">
              <button type="button" class="btn btn-outline-dark dropdown-toggle"
                      data-toggle="dropdown">
                {% if not key_selected %}
                  {% trans 'Please, select Key column' %}
                {% else %}
                  {{ key_selected.name }}
                {% endif %}
              </button>
              <div class="shadow dropdown-menu">
                {% for column in action.workflow.columns.all %}
                  {% if column.is_key and column != key_selected %}
                    <button type="button" class="dropdown-item js-select-key-column-name"
                            data-url="{% url 'action:select_key_column_action' action.id column.id 1 %}">{{ column.name }}</button>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </h5>
          <h5 class="text-center">{% trans 'Shuffle questions?' %}
            <small>
              <input id="shuffle-questions"
                     {% if action.shuffle %}checked{% endif %}
                     data-toggle="toggle"
                     data-url="{% url 'action:shuffle_questions' action.id %}"
                     type="checkbox"/>
            </small>
          </h5>
        </div>
      </div>
    </div>
  </div>
  {% include 'modal.html' %}
{% endblock container %}

