{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load widget_tweaks %}
{% load django_tables2 %}
{% block styles %}
  <link href="{% static 'site/css/sol.css' %}" rel="stylesheet">
  <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
{% endblock styles %}
{% block extrahead %}
  <link href="{% static 'site/css/query-builder.default.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}" ></script>
  <script src="{% static 'site/js/sol.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}{% otv %}"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
    var qbuilder_options = {
      plugins: ['bt-tooltip-errors', 'not-group'],
      operators: ['equal', 'not_equal', 'less', 'less_or_equal',
                  'greater', 'greater_or_equal', 'between', 'not_between',
                  'begins_with', 'not_begins_with', 'contains', 'not_contains',
                  'ends_with', 'not_ends_with', 'is_empty', 'is_not_empty'],
      allow_empty: true,
      filters: {{ query_builder_ops|safe }},
    };
    if (document.getElementById("column-selected-table") != null) {
        $(document).ready(function() {
            $('#column-selected-table').DataTable({
                "search": {
                  "caseInsensitive": true,
                },
                stateSave: true,
                "order": [],
                "language": {
                    "emptyTable": "No columns selected."
                },
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"},
                    {"orderable": false, "targets": 2},
                    {"searchable": false, "targets": 2},
                ],
            });
        });
    }
  </script>
{% endblock %}
{% block title %}{{ block.super }}Edit Action In{% endblock %}
{% block container %}
  <div align="center" class="container-fluid" id="action-in-editor">
    <h1 class="page-header"><strong>{{ action.name }}</strong></h1>
    {% include 'action/includes/partial_filter_create_buttons.html' %}
    <h4>Description (shown to learners)
      <button type="button"
              class="btn btn-sm btn-primary js-description-edit"
              data-url="{% url 'action:edit_description' action.id %}"
              data-type="filter"
              data-toggle="tooltip"
              title="Edit description">
        <span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </h4>
    {% if action.description_text %}
      <p class="lead">{{ action.description_text }}</p>
    {% else %}
      <p class="alert-warning">No description text provided</p>
    {% endif %}
    <h4>Key column to match the user id</h4>
    <select id="select-key-column-name">
      {% if not key_selected %}
        <option value="">- Key column -</option>
      {% endif %}
      {% for col in action.workflow.columns.all %}
        {% if col.is_key %}
          <option
            value="{% url 'action:select_key_column_action' action.id col.id 1 %}"
            {% if col == key_selected %}selected{% endif %}>
            {{ col.name }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
    {% if not key_selected %}
      <p class="alert-danger" style="margin-top:1ex;">You need to
        specify a key column</p>
    {% endif %}
    <h4>Columns to obtain and store the data</h4>
    {% if not has_no_key %}
      <p class="alert-danger">There must be at least one non-key column.</p>
    {% endif %}
    {% if has_empty_description %}
      <p class="alert-danger">All items should have non-empty descriptions.</p>
    {% endif %}
    <div id="column-names">
      <div style="display: table-cell; padding-right: 1ex;">Insert</div>
      <div style="display: table-cell; padding-right: 1ex;">
          <select id="select-column-name">
            <option value="">- Column -</option>
            {% for col in columns_to_insert %}
              <option
                value="{% url 'action:select_column_action' action.id col.id %}">{{ col.name }}</option>
            {% endfor %}
          </select>
      </div>
      <div style="display: table-cell; padding-right: 1ex;">
        <button type="button"
                class="btn btn-primary btn-sm js-workflow-column-add"
                data-url="{% url 'workflow:column_add' %}"
                data-toggle="tooltip" title="Add a new column to the workflow">
          <span class="glyphicon glyphicon-plus"></span> Add new column
        </button>
      </div>
      <div style="display: table-cell; padding-right: 1ex;">
        <button type="button"
                class="btn btn-primary btn-sm js-workflow-formula-column-add"
                data-url="{% url 'workflow:formula_column_add' %}"
                data-toggle="tooltip"
                title="Add a new derived column to the workflow">
          <span class="glyphicon glyphicon-plus"></span> Add new derived column
        </button>
      </div>
    </div>
    <div class="container-fluid" id="column-selection"
         style="display: table-cell; padding-right: 1ex;padding-top:1ex;">
      {% render_table column_selected_table %}
    </div>
    <div class="text-center" style="margin-bottom:1.5ex;margin-top:1.5ex">
      <button type="button"
              class="btn btn-info js-action-preview {% if not key_selected or not has_no_key or selected_rows == 0 %} disabled{% endif %}"
              style="margin-right:2ex;"
              data-url="{% url 'action:preview' action.id 1 %}"
              data-toggle="tooltip"
              title="See the content as shown to each learner">
        <span class="glyphicon glyphicon-eye-open"></span> Preview
      </button>
      <a href="{% url 'action:index' %}"
              style="margin-right:2ex;"
              class="btn btn-primary"
              data-toggle="tooltip"
              data-placement="auto"
              title="Save and remain editing">
        <span class="glyphicon glyphicon-ok"></span> Done
      </a>
    </div>
    <div class="modal fade" id="modal-item" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
{% endblock container %}

