{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block extrahead %}
  <link href="{% static 'site/css/query-builder.default.min.css' %}"
        rel="stylesheet">
  {{ form.media }}
  {% comment %}
  {% for script_src in vis_scripts %}
    <script src="{{ script_src|safe }}"></script>
  {% endfor %}
  {% endcomment %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}{% otv %}"></script>
  <script type="text/javascript">
    var qbuilder_options = {
      plugins: ['bt-tooltip-errors', 'not-group'],
      operators: ['equal', 'not_equal', 'less', 'less_or_equal',
                  'greater', 'greater_or_equal', 'between', 'not_between',
                  'begins_with', 'not_begins_with', 'contains', 'not_contains',
                  'ends_with', 'not_ends_with', 'is_empty', 'is_not_empty'],
      allow_empty: false,
      filters: {{ query_builder_ops|safe }},
    };
    $(document).ready(function() {
      if (document.getElementById("id_content") != null) {
        initSummernote();
      }
    });
  </script>
{% endblock %}
{% block title %}{{ block.super }}Edit action Out{% endblock %}
{% block container %}
  <div align="center" class="container-fluid">
    <h1 class="page-header"><strong>{{ action.name }}</strong></h1>
    {% include 'action/includes/partial_filter_create_buttons.html' %}
    <div class="container-fluid">
      {% include 'action/includes/partial_condition_buttons.html' %}
      <div id="html-editor">
        <div id="attribute-names" style="margin-bottom:1ex;">
          <div style="display: table-cell; padding-right: 1ex;">Insert:</div>
          {% if attribute_names %}
            <div style="display: table-cell; padding-right: 1ex;">
                <select id="select-attribute-name">
                  <option value="">- Attribute -</option>
                  {% for attr in attribute_names %}
                    <option value="{{ attr }}">{{ attr }}</option>
                  {% endfor %}
                </select>
            </div>
          {% endif %}
          <div style="display: table-cell; padding-right: 1ex;">
              <select id="select-column-name">
                <option value="">- Column Value -</option>
                {% for colname in column_names %}
                  <option value="{{ colname }}">{{ colname }}</option>
                {% endfor %}
              </select>
          </div>
          {% comment %}
          <div style="display: table-cell;">
              <select id="select-visualization">
                <option value="">- Visualization -</option>
                {% for colname in column_names %}
                  <option value="{{ colname }}">{{ colname }}</option>
                {% endfor %}
              </select>
          </div>
          {% endcomment %}
        </div>
        <form action="" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ form|safe }}
          <div style="margin: 1ex 0 1ex 0;">
            <button type="button"
                    class="btn btn-info js-action-preview {% if selected_rows == 0 %}disabled{% endif %}"
                    style="margin-right:2ex;"
                    data-url="{% url 'action:preview' action.id 1 %}"
                    data-toggle="tooltip"
                title="See how is the content shown to each learner">
              <span class="glyphicon glyphicon-eye-open"></span> Preview
            </button>
            <button type="submit" name="Submit" value="Save-and-close"
                    class="btn btn-primary"
                    data-toggle="tooltip"
                    title="Save and go back">
              <span class="glyphicon glyphicon-ok"></span> Done</button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal fade" id="modal-item" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
{% endblock container %}

