{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block scripts %}
  <script>
    location.href="{% url 'action:export_download' action.id %}";
    $('#div-spinner').hide();
  </script>
{% endblock scripts %}
{% block title %}{% trans 'Action export' %}{% endblock %}
{% block container %}
  <div class="container-fluid" style="text-align:center;">
    <h1 class="page-header text-center">{% trans 'Action export' %}</h1>
    <p class="text-center">{% trans 'Done!' %}</p>
    <button type="button" class="btn btn-default"
      onclick="location.href='{% url 'action:index' %}'"> {% trans 'Back' %}
    </button>
  </div>
{% endblock container %}
