{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Action export' %}{% endblock %}
{% block scripts %}
  <script>
    location.href="{% url 'action:export_download' action.id %}";
    $('#div-spinner').hide();
  </script>
{% endblock scripts %}
{% block container %}
  <div class="container-fluid" style="text-align:center;">
    <h1 class="page-header text-center">{% trans 'Action export' %}</h1>
    <p class="text-center">{% trans 'Done!' %}</p>
    <a class="btn btn-default spin" href="{% url 'action:index' %}"> {% trans 'Back' %}</a>
  </div>
{% endblock container %}
