{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Actions' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'action/js/action.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      if (document.getElementById("action-table") != null) {
        // Required for DataTables
        $('#action-table').DataTable({
          "search": {
            "caseInsensitive": true,
          },
          "stateSave": true,
          "language": {
            "emptyTable": "{% trans 'There are no actions for this workflow.' %}",
            "url": getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": "_all"},
            {"orderable": false, "targets": 4},
            {"searchable": false, "targets": 4},
          ],
        });
      }
    });
  </script>
{% endblock %}
{% block container %}
  <div align="center" class="container">
    <h1 class="page-header">{% trans 'Actions' %}</h1>
    {% if not has_table %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif no_actions %}
      <p class="lead">{% blocktrans %}<strong>Next Step:</strong> Click in the <i>New action</i> below to create a new
      action to execute based on the data stored in the table.{% endblocktrans %}</p>
    {% endif %}
    <div class="btn-group" style="padding-bottom: 2ex;" role="group">
      <button type="button" class="btn btn-sm btn-default js-create-action"
         data-url="{% url 'action:create' %}"
         data-toggle="tooltip"
         title="New action to collect data from learners">
        <span class="glyphicon glyphicon-plus"></span> {% trans 'New action' %}
      </button>
      {% if has_table %}
        <a href="{% url 'action:import' %}"
           class="btn btn-sm btn-default"
           data-toggle="tooltip" title="Import action previously exported">
          <span class="glyphicon glyphicon-import"></span> {% trans 'Import action' %}</a>
      {% endif %}
      {% include 'workflow/includes/manage_table_data.html' %}
    </div>
    {% render_table table %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
