{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Actions' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'action/js/action.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      var action_table = $('#action-table').DataTable({
        "search": {
          "caseInsensitive": true,
        },
        "stateSave": true,
        stateSaveParams: function (settings, data) {
          delete data.search;
        },
        "language": {
          "emptyTable": "{% trans 'There are no actions for this workflow.' %}",
          "url": getLanguage()
        },
        "columnDefs": [
          {"className": "dt-center", "targets": [0, 3, 4]},
          {"orderable": false, "targets": 4},
          {"searchable": false, "targets": 4},
        ],
        colReorder: false,
        rowReorder: false,
      });
      action_table.columns().iterator('column', function (ctx, idx) {
        $(action_table.column(idx).header()).append('<span class="sort-icon"/>');
      });
    });
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="action-index">
    <h1 class="text-center">{% trans 'Actions' %}</h1>
    {% if not workflow.nrows %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif not workflow.actions.all|length %}
      <p class="lead text-center">{% blocktrans %}<strong>Next Step:</strong> Click in the <i>New action</i> below to create a new
      action to execute based on the data stored in the table.{% endblocktrans %}</p>
    {% endif %}
    <div class="text-center">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-outline-dark js-create-action"
                data-url="{% url 'action:create' %}"
                data-toggle="tooltip"
                title="New action to collect data from learners">
          <span class="fa fa-plus"></span> {% trans 'New action' %}
        </button>
        {% if workflow.nrows %}
          <a href="{% url 'action:import' %}"
             class="btn btn-outline-dark"
             data-toggle="tooltip" title="Import action previously exported">
            <span class="fa fa-upload"></span> {% trans 'Import action' %}</a>
        {% endif %}
        {% include 'workflow/includes/manage_table_data.html' %}
      </div>
    </div>
    {% if table.data|length %}
      <div class="container justify-content-center">
        {% render_table table %}
      </div>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
