{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Enter Data' %}{% endblock %}
{% block extrahead %}
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
{% endblock %}
{% block container %}
  <div align="center" class="container">
    <h4 class="page-header"><strong>{{ action.name }}</strong></h4>
    <p class="lead">{{ action.description_text }}</p>
    <div class="container-fluid">
      <form action="" method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg" style="padding-bottom:1.5ex;">
          {{ form|crispy }}
        </div>
        {% if cancel_url %}
          <a type="button" class="btn btn-outline-dark spin"
             href="{{ cancel_url }}"> {% trans 'Back' %}</a>
        {% endif %}
        <button type="submit" name="submit" value="update"
                class="btn btn-primary">
          <span class="fa fa-ok"></span> {% trans 'Update' %}</button>
      </form>
    </div>
  </div>
{% endblock container %}
