{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Run Action In' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script src="{% static 'table/js/table.js' %}?v={% ontask_version %}"></script>
  <script type="text/javascript">
    if (document.getElementById("actioninrun-data") != null) {
        // Required for DataTables
        $(document).ready(function() {
            $('#actioninrun-data').DataTable({
                stateSave: true,
                processing: true,
                serverSide: true,
                ajax: {
                  url: "{% url 'action:run_survey_ss' action.id %}",
                  type: 'POST',
                },
                "order": [0],
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],
                language: {
                  url: getLanguage()
                }
            });
        });
    }
  </script>
{% endblock %}
{% block container %}
  <div id="table-content" align="center" class="container"
       style="padding-top:2ex;">
    <h4 class="page-header">
      <strong>{{ action.name }}</strong>
      <a href="{% url 'action:edit' action.id %}"
         class="btn btn-outline-dark btn-sm align-middle">
      <span class="fa fa-pencil"></span> {% trans 'Edit' %}</a>
    </h4>
    <p class="help-block">{{ action.description_text }}</p>
    <table class="table display dataTable no-footer cell-border table-bordered"
           id="actioninrun-data">
      <thead>
        <tr>
          {% for c in columns %}
            <th>{{ c.name }}</th>
          {% endfor %}
        </tr>
      </thead>
    </table>
    <a class="btn btn-outline-dark spin" style="margin-right:2ex;"
       href="{% url 'action:index' %}"> {% trans 'Back' %}</a>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
