{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Run Action In' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script src="{% static 'table/js/table.js' %}?v={% ontask_version %}"></script>
  <script type="text/javascript">
    if (document.getElementById("actioninrun-data") != null) {
      // Required for DataTables
      $(document).ready(function() {
        $('#actioninrun-data').DataTable({
          stateSave: true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          processing: true,
          serverSide: true,
          ajax: {
            url: "{% url 'action:run_survey_ss' action.id %}",
            type: 'POST',
          },
          "order": [0],
          language: {
            url: getLanguage()
          },
          columnDefs: [
            {"className": "dt-center", "targets": "_all"},
          ],
          colReorder: false,
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="table-content">
    <h1 class="text-center">{{ action.name }}
      <a href="{% url 'action:edit' action.id %}"
         class="btn btn-outline-dark btn-sm align-middle">
      <span class="fa fa-pencil"></span> {% trans 'Edit' %}</a>
    </h1>
    <p class="help-block text-center">{{ action.description_text }}</p>
    <div class="row justify-content-center">
      <table class="table table-hover table-striped table-bordered" id="actioninrun-data">
        <thead>
          <tr>
            {% for c in columns %}
              <th>{{ c.name }}</th>
            {% endfor %}
          </tr>
        </thead>
      </table>
    </div>
    <div class="text-center">
      <a class="btn btn-outline-dark spin" href="{% url 'action:index' %}"> {% trans 'Back' %}</a>
    </div>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
