{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block scripts %}
  <script src="{% static 'action/js/action.js' %}{% otv %}"></script>
{% endblock %}

{% block title %}{{ block.super }}Enter Data{% endblock %}

{% block container %}
<div align="center" class="container">
    <h4 class="page-header"><strong>{{ action.name }}</strong></h4>
    <p class="help-block">{{ action.description_text }}</p>

  <div class="container-fluid">
    <form action="" method="post">
      {% csrf_token %}
      <a type="button" class="btn btn-defaul"
         href="{{ cancel_url }}"> Cancel
      </a>
      <button type="submit" name="submit" value="update"
              class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> Update
      </button>
      {{ form|crispy }}
      <a type="button" class="btn btn-defaul"
         href="{{ cancel_url }}"> Cancel
      </a>
      <button type="submit" name="submit" value="update"
              class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> Update
      </button>
    </form>
  </div>
</div>
{% endblock container %}
