{% extends 'base.html' %}
{% load i18n %}
{% load settings %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block extrahead %}
 {% comment %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
  {% endcomment %}
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock extrahead %}
{% block scripts %}
  <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="http://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script src="{% static 'table/js/table.js' %}{% otv %}"></script>
  <script type="text/javascript">
    if (document.getElementById("actioninrun-data") != null) {
        // Required for DataTables
        $(document).ready(function() {
            $('#actioninrun-data').DataTable({
                stateSave: true,
                processing: true,
                serverSide: true,
                ajax: {
                  url: "{% url 'action:run_survey_ss' action.id %}",
                  type: 'POST',
                },
                "order": [0],
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],
                language: {
                  url: getLanguage()
                }
            });
        });
    }
  </script>
{% endblock %}
{% block title %}{{ block.super }}{% trans 'Run Action In' %}{% endblock %}
{% block container %}
  <div id="table-content" align="center" class="container"
       style="padding-top:2ex;">
    <h4 class="page-header">
      <strong>{{ action.name }}</strong>
      <a href="{% url 'action:edit' action.id %}"
         class="btn btn-primary btn-sm align-middle">
      <span class="glyphicon glyphicon-folder-open"></span> {% trans 'Edit' %}</a>
    </h4>
    <p class="help-block">{{ action.description_text }}</p>
    <table class="table display dataTable no-footer cell-border table-bordered"
           id="actioninrun-data">
      <thead>
        <tr>
          {% for c in columns %}
            <th>{{ c.name }}</th>
          {% endfor %}
        </tr>
      </thead>
    </table>
    <button type="button" class="btn btn-default" style="margin-right:2ex;"
            onclick="location.href='{% url 'action:index' %}'"> {% trans 'Back' %}
    </button>
    <div class="modal fade" id="modal-item" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
{% endblock container %}
