{% load i18n %}
<div class=" btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-secondary btn-light js-workflow-column-edit"
     data-url="{% url 'column:column_edit' id %}"
     data-toggle="tooltip" title="{% trans 'Edit the parameters of this column' %}">
    <span class="fa fa-pencil"></span></button>
  <button type="button" class="btn btn-secondary btn-light js-column-delete"
          data-url="{% url 'column:delete' id %}"
          data-toggle="tooltip" title="{% trans 'Delete column' %}">
    <span class="fa fa-trash"></span></button>
  <div class="btn-group dropright" role="group">
    <button class="btn btn-light btn-secondary dropdown-toggle" type="button"
            id="columnOperations" data-toggle="dropdown"></button>
    <div class="shadow dropdown-menu dropdown-menu-right" aria-labelledby="columnOperations">
      <button type="button"
              class="dropdown-item js-column-clone align-middle"
              data-url="{% url 'column:column_clone' id %}"
              data-toggle="tooltip"
              title="{% trans 'Create an exact duplicate of this column' %}">
          <span class="fa fa-clone"></span>
        {% trans 'Clone' %}
      </button>
      {% if not is_key %}
        <a href="{% url 'table:stat_column' id %}"
           class="dropdown-item spin"
           data-toggle="tooltip"
           title="{% trans 'Statistics about this column' %}">
          <span class="fa fa-bar-chart"></span>
          {% trans 'Statistics' %}</a>
        <button type="button"
                class="dropdown-item js-column-restrict"
                data-url="{% url 'column:column_restrict' id %}"
                data-toggle="tooltip"
                title="{% trans 'Restrict the use of values to the ones already in the column' %}">
          <span class="fa fa-compress"></span>
          {% trans 'Restrict values' %}
        </button>
      {% endif %}
      <div class="dropdown-divider"></div>
      <a href="{% url 'column:column_move_top' id %}"
         class="dropdown-item">
        <span class="fa fa-step-forward spin" style="transform:rotate(-90deg);"></span>
        {% trans 'Make first column' %}</a>
      <a href="{% url 'column:column_move_bottom' id %}"
         class="dropdown-item spin">
        <span class="fa fa-step-backward" style="transform:rotate(-90deg);"></span>
        {% trans 'Make last column' %}</a>
    </div>
  </div>
</div>
