{% load i18n %}
<form method="post" action="{% url 'column:column_clone' object.pk %}" class="js-column-clone-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm column cloning' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=object.name %}Are you sure you want to clone column <strong>{{ n }}</strong>?{% endblocktrans %}</p>
    <p>{% trans 'A new column with the prefix "Copy of " will be created' %}</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi-files"></i> {% trans 'Clone column' %}</button>
  </div>
</form>

