{% load i18n %}
<form method="post" action="{% url 'column:column_restrict' object.id %}" class="js-column-restrict-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm column restriction' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=object.name v=values %}Are you sure you want to restrict column
      <strong>{{ n }}</strong> to the values {{ v }}?{% endblocktrans %}
    </p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi-check"></i> {% trans 'Restrict column' %}</button>
  </div>
</form>

