{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{{ form.media }}
<form method="post"
  {% if add %}
    action="{% url 'column:todoitem_add' object.id %}"
    class="js-action-todoitem-add-form">
  {% else %}
    action="{% url 'column:todoitem_edit' object.id %}"
    class="js-todoitem-edit-form">
  {% endif %}
  {% csrf_token %}
  <div class="modal-header">
    {% if add %}
      <h4 class="modal-title">{% trans 'Add TODO item' %}</h4>
    {% else %}
      <h4 class="modal-title">{% blocktrans with n=object.name %}Edit TODO item <strong>{{ n }}</strong>{% endblocktrans %}</h4>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
       <span class="fa fa-check"></span> {% if add %}{% trans 'Add item' %}{% else %}{% trans 'Update' %}{% endif %}
    </button>
  </div>
</form>
