{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{{ form.media }}
<form id="column-select-form" action="">
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Select columns' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-primary js-table-insert">
       <i class="bi-check"></i> {% trans 'Select' %}
    </button>
  </div>
</form>
