{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{{ form.media }}
<form method="post"
  {% if add %}
    action="{% url 'column:question_add' object.id %}"
    class="js-action-question-add-form">
  {% else %}
    action="{% url 'column:question_edit' object.id %}"
    class="js-question-edit-form">
  {% endif %}
  {% csrf_token %}
  <div class="modal-header">
    {% if add %}
      <h4 class="modal-title">{% trans 'Add question' %}</h4>
    {% else %}
      <h4 class="modal-title">{% blocktrans with n=object.name %}Edit question <strong>{{ n }}</strong>{% endblocktrans %}</h4>
    {% endif %}
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
       <i class="bi-check"></i> {% if add %}{% trans 'Add question' %}{% else %}{% trans 'Update' %}{% endif %}
    </button>
  </div>
</form>
