{% load i18n %}
<div class="modal-header" style="border-bottom: unset;">
  <h4 class="modal-title">{% trans 'Scheduled action' %}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table" width="100%">
    {% for s_key, s_val in s_vals.items %}
      {% if s_key != 'id' and s_key != 'user_id' %}
        <tr>
          <td>{{ s_key }}</td>
          <td>{{ s_val }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans 'Close' %}
  </button>
  <a href="{% url 'scheduler:edit' id %}" class="btn btn-outline-primary spin"
          data-toggle="tooltip" title="{% trans 'Edit this scheduled action execution' %}.">
    <span class="fa fa-pencil"></span> {% trans 'Edit' %}</a>
  <button type="button" class="btn btn-outline-danger js-scheduler-delete"
          data-toggle="tooltip" title="{% trans 'Delete this scheduled action' %}"
          data-url="{% url 'scheduler:delete' id %}">
    <span class="fa fa-trash"></span> {% trans 'Delete' %}</button>
</div>
