{% load i18n %}
<form method="post" action="{% url 'scheduler:delete' s_item.id %}"
      class="js-scheduleremail-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm scheduled operation deletion' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=s_item.action.name %}Are you sure
      you want to delete this scheduled operation
      for action <strong>{{ n }}</strong>?{% endblocktrans %}</p>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans 'Cancel' %}
    </button>
    <button type="submit" class="btn btn-outline-danger">
      <span class="fa fa-trash"></span> {% trans 'Delete scheduled operation' %}</button>
  </div>
</form>

