[paths]
source = 
    ontask
    .
    
[run]
source=ontask
omit = 
    */tests/*
    */migration*
    ontask/accounts/*
    ontask/lti/*
    ontask/management/*
    ontask/django_auth_lti/*
    ontask/profiles/*
    settings/*
    wsgi.py
    ontask/visualizations/rgraph.py
    ontask/visualizations/vega.py

[report]
omit = 
    */tests/*
    */migration*
    ontask/accounts/*
    ontask/lti/*
    ontask/management/*
    ontask/django_auth_lti/*
    ontask/profiles/*
    settings/*
    wsgi.py
    ontask/visualizations/rgraph.py
    ontask/visualizations/vega.py

