<!DOCTYPE html>
{% load ontask_tags %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load cache %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'ico/favicon.ico' %}" type="favicon/ico">
    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>
    <!-- Bootstrap core  -->
    {% ontask_bootstrap_css %}
    <!-- Custom styles for this site -->
    {% block styles %}
    {% endblock styles %}
    {% ontask_jquery %}
    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}
    <link href="{% static 'css/main.css' %}?v={% ontask_version %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% ontask_shim_respond %}
  </head>
  <body style="">
    <div id="div-spinner">
      <img id="img-spinner" src="{% static 'img/loading.gif' %}"
           alt="Loading..."/>
    </div>
    {% block navbar %}
      <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        {% block navbar-brand %}
          {% cache 3600 site-navbar-brand LANGUAGE_CODE %}
            <a class="navbar-brand" href="#">
              <img src="{% static 'img/logo.png' %}" height="30" alt="logo">
            </a>
          {% endcache %}
        {% endblock %}
        {% block navbar-menu %}

          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills mr-auto">
              {% block navbar-left %}
                {% if user.ontask_info.is_instructor %}
                  <li class="nav-item">
                    <a class="nav-link spin{% if request.path == ONTASK_BASE_URL %} active{% endif %}"
                       href="{% url 'home' %}" id="ontask-base-home"
                       data-toggle="tooltip" title="{% trans 'Your workflows' %}"><span class="fa fa-home"></span> {% trans 'Workflows' %}</a>
                  </li>
                {% endif %}
                {% if request.session.ontask_workflow_id %}
                  {% url 'column:index' as workflow_detail %}
                  {% url 'workflow:operations' as workflow_ops %}
                  <li class="nav-item">
                    <a class="nav-link spin{% if '/action/' in request.path %} active{% endif %}"
                       href="{% url 'action:index' %}"  id="ontask-base-actions"
                       data-toggle="tooltip" title="{% trans 'Messages and Surveys' %}">
                      <span class="fa fa-comments"></span> {% trans 'Actions' %}</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#"  class="nav-link dropdown-toggle{% if '/table/' in request.path or '/dataops' in request.path %} active{% endif %}"
                      id="ontask-base-table" data-toggle="dropdown">
                      <span class="fa fa-table"></span> {% trans 'Table' %}
                    </a>
                    <div class="shadow dropdown-menu" aria-labelledby="ontask-base-table">
                      <a href="{% url 'table:display' %}"
                         class="btn dropdown-item spin{% if not request.session.ontask_workflow_rows %} disabled{% endif %}"
                         data-toggle="tooltip"
                         title="{% trans 'View the complete table' %}">
                        {% trans 'Full view' %}</a>
                      <a href="{% url 'table:view_index' %}"
                         class="btn dropdown-item spin{% if not request.session.ontask_workflow_rows %} disabled{% endif %}"
                         data-toggle="tooltip"
                         title="{% trans 'Views available for this table' %}">
                        {% trans 'Partial Views' %}</a>
                      <a href="{% url 'dataops:uploadmerge' %}"
                         class="btn dropdown-item spin"
                         data-toggle="tooltip"
                         title="{% trans 'Upload or merge data into the workflow table' %}">
                        {% trans 'Upload or merge data' %}</a>
                      <a href="{% url 'dataops:transform' %}"
                         class="btn dropdown-item spin"
                         data-toggle="tooltip" data-container="body"
                         title="{% trans 'Apply a transformation to the data' %}">
                        {% trans 'Run Transformation' %}</a>
                      <a href="{% url 'dataops:model' %}"
                         class="btn dropdown-item spin"
                         data-toggle="tooltip" data-container="body"
                         title="{% trans 'Execute a model with the existing data' %}">
                        {% trans 'Run Model' %}</a>
                      <button type="button"
                        class="dropdown-item js-workflow-flush{% if not request.session.ontask_workflow_rows %} disabled{% endif %}"
                        data-url="{% url 'workflow:flush' request.session.ontask_workflow_id %}"
                        data-toggle="tooltip"
                        title="{% trans 'Delete the data in the table of this workflow' %}">
                        <span class="fa fa-floppy-remove"></span> {% trans 'Flush data table' %}
                      </button>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle{% if '/logs/' in request.path or '/scheduler/' in request.path or '/detail/' in request.path or '/operations/' in request.path %} active{% endif %}"
                       data-toggle="dropdown" id="ontask-base-settings">{% trans 'More' %}</a>
                    <div class="shadow dropdown-menu">
                      <a class="dropdown-item spin" href="{{ workflow_ops }}"
                         id="ontask-base-workflow">{% trans 'Workflow operations' %}</a>
                      <a class="dropdown-item spin" href="{{ workflow_detail }}" id="ontask-base-columns">{% trans 'Column operations' %}</a>
                      <a class="dropdown-item spin" href="{% url 'scheduler:index' %}"  id="ontask-base-scheduler">{% trans 'Scheduled operations' %}</a>
                      <a class="dropdown-item spin" href="{% url 'logs:index' %}" id="ontask-base-logs">{% trans 'View logs' %}</a>
                    </div>
                  </li>
                {% endif %}
              {% endblock %}
            </ul>
            <ul class="nav nav-pills ml-auto">
              {% block navbar-right %}
                {% if user.is_authenticated %}
                  {% if user.is_staff %}
                    <li class="nav-item dropdown">
                      <a href="#" id="ontask-base-admin"
                         class="nav-link dropdown-toggle{% if '_admin' in request.path %} active{% endif %}"
                         data-toggle="dropdown">
                        <span class="fa fa-cogs"></span> {% trans 'Admin' %}
                      </a>
                      <div class="shadow dropdown-menu" aria-labelledby="ontask-base-table">
                        <a href="{% url 'admin:index' %}ontask/preferences"
                           class="btn dropdown-item spin"
                           data-toggle="tooltip"
                           title="{% trans 'Change platform configuration parameters' %}">
                          {% trans 'Settings' %}</a>
                        <a href="{% url 'admin:index' %}"
                           class="btn dropdown-item spin"
                           data-toggle="tooltip"
                           title="{% trans 'Manage the platform database' %}">
                          {% trans 'DB Admin' %}</a>
                        <a href="{% url 'connection:sqlconns_admin_index' %}"
                           class="btn dropdown-item spin"
                           data-toggle="tooltip"
                           title="{% trans 'Connections to SQL databases' %}">
                          {% trans 'SQL Connections' %}</a>
                        {% comment %}
                        <a href="{% url 'dataops:athenaconns_admin_index' %}"
                           class="btn dropdown-item spin"
                           data-toggle="tooltip"
                           title="{% trans 'Connections to Athena databases' %}">
                          {% trans 'Athena Connections' %}</a>
                        {% endcomment %}
                        <a href="{% url 'dataops:plugin_admin' %}"
                           class="btn dropdown-item spin"
                           data-toggle="tooltip"
                           title="{% trans 'Available Plugins' %}">
                          {% trans 'Plugins' %}</a>
                      </div>
                    </li>
                  {% endif %}
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle profile-menu" data-toggle="dropdown">
                     <span class="fa fa-user"></span>
                    </a>
                    <div class="shadow dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item spin" href="{% url 'profiles:show_self' %}">{% trans 'Profile' %}</a>
                      <a class="dropdown-item spin" href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item"><a href="https://ontasklearning.org" class="nav-link" target="blank">{% trans 'About' %}</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://www.ontasklearning.org/contact/" target="blank">
                    {% trans 'Contact' %}</a></li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle help-menu" data-toggle="dropdown">
                      <span class="fa fa-book"></span></a>
                    <div class="shadow dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item spin" href="{% static ONTASK_HELP_URL %}">{% trans 'Manual' %}</a>
                      <a class="dropdown-item spin" href="{% url 'ontask-api-doc' %}">{% trans 'API Docs' %}</a>

                    </div>
                </li>
              {% endblock %}
            </ul>
          </div>
        {% endblock %}
      </nav>
    {% endblock navbar %}
    {% if request.session.ontask_workflow_name %}
      <div id="wflow-name" class="text-center">
        {{ request.session.ontask_workflow_name }}
      </div>
    {% endif %}
    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-center alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    {% block container %}
      <div class="container my-3">
        <div class="starter-template">
          <h1>To Be Done</h1>
          <p class="lead">{% trans 'This functionality has not been implemented yet.' %}</p>
        </div>
      </div>
    {% endblock container %}
    {% block timeout %}
      {% cache 3600 site-timeout LANGUAGE_CODE %}
        <div class="modal fade" id="session-expire-warning-modal"
             aria-hidden="true" data-keyboard="false" data-backdrop="static"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">{% trans 'Your session is about to expire' %}</h4>
              </div>
              <div class="modal-body">
                {% trans 'Your session will expire in' %}
                <span id="seconds-timer"></span>{% trans 'seconds.' %}
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary">
                  <span class="fa fa-check"></span> {% trans 'Ok' %}</button>
              </div>
            </div>
          </div>
        </div>
      {% endcache %}
    {% endblock timeout %}
    <!-- Site footer -->
    {% block footer %}
      {% cache 3600 site-footer LANGUAGE_CODE %}
        <nav class="navbar navbar-light bg-light" id="base_footer">
          <span class="text-muted">&copy; {% trans 'OnTask Project' %} {% now 'Y' %} | {% trans 'Version:' %} {% ontask_version %}</span>
        </nav>
      {% endcache %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/initial.js' %}?v={% ontask_version %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% ontask_bootstrap_js %}
    <script type="text/javascript" src="{% static 'js/main.js' %}?v={% ontask_version %}"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% if user.is_authenticated %}
      <script type="text/javascript"
              src="{% static 'js/bootstrap-session-timeout.min.js' %}"></script>
      <script type="text/javascript">
        $.sessionTimeout({
          title: 'OnTask',
          message: "{% trans 'Your session is about to expire.' %}",
          logoutButton: "{% trans 'Logout' %}",
          keepAliveButton: "{% trans 'Remain Connected' %}",
          keepAliveUrl: "{% url 'keep_alive' %}",
          keepAlive: true,
          keepAliveInterval: 0,
          redirUrl: "{% url 'accounts:logout' %}",
          logoutUrl: "{% url 'accounts:logout' %}",
          ignoreUserActivity: true,
          warnAfter: ({{ ONTASK_TIMEOUT }} - 60) * 1000,
          redirAfter: {{ ONTASK_TIMEOUT }} * 1000,
          onStart: false
        });
      </script>
    {% endif %}
  </body>
</html>


