{% load i18n %}
<form method="post" action="{% url 'workflow:flush' workflow.id %}" class="js-workflow-flush-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm data deletion' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=workflow.name %}Are you sure you want to flush the data in workflow <strong>{{ n }}</strong>?{% endblocktrans %}</p>
    <p>{% blocktrans %}This operation will also remove actions, table views and records.{% endblocktrans %}</p>
    <p>{% trans 'Type the name of the workflow:' %} <input type="text" id="txtInput" class="textEnable" data-value="{{ workflow.name }}"/></p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger button-enable" disabled>
      <span class="fa fa-floppy-remove"></span> {% trans 'Flush workflow data' %}</button>
  </div>
</form>

