{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block scripts %}
  <script src="{% static 'logs/js/logs.js' %}"></script>
{% endblock %}

{% block title %}{{ block.super }}Your Logs{% endblock %}

{% block container %}
<div align="center" class="container">
  <h1 class="page-header">Your Logs</h1>

  {% load django_tables2 %}
  <form action="" method="get">
    {% for field in filter.form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}"
           style="display:table-row">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% if field.help_text %}
          <p class="help-block" style="max-width:500px;" align="left"><small>{{ field.help_text }}</small></p>
        {% endif %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <input type="submit" />
  </form>
  {% render_table table %}
</div>

{% endblock container %}
