{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Log View' %}{% endblock %}
{% block container %}
<div class="container">
  <h1 class="text-center">{% trans 'Log' %} {{ log_item.id }}: {{ log_item.name }}</h1>
  <p class="text-center">{% trans 'Last modified' %}: {{ log_item.modified }}</p>
  <h4 class="text-center">{% trans 'Payload:' %}</h4>
  <pre style="border: 1px solid black;">{{ json_pretty }}</pre>
  <div class="text-center">
    <a href="{% url 'logs:index' %}" class="btn btn-outline-dark align-middle spin"> {% trans 'Back' %}</a>
    </div>
</div>
{% endblock container %}

