{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" href="http://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock extrahead %}
{% block scripts %}
  <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="http://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block title %}{% trans 'OnTask system error' %}{% endblock %}
{% block container %}
<div class="container" style="margin-top:50px;">
  <h1 class="page-header text-center">{% trans 'System error' %}</h1>
  <p class="text-center">
    {% blocktrans %}Oops! The platform had an internal error. We are sorry. We hope to
    address this anomaly soon.{% endblocktrans %}</p>
</div>
{% endblock container %}
