<!DOCTYPE html>
{% load ontask_tags %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'site/ico/favicon.ico' %}" type="favicon/ico">
    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>
    <!-- Bootstrap core  -->
    {% ontask_bootstrap_css %}
    <!-- Custom styles for this site -->
    {% block styles %}
    {% endblock styles %}
    {% ontask_jquery %}
    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% ontask_shim_respond %}
  </head>
  <body style="">
    <div id="div-spinner">
      <img id="img-spinner" src="{% static 'site/img/loading.gif' %}"
           alt="Loading..."/>
    </div>
    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% block navbar-brand %}
          <img class="navbar-brand" src="{% static 'site/img/logo.png' %}" alt="logo">
        {% endblock %}
      </div>
      {% block navbar-menu %}
      <div class="collapse navbar-collapse navbar-inner">
        <ul class="nav nav-pills navbar-right">
          {% block navbar-right %}
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <li><a class="spin" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown">
                 <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 19x19 crop %}" alt="" />
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="spin" href="{% url 'profiles:show_self' %}">{% trans 'Profile' %}</a></li>
                  <li><a class="spin" href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a></li>
                </ul>
              </li>
            {% endif %}
            <li>
              <a href="{% static ONTASK_HELP_URL %}" class="btn btn-default btn-sm spin"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="{% trans 'Read the manual' %}">
                <span class="glyphicon glyphicon-book"></span></a>
            </li>
          {% endblock %}
        </ul>
        <ul class="nav nav-pills pull-left">
          {% block navbar-left %}
            {% if user.is_authenticated %}
              <li {% if request.path == ONTASK_BASE_URL %}class="active"{% endif %}>
                <a class="spin"
                   href="{% url 'home' %}">{% trans 'Workflows' %}</a>
              </li>
              {% if user.is_superuser %}
                <li {% if 'sql_connections' in request.path %}class="active"{% endif %}>
          <a class="spin" href="{% url 'workflow:sql_connections' %}">{% trans 'SQL Connections' %}</a></li>
              {% endif %}
            {% endif %}
            {% if request.session.ontask_workflow_id %}
              {% url 'workflow:detail' request.session.ontask_workflow_id as workflow_url %}
              <li {% if '/workflow/' in request.path %}class="active"{% endif %}><a
                  class="spin" href="{{ workflow_url }}">{% trans 'Details' %}</a></li>


              <li {% if '/table/' in request.path  or '/dataops' in request.path%}class="active"{% endif %}><a
                  class="spin" href="{% url 'table:display' %}">{% trans 'Table' %}</a>
              </li>

              <li {% if '/action/' in request.path %}class="active"{% endif %}>
                <a class="spin" href="{% url 'action:index' %}">{% trans 'Actions' %}</a>
              </li>

              <li {% if '/scheduler/' in request.path %}class="active"{% endif %}><a
                  class="spin" href="{% url 'scheduler:index' %}">{% trans 'Scheduler' %}</a></li>

              <li {% if '/logs/' in request.path %}class="active"{% endif %}><a
                  class="spin" href="{% url 'logs:index' %}">{% trans 'Logs' %}</a>
              </li>
            {% else %}
              <li><a href="https://ontasklearning.org" target="blank">{% trans 'About' %}</a></li>
              <li><a href="https://www.ontasklearning.org/contact/" target="blank">
                {% trans 'Contact' %}</a></li>
            {% endif %}
          {% endblock %}
        </ul>
      </div><!--/.nav-collapse -->
      {% endblock %}
    </div>
    {% endblock navbar %}
    {% if request.session.ontask_workflow_name %}
      <div id="wflow-name" class="text-center alert alert-info">
        {{ request.session.ontask_workflow_name }}
      </div>
    {% endif %}
    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-center alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    {% block container %}
    <div class="container">
      <div class="starter-template">
        <h1>To Be Done</h1>
        <p class="lead">{% trans 'This functionality has not been implemented yet.' %}</p>
      </div>
    </div>
    {% endblock container %}
    {% block timeout %}
      <div class="modal fade" id="session-expire-warning-modal"
           aria-hidden="true" data-keyboard="false" data-backdrop="static"
           tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Your session is about to expire' %}</h4>
            </div>
            <div class="modal-body">
              {% trans 'Your session will expire in' %}
              <span id="seconds-timer"></span>{% trans 'seconds.' %}
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> {% trans 'Ok' %}</button>
            </div>
          </div>
        </div>
      </div>
    {% endblock timeout %}
    <!-- Site footer -->
    {% block footer %}
      <div class="container-fluid">
        <div class="footer">
          <div class="row navbar-default navbar" id="base_footer"
               style="margin-bottom: 0px; padding-top:8px;">
            <div class="col-lg-6 div1">
                <span style="color: #777;">
                  &copy; {% trans 'OnTask Project' %} {% now 'Y' %}</span>
            </div>
            <div class="col-lg-6 div2 text-right">
              <span class="align-middle"
                 style="color: #777;">{% trans 'Version:' %} {% ontask_version %}</span>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
    <script src="{% static 'site/js/initial.js' %}?v={% ontask_version %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% ontask_bootstrap_js %}
    <script src="{% static 'site/js/site.js' %}?v={% ontask_version %}"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% if user.is_authenticated %}
      <script type="text/javascript"
              src="{% static 'site/js/bootstrap-session-timeout.min.js' %}"></script>
      <script type="text/javascript">
        $.sessionTimeout({
          title: 'OnTask',
          message: "{% trans 'Your session is about to expire.' %}",
          logoutButton: "{% trans 'Logout' %}",
          ignoreUserActivity: true,
          keepAlive: false,
          keepAliveButton: "{% trans 'Remain Connected' %}",
          keepAliveUrl: "{% url 'keep_alive' %}",
          logoutUrl: "{% url 'accounts:logout' %}",
          redirUrl: "{% url 'accounts:logout' %}",
          warnAfter: ({{ ONTASK_TIMEOUT }} - 60) * 1000,
          redirAfter: {{ ONTASK_TIMEOUT }} * 1000,
          onStart: false
        });
      </script>
    {% endif %}
  </body>
</html>


