<!DOCTYPE html>
{% load ontask_tags %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'site/ico/favicon.ico' %}" type="favicon/ico">
    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>
    <!-- Bootstrap core  -->
    {% ontask_bootstrap_css %}
    <!-- Custom styles for this site -->
    {% block styles %}
    {% endblock styles %}
    {% ontask_jquery %}
    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% ontask_shim_respond %}
  </head>
  <body style="">
    <div id="div-spinner">
      <img id="img-spinner" src="{% static 'site/img/loading.gif' %}"
           alt="Loading..."/>
    </div>
    {% block navbar %}
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
      {% block navbar-brand %}
        <a class="navbar-brand" href="#">
          <img src="{% static 'site/img/logo.png' %}" height="30" alt="logo">
        </a>
      {% endblock %}
      {% block navbar-menu %}
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-pills mr-auto">
            {% block navbar-left %}
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link spin{% if request.path == ONTASK_BASE_URL %} active{% endif %}"
                     href="{% url 'home' %}">{% trans 'Workflows' %}</a>
                </li>
                {% if user.is_superuser %}
                  <li class="nav-item">
            <a class="nav-link spin{% if 'sql_connections' in request.path %} active{% endif %}" href="{% url 'workflow:sql_connections' %}">{% trans 'SQL Connections' %}</a></li>
                {% endif %}
              {% endif %}
              {% if request.session.ontask_workflow_id %}
                {% url 'workflow:detail' request.session.ontask_workflow_id as workflow_url %}
                <li class="nav-item"><a
                    class="nav-link spin{% if '/workflow/' in request.path %} active{% endif %}" href="{{ workflow_url }}">{% trans 'Details' %}</a></li>


                <li class="nav-item"><a
                    class="nav-link spin{% if '/table/' in request.path  or '/dataops' in request.path%} active{% endif %}" href="{% url 'table:display' %}">{% trans 'Table' %}</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link spin{% if '/action/' in request.path %} active{% endif %}" href="{% url 'action:index' %}">{% trans 'Actions' %}</a>
                </li>

                <li class="nav-item"><a
                    class="nav-link spin{% if '/scheduler/' in request.path %} active{% endif %}" href="{% url 'scheduler:index' %}">{% trans 'Scheduler' %}</a></li>

                <li class="nav-item"><a
                    class="nav-link spin{% if '/logs/' in request.path %} active{% endif %}" href="{% url 'logs:index' %}">{% trans 'Logs' %}</a>
                </li>
              {% else %}
                <li class="nav-item"><a href="https://ontasklearning.org" class="nav-link" target="blank">{% trans 'About' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.ontasklearning.org/contact/" target="blank">
                  {% trans 'Contact' %}</a></li>
              {% endif %}
            {% endblock %}
          </ul>
          <ul class="nav ml-auto">
            {% block navbar-right %}
              {% if user.is_authenticated %}
                {% if user.is_staff %}
                  <li class="nav-item"><a class="nav-link spin" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle profile-menu" data-toggle="dropdown">
                   <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 19x19 crop %}" alt="" />
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item spin" href="{% url 'profiles:show_self' %}">{% trans 'Profile' %}</a>
                    <a class="dropdown-item spin" href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a>
                  </div>
                </li>
              {% endif %}
              <li class="nav-item">
                <a href="{% static ONTASK_HELP_URL %}" class="nav-link btn btn-outline-dark spin"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="{% trans 'Read the manual' %}">
                  <span class="fa fa-book"></span></a>
              </li>
            {% endblock %}
          </ul>
        </div>
      {% endblock %}
    </nav>
    {% endblock navbar %}
    {% if request.session.ontask_workflow_name %}
      <div id="wflow-name" class="text-center alert alert-info">
        {{ request.session.ontask_workflow_name }}
      </div>
    {% endif %}
    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="text-center alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    {% block container %}
    <div class="container">
      <div class="starter-template">
        <h1>To Be Done</h1>
        <p class="lead">{% trans 'This functionality has not been implemented yet.' %}</p>
      </div>
    </div>
    {% endblock container %}
    {% block timeout %}
      <div class="modal fade" id="session-expire-warning-modal"
           aria-hidden="true" data-keyboard="false" data-backdrop="static"
           tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{% trans 'Your session is about to expire' %}</h4>
            </div>
            <div class="modal-body">
              {% trans 'Your session will expire in' %}
              <span id="seconds-timer"></span>{% trans 'seconds.' %}
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> {% trans 'Ok' %}</button>
            </div>
          </div>
        </div>
      </div>
    {% endblock timeout %}
    <!-- Site footer -->
    {% block footer %}
      <nav class="navbar navbar-light bg-light" id="base_footer">
        <div class="col-lg-6 div1">
            <span style="color: #777;">
              &copy; {% trans 'OnTask Project' %} {% now 'Y' %}</span>
        </div>
        <div class="col-lg-6 div2 text-right">
          <span class="align-middle"
             style="color: #777;">{% trans 'Version:' %} {% ontask_version %}</span>
        </div>
      </nav>
    {% endblock %}
    <script src="{% static 'site/js/initial.js' %}?v={% ontask_version %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% ontask_bootstrap_js %}
    <script src="{% static 'site/js/site.js' %}?v={% ontask_version %}"></script>
    {% block scripts %}
    {% endblock scripts %}
    {% if user.is_authenticated %}
      <script type="text/javascript"
              src="{% static 'site/js/bootstrap-session-timeout.min.js' %}"></script>
      <script type="text/javascript">
        $.sessionTimeout({
          title: 'OnTask',
          message: "{% trans 'Your session is about to expire.' %}",
          logoutButton: "{% trans 'Logout' %}",
          keepAliveButton: "{% trans 'Remain Connected' %}",
          keepAliveUrl: "{% url 'keep_alive' %}",
          keepAlive: true,
          keepAliveInterval: 0,
          redirUrl: "{% url 'accounts:logout' %}",
          logoutUrl: "{% url 'accounts:logout' %}",
          ignoreUserActivity: true,
          warnAfter: ({{ ONTASK_TIMEOUT }} - 60) * 1000,
          redirAfter: {{ ONTASK_TIMEOUT }} * 1000,
          onStart: false
        });
      </script>
    {% endif %}
  </body>
</html>


