{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'OnTask Error' %}{% endblock %}
{% block container %}
<!-- the margin top should be passed to the style!!! -->
<div class="container" style="margin-top:50px;">
  <h1 class="page-header text-center">{% trans 'Internal Error' %}</h1>

  <p class="text-center">
    {% blocktrans %}Oops. We have detected an internal error.{% endblocktrans %}
  </p>
  {% if message %}
    <p class="text-center">
      {% blocktrans %}The following message is trying to explain what
      happened.{% endblocktrans %}
    </p>
    <p class="text-center">{{ message }}</p>
  {% endif %}
  <hr/>
  {% if meta %}
    <p class="text-center"><strong>{% trans 'Referrer:' %}</strong> {{ meta }}</p>
  {% endif %}
</div>
{% endblock container %}
