{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
  {% comment %}
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% endcomment %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Facilitating conversations at scale</p>
          {% comment %}
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
          {% endcomment %}
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <h2>The importance of personalisation</h2>
      <p>Students are more likely to have an effective learning experience
        when their environment is personalised. Resources, comments,
        suggestions and feedback that take into account the reality of each
        student are much more effective than those addressing an entire
        cohort. But personalisation has traditionally been based on highly
        detailed pre-conceived models of student behavior. Ontask offers an
        environment to personalise resources based on data collected from any
        learning environment.
      </p>
    </div>
    <div class="col-lg-4">
      <h2>The importance of feedback</h2>
      <p>Feedback is more effective when framed as a dialogue. But such
        dialogue will be highly situated in the personal situation of each
        student. How can we combine knowledge about the students with the
        need to have personalised interaction? Ontask will help instructors
        and students with the initial septs for this dialogue.</p>
    </div>
    <div class="col-lg-4">
      <h2>The importance of data</h2>
      <p>In the era of highly technology mediated learning, data is
        ubiquitous. But rather than an instantaneously benefitial feature,
        this data abundance brings a serious challenge to tranform data into
      actionable knowledge. It is not enough to have data, it is essential
        to put data to support a clearly identified objective in the
        learning environment. How can this support be clearly articulated?
        How can it be used in multiple environments? OnTask is the tool that
      realises this connection between data and its use to provide an
        scalable solution to learning personalisation</p>
      <p><a class="btn btn-primary" href="https://ontasklearning.org"
            role="button">More Information &raquo;</a></p>
    </div>
  </div>
  <div class="container-fluid">
    <img src="{{ MEDIA_URL }}/project_consortium.gif"
         alt="OnTask Logo Set" style="width:100%;"/>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

