{% extends "accounts/auth_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }}{% trans 'Password Reset Done' %}{% endblock %}
{% block form_heading %}{% trans 'Password reset email sent' %}{% endblock %}
{% block form %}
<div class="container">
  <p class="text-center">
    {% blocktrans %}Please check your mail.{% endblocktrans %}
  </p>
  <a href="{% url 'accounts:login' %}" class="btn btn-outline-dark align-middle spin"> {% trans 'Back to login page' %}</a>
</div>
{% endblock form %}

