{% load i18n %}
{% load django_tables2 %}
<div class="text-center mb-3">
  <button type="button"
          class="btn btn-outline-dark js-attribute-create"
          data-url="{% url 'workflow:attribute_create' %}"
          data-bs-toggle="tooltip"
          title="{% trans 'Add a new name/value pair' %}">
    <i class="bi-plus"></i> {% trans 'Attribute' %}
  </button>
</div>
{% if attribute_table.data|length %}
  {% render_table attribute_table %}
{% else %}
  <p class="text-center">{% blocktrans %}Attributes are pairs <code>(name, value)</code>.
    Define a pair
    when you need to use a value in various places and that value may change over
    time.{% endblocktrans %}
  </p>
{% endif %}




