{% load i18n %}
<h3 class="text-center">{% trans 'Learners with access to this workflow' %}</h3>
{% if not share_table.data|length %}
  <p class="text-center">{% blocktrans %}Select a column with the email addresses of the learners to grant them access to the personalized content in this workflow. Select "No access" if such access is not required.{% endblocktrans %}</p>
{% endif %}
<h5 class="mb-2 text-center">
  {% if view.workflow.lusers.count == 0 %}
    {% trans 'Learners do not have access to the content in this workflow' %}
  {% else %}
    {% blocktrans with n=view.workflow.lusers.count count counter=view.workflow.lusers.count %}{{ n }} learner has access to the workflow{% plural %}{{ n }} learners have access to the workflow{% endblocktrans %}
  {% endif %}
</h5>
<h5 class="text-center">
  {% trans "Key column with the learners' email" %}
  <div id="select-key-column-name" class="pl-3 dropdown btn-group">
    <button type="button" class="btn btn-outline-dark dropdown-toggle"
            data-bs-toggle="dropdown">
      {% if not view.workflow.luser_email_column %}
        {% trans 'Key column' %}
      {% else %}
        {{ view.workflow.luser_email_column.name }}
      {% endif %}
    </button>
    <div class="shadow dropdown-menu scrollable-menu">
      {% if view.workflow.luser_email_column %}
        <button type="button" class="dropdown-item js-select-key-column-name"
                data-url="{% url 'workflow:remove_luser_column' %}">{% trans 'No access' %}</button>
      {% endif %}
      {% for column in view.workflow.get_unique_columns %}
        {% if column != view.workflow.luser_email_column %}
          <button type="button" class="dropdown-item js-select-key-column-name"
                  data-url="{% url 'workflow:assign_luser_column' column.id %}">{{ column.name }}</button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</h5>
{% if view.workflow.luser_email_column and view.workflow.lusers_is_outdated %}
  <h5 class="text-center">
    <div class="text-center">
      {% trans 'Learner email information has changed' %}
      <button type="button" class="pl-3 btn btn-outline-danger js-select-key-column-name"
              data-url="{% url 'workflow:assign_luser_column' view.workflow.luser_email_column.id %}">
        {% trans 'Refresh learner list' %}</button>
    </div>
  </h5>
{% endif %}
