{% load i18n %}
<div class="text-center font-weight-bold my-2">{{ criterion.column.name }}</div>
<div class="text-center my-2">{{ criterion.column.description_text }}</div>
<div class="text-center">
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-primary btn-light js-criterion-edit"
            data-url="{% url 'column:criterion_edit' criterion.id %}"
            data-bs-toggle="tooltip"
            title="{% trans 'Edit this criterion' %}">
      <i class="bi-pencil-fill"></i></button>
    <button type="button" class="btn btn-primary btn-light js-show-stats"
            data-url="{% url 'table:stat_column_JSON' criterion.column.id %}"
            data-bs-toggle="tooltip"
            title="{% trans 'Show stats about this criteria' %}">
      <i class="bi-bar-chart-line-fill"></i></button>
    <button type="button" class="btn btn-primary btn-light  js-criterion-remove"
            data-url="{% url 'column:criterion_delete' criterion.id %}"
            data-bs-toggle="tooltip"
            title="{% trans 'Remove this criterion' %}">
      <i class="bi-trash-fill"></i></button>
  </div>
</div>
