{% load i18n %}
<form method="post" action="{% url 'workflow:flush' workflow.id %}" class="js-workflow-flush-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">
      {% if workflow.nrows %}
        {% trans 'Confirm data deletion' %}
      {% else %}
        {% trans 'Workflow has no data' %}
      {% endif %}
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% if workflow.nrows %}
      <p class="lead">{% blocktrans with n=workflow.name %}Are you sure you want to flush the data in workflow <strong>{{ n }}</strong>?{% endblocktrans %}</p>
      <p>{% blocktrans %}This operation will also remove actions, table views and records.{% endblocktrans %}</p>
      <p>{% trans 'Type the name of the workflow:' %} <input type="text" id="txtInput" class="textEnable" data-value="{{ workflow.name }}"/></p>
    {% else %}
    <p class="lead">{% blocktrans %}The workflow has not data, so this operation will nave no effect.{% endblocktrans %}</p>
    {% endif %}
  </div>
  <div class="modal-footer">
    {% if workflow.nrows %}
      <button type="submit" class="btn btn-danger button-enable" disabled>
        <span class="fa fa-minus-square"></span> {% trans 'Flush workflow data' %}</button>
    {% else %}
      <button type="submit" class="btn btn-danger">
        <span class="fa fa-minus-square"></span> {% trans 'Ok' %}</button>
    {% endif %}
  </div>
</form>

