{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" action="{% url 'workflow:update' form.instance.pk %}" class="js-workflow-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Rename workflow' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
     <i class="bi-check"></i> {% trans 'Save' %}</button>
  </div>
</form>
