{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" action="{% url 'workflow:create' %}" class="js-workflow-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Create a workflow' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans %}Create a new empty workflow (that is, with no data table or actions) by
      providing a name
    and a description. The next page will ask you for the data to populate the data table.{% endblocktrans %}</p>
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi-check"></i> {% trans 'Create workflow' %}</button>
  </div>
</form>
