{% load i18n %}
<form method="post" action="{% url 'column:criterion_delete' object.id %}"
      class="js-criterion-remove-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm criterion deletion' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=object.column.name %}Are you sure you want to remove criterion <strong>{{ n }}</strong>?{% endblocktrans %}</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-danger">
      <i class="bi-trash-fill"></i> {% trans 'Remove criterion' %}</button>
  </div>
</form>

