{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<form method="post" 
  {% if add %}
    action="{% url 'column:criterion_create' object.id %}"
    class="js-workflow-criterion-add-form">
  {% else %}
    action="{% url 'column:criterion_edit' object.id %}"
    class="js-criterion-edit-form">
  {% endif %}
  {% csrf_token %}
  <div class="modal-header">
    {% if add %}
      <h4 class="modal-title">{% trans 'Add criterion' %}</h4>
    {% else %}
      <h4 class="modal-title">{% blocktrans with n=cname %}Edit criterion <strong>{{ n }}</strong>{% endblocktrans %}</h4>
    {% endif %}
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
       <i class="bi-check"></i> {% if add %}{% trans 'Add criterion' %}{% else %}{% trans 'Update' %}{% endif %}
    </button>
  </div>
</form>
