{% load i18n %}
<form method="post" action="{% url 'workflow:flush' view.workflow.id %}" class="js-workflow-flush-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">
      {% if view.workflow.nrows %}
        {% trans 'Confirm data deletion' %}
      {% else %}
        {% trans 'Workflow has no data' %}
      {% endif %}
    </h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% if view.workflow.nrows %}
      <p class="lead">{% blocktrans with n=view.workflow.name %}Are you sure you want to flush the data in workflow <strong>{{ n }}</strong>?{% endblocktrans %}</p>
      <p>{% blocktrans %}This operation will also remove actions, table views and records.{% endblocktrans %}</p>
      <p>{% trans 'Type the name of the workflow:' %} <input type="text" id="txtInput" class="textEnable" data-value="{{ view.workflow.name }}"/></p>
    {% else %}
    <p class="lead">{% blocktrans %}The workflow has no data, so this operation will nave no effect.{% endblocktrans %}</p>
    {% endif %}
  </div>
  <div class="modal-footer">
    {% if view.workflow.nrows %}
      <button type="submit" class="btn btn-danger button-enable" disabled>
        <i class="bi-dash-square-fill"></i> {% trans 'Flush workflow data' %}</button>
    {% else %}
      <button type="submit" class="btn btn-danger">
        <i class="bi-dash-square-fill"></i> {% trans 'Ok' %}</button>
    {% endif %}
  </div>
</form>

