{% load i18n %}
<div class="shadow card ontask-card mb-3 mx-1">
  <h5 class="card-header text-center spin">{{ wflow.name }}</h5>
  <div class="card-body spin">
    <p class="card-text">{{ wflow.description_text }}</p>
    <p class="card-text text-center">
{% blocktrans count counter=wflow.nrows %}{{ counter }} row,{% plural %}{{ counter }} rows,{% endblocktrans %}
{% blocktrans count counter=wflow.ncols %}{{ counter }} column,{% plural %}{{ counter }} columns,{% endblocktrans %}
{% blocktrans count counter=wflow.actions.all|length %}{{ counter }} action{% plural %}{{ counter }} actions{% endblocktrans %}.</p>
  </div>
  <div class="wflow-buttons text-center">
    <a href="{% url 'action:index_set' wflow.id %}"
       class="btn btn-light btn-sm card-link spin"
       data-bs-toggle="tooltip"
       title="{% trans 'Open the workflow to manipulate its data and actions' %}">
        <i class="bi-journal-text"></i> {% trans 'Open' %}
    </a>
    {% if request.user == wflow.user %}
      <button type="button"
              class="btn btn-light btn-sm js-workflow-update align-middle"
              data-url="{% url 'workflow:update' wflow.id %}" data-bs-toggle="tooltip"
              title="{% trans 'Change the name and description of this workflow' %}">
          <i class="bi-pencil-fill"></i>
      </button>
      <button type="button"
         class="btn btn-light btn-sm js-workflow-clone align-middle"
              data-url="{% url 'workflow:clone' wflow.id %}" data-bs-toggle="tooltip"
              title="{% trans 'Create a duplicate of this workflow' %}">
        <i class="bi-files"></i>
      </button>
      <button type="button"
              class="btn btn-light btn-sm js-workflow-flush{% if workflow.nrows == 0 %} disabled{% endif %}"
              data-url="{% url 'workflow:flush' wflow.id %}" data-bs-toggle="tooltip"
              title="{% trans 'Delete the data in the table of this workflow' %}">
        <i class="bi-dash-square-fill"></i>
      </button>
      <button type="button"
              class="btn btn-light btn-sm js-workflow-delete"
              data-url="{% url 'workflow:delete' wflow.id %}" data-bs-toggle="tooltip"
              title="{% trans 'Delete this workflow' %}">
        <i class="bi-trash-fill"></i>
      </button>
    {% endif %}
    <button type="button"
            class="btn btn-light btn-sm js-workflow-star"
            data-url="{% url 'workflow:star' wflow.id %}" data-bs-toggle="tooltip"
            title="{% trans 'Mark workflow as favourite' %}">
      {% if is_star %}
        <i class="bi-star-fill"></i>
      {% else %}
        <i class="bi-star-fill"></i>
      {% endif %}
    </button>
  </div>
</div>
