{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% if only_action_list %}{% trans 'Export Actions'%}{% else %}{% trans 'Export Workflow' %}{% endif %}{% endblock %}
{% block scripts %}
  <script src="{% static 'workflow/js/workflow.js' %}"></script>
{% endblock %}
{% block container %}
  <div class="container" id="workflow-export">
    <h1 class="text-center">{% if only_action_list %}{% trans 'Export Actions'%}{% else %}{% trans 'Export Workflow' %}{% endif %}</h1>
    <div class="row justify-content-center">
      <form action="" method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        {% if not only_action_list %}
          <p class="text-center">{% trans 'Number of rows/columns:' %} {{ view.workflow.nrows }}/{{ view.workflow.ncols }}</p>
          <p class="text-center">{% trans 'Number of actions:' %} {{ view.workflow.actions.count }}</p>
        {% endif %}
        {% if view.workflow.actions.count > 0 %}
          <p class="text-center">{% trans 'Select the actions to export:' %}</p>
          <table class="table dataTable shadow">
            <thead>
              <tr>
                <th class="text-center">{% trans 'Action' %}</th>
                <th class="text-center">
                  {% trans 'All' %} <input type="checkbox" id="checkAll"/>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for field in form.visible_fields %}
                <tr>
                  <td>{{ field.label_tag }} {{ field.help_text }}</td>
                  <td class="text-center">
                    {% if field.errors %}
                      <ul>
                        {% for error in field.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {{ field }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <div class="text-center">
          <a class="shadow btn btn-outline-dark spin" href="{% if only_action_list %}{% url 'action:index' %}{% else %}{% url 'workflow:operations' %}{% endif %}">{% trans 'Cancel' %}</a>
          <button class="shadow btn btn-outline-primary btn-space"
                  type="Submit" name="Submit" value="Submit">
            <span class="fa fa-download"></span> {% trans 'Export' %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
