{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Details' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'workflow/js/workflow.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("attribute-table") != null) {
      $(document).ready(function() {
        var attribute_table = $('#attribute-table').DataTable({
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          stateSave: true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [[1, "asc"]],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": "_all"},
            {"orderable": false, "targets": 0},
            {"searchable": false, "targets": 0},
          ],
          colReorder: false,
          rowReorder: false,
        });
        var share_table = $('#share-table').DataTable({
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          stateSave: true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [[1, "asc"]],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": "_all"},
            {"orderable": false, "targets": 0},
            {"searchable": false, "targets": 0},
          ],
          colReorder: false,
          rowReorder: false,
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="workflow-detail">
    <h1 class="text-center">{% trans 'Workflow Operations' %}</h1>
    {% if not workflow.nrows %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif not workflow.actions.all|length %}
      {% include 'workflow/includes/no_actions.html' %}
    {% endif %}
    {% include 'workflow/includes/workflow_operation_buttons.html' %}
    {% if request.user == workflow.user %}
      <ul class="nav nav-tabs border-0 justify-content-center"
          id="workflow-operation-tabs" role="tablist">
        <li class="nav-item pr-1">
          <a class="nav-link active border border-dark border-bottom-0"
             id="attribute-tab" data-toggle="tab" href="#attribute" role="tab"
             aria-controls="text" aria-selected="true">{% trans 'Attributes' %}</a>
        </li>
        <li class="nav-item pr-1">
          <a class="nav-link border border-dark border-bottom-0"
             id="share-tab" data-toggle="tab" href="#share" role="tab"
             aria-controls="filter" aria-selected="false">{% trans 'Share with Instructors' %}</a>
        </li>
        <li class="nav-item pr-1">
          <a class="nav-link border border-dark border-bottom-0"
             id="learners-tab" data-toggle="tab" href="#learners" role="tab"
             aria-controls="text" aria-selected="true">{% trans 'Learners' %}</a>
        </li>
      </ul>
      <div class="tab-content" id="edit-personalized-text-tab-content">
        <div class="shadow rounded tab-pane px-3 py-3 fade show active border border-dark"
             id="attribute" role="tabpanel" aria-labelledby="attribute-tab">
          {% include 'workflow/includes/attributes.html' %}
        </div>
        <div class="shadow rounded tab-pane px-3 py-3 fade show border border-dark"
             id="share" role="tabpanel" aria-labelledby="share-tab">
          {% include 'workflow/includes/share.html' %}
        </div>
        <div class="shadow rounded tab-pane px-3 py-3 fade show border border-dark"
             id="learners" role="tabpanel" aria-labelledby="share-tab">
          {% include 'workflow/includes/learners.html' %}
        </div>
      </div>
    {% else %}
      {% include 'workflow/includes/attributes.html' %}
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
