{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Table' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
  <link href="{% static 'css/query-builder.default.min.css' %}" rel="stylesheet">
  {% ontask_datetimepicker_css %}
  <link href="{% static 'css/sol.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script src="{% static 'js/query-builder.standalone.min.js' %}" ></script>
  {% with country=LANGUAGE_CODE|country %}
    <script src="{% static 'js/query-builder.'|add:country|add:'.js' %}"></script>
  {% endwith %}
  <script src="{% static 'js/sol.js' %}"></script>
  <script src="{% static 'table/js/table.js' %}"></script>
  <script src="{% static 'column/js/column_move.js' %}"></script>
  <script type="text/javascript">
    if (document.getElementById("table-data") != null) {
      // Required for DataTables
      $(document).ready(function() {
        var table_data = $('#table-data').DataTable({
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          stateSave: true,
          stateSaveParams: function (settings, data) {
            delete data.search;
            delete data.ColReorder;
          },
          processing: true,
          serverSide: true,
          ajax: {
            url: "{{ ajax_url }}",
            type: 'POST',
          },
          columns: {{ columns_datatables|safe }},
          "order": [[1, 'asc']],
          "columnDefs": [
            {"className": "dt-center", "targets": "_all"},
            {"orderable": false, "targets": 0},
            {"searchable": false, "targets": 0},
            {"targets": 0,
             createdCell: function(td, cellData, rowData, row, col){
               $(td).addClass('align-middle');
             }
            },
          ],
          "drawCallback": function(settings) {
             // Needed to enable tooltips in ajax produced content
             $('[data-toggle="tooltip"]').tooltip({ trigger: "hover"});
          },
          language: {url: getLanguage()},
          colReorder: {
            fixedColumnsLeft: 1,
            realtime: false,
          },
          scrollX: true,
          fixedColumns: true,
          deferRender: true,
        });
        table_data.on("column-reorder", column_reorder);
      });
      // Add data types as class attributes
      {% if column_types %}
        column_types = {{ column_types|safe }};
        $.each($('#table-data thead tr th').get(), function(idx, val){
          var coltype = column_types[idx];
          if (coltype != '') {
            $(val).addClass('column-type-' + coltype);
          }
        });
      {% endif %}
    }
    {% with js_var='qbuilder_options' allow_empty='true' empty_rules=True %}
      {% include 'qbuilder_options.js' %}
    {% endwith %}
  </script>
  {% if vis_scripts %}
    {% for script_src in vis_scripts %}
      <script src="{{ script_src|safe }}"></script>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block container %}
  <div id="table-content" class="container">
    {% if view %}
      <h1 class="text-center">{{ view.name }}
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" data-url="{% url 'table:view_edit' view.id %}"
             class="btn btn-primary btn-light js-view-edit" data-toggle="tooltip"
             title="{% trans 'Change the columns present in the view' %}">
             <span class="fa fa-pencil"></span></button>
          <button type="button"
                  class="btn btn-primary btn-light js-view-clone"
                  data-url="{% url 'table:view_clone' view.id %}"
                  data-toggle="tooltip"
                  title="{% trans 'Create an identical view' %}">
            <span class="fa fa-clone"></span>
          </button>
          <button type="button"
                  class="btn btn-primary btn-light js-view-delete"
                  data-url="{% url 'table:view_delete' view.id %}"
                  data-toggle="tooltip"
                  title="{% trans 'Delete the view' %}">
            <span class="fa fa-trash"></span>
          </button>
        </div>
      </h1>
    {% endif %}
    {% if not columns %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif no_actions %}
      {% include 'workflow/includes/no_actions.html' %}
    {% endif %}
    {% if columns %}
      <div id="table-operation-buttons">
        <div class="text-center my-3">
          <a href="{% url 'dataops:rowcreate' %}"
             class="shadow btn btn-outline-dark spin"
             data-toggle="tooltip"
             title="{% trans 'Add a new row to the table' %}">
            <span class="fa fa-plus"></span> {% trans 'Row' %}
          </a>
          {% include 'column/includes/add_menu.html' %}
          <div class="dropdown btn-group shadow">
            <button class="shadow btn btn-outline-dark dropdown-toggle" type="button"
              id="viewsOperations" data-toggle="dropdown">
              <span class="fa fa-eye"></span> {% trans 'Views' %}
            </button>
            <div class="shadow dropdown-menu" aria-labelledby="viewsOperations">
              <button type="button" class="btn dropdown-item js-view-add"
                      data-url="{% url 'table:view_add' %}"
                      data-toggle="tooltip"
                      title="{% trans 'Create a new table view' %}">
                <span class="fa fa-plus"></span> {% trans 'View' %}
              </button>
              {% if views %}
                {% for v in views %}
                  {% if v != view %}
                    <a href="{% url 'table:display_view' v.id %}"
                       class="dropdown-item spin">{{ v.name }}</a>
                  {% endif %}
                {% endfor %}
                {% if view %}
                  <a class="btn dropdown-item spin"
                     href="{% url 'table:display' %}">
                    <span class="fa fa-table"></span> {% trans 'Full table' %}</a>
                {% endif%}
              {% endif %}
            </div>
          </div>
          {% if view %}
            <a href="{% url 'table:stat_table_view' view.id %}"
               class="shadow btn btn-outline-dark spin"
               data-toggle="tooltip"
               title="{% trans 'Dashboard created with the view data' %}">
              <span class="fa fa-dashboard"></span> {% trans 'Dashboard' %}
            </a>
            {% include 'table/includes/partial_column_stats_selector.html' %}
            <a href="{% url 'table:csvdownload_view' view.id %}" download
               class="shadow btn btn-outline-dark js-logs-download"
               data-toggle="tooltip"
               title="{% trans 'Download a CSV file containing this table' %}">
              <span class="fa fa-download"></span> {% trans 'CSV Download' %}
            </a>
            {% comment %}
            <button type="button" class="shadow btn btn-outline-dark js-create-action"
                    data-url="{% url 'action:create_from_view' view.id %}"
                    data-toggle="tooltip"
                    title="{% trans 'New action to collect data from learners' %}">
              <span class="fa fa-plus"></span> {% trans 'Action' %}
            </button>
            {% endcomment %}
          {% else %}
            <a href="{% url 'table:stat_table' %}"
               class="shadow btn btn-outline-dark spin"
               data-toggle="tooltip"
               title="{% trans 'Dashboard created with the table data' %}">
              <span class="fa fa-dashboard"></span> {% trans 'Dashboard' %}
            </a>
            {% include 'table/includes/partial_column_stats_selector.html' %}
            <a href="{% url 'table:csvdownload' %}"
               class="shadow btn btn-outline-dark"
               data-toggle="tooltip"
               title="{% trans 'Download a CSV file containing this table' %}">
              <span class="fa fa-download"></span> {% trans 'CSV Download' %}
            </a>
          {% endif %}
        </div>
      </div>
      <table class="table table-hover table-bordered shadow w-100"
             id="table-data" data-url="{% url 'column:column_move' %}">
        <thead>
          <tr>
            <th></th>
            {% for col in columns %}
              <th class="text-center">
                {{ col.name }}
              </th>
            {% endfor %}
          </tr>
        </thead>
      </table>
      {% include 'table/includes/partial_type_legend.html' %}
      <p class="text-center">{% trans 'You may drag and drop a column header to change its position in the table' %}</p>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
