{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load vis_include %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Column: ' %}{{ column.name }}{% endblock %}
{% block extrahead %}
  {% for script_src in vis_scripts %}
    <script src="{{ script_src|safe }}"></script>
  {% endfor %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/sol.js' %}"></script>
  <script src="{% static 'table/js/table.js' %}"></script>
{% endblock %}
{% block container %}
<div class="container">
  <h1 class="text-center">Column: {{ object.name }}</h1>
  {% if object.description_text %}
    <p class="lead text-center">{{ object.description_text }}</p>
  {% endif %}
  <div class="text-center">
    <a href="{{ request.META.HTTP_REFERER }}"
       class="btn btn-outline-dark align-middle spin">{% trans 'Back' %}</a>
  </div>
  <br/>
  {% include 'table/includes/partial_column_stats_data.html' %}
  <div class="text-center">
    <a href="{{ request.META.HTTP_REFERER }}"
         class="btn btn-outline-dark align-middle spin">{% trans 'Back' %}</a>
  </div>
</div>
{% endblock container %}




