{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extrahead %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  <link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block scripts %}
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script src="{% static 'table/js/table.js' %}{% otv %}"></script>
  <script type="text/javascript">
    if (document.getElementById("table-data") != null) {
        // Required for DataTables
        $(document).ready(function() {
            $('#table-data').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                  url: "{% url 'table:display_ss' %}",
                  type: 'POST',
                },
                "order": [1],
                "columnDefs": [
                    {"orderable": false, "targets": 0},
                    {"searchable": false, "targets": 0},
                    {"className": "dt-center", "targets": "_all"}
                ],
                "drawCallback": function(settings) {
                   // Needed to enable tooltips in ajax produced content
                   $('[data-toggle="tooltip"]').tooltip({ trigger: "hover" });
                },
            });
        });
    }
  </script>
{% endblock %}

{% block title %}{{ block.super }}Table{% endblock %}

{% block container %}
  <div id="table-content" align="center" class="container-fluid"
       style="padding-top:2ex;">
    {% if columns %}
      <a href="{% url 'dataops:rowcreate' %}" class="btn btn-sm btn-primary"
              data-toggle="tooltip"
              title="Add an extra row to the table">
        <span class="glyphicon glyphicon-plus"></span> Add row
      </a>
      <button type="button"
              class="btn btn-primary btn-sm js-workflow-column-add"
              data-url="{% url 'workflow:column_add' %}"
              data-toggle="tooltip"
              title="Add an extra column to the table">
        <span class="glyphicon glyphicon-plus"></span> New column
      </button>
      <table class="table display dataTable no-footer cell-border table-bordered"
             id="table-data">
        <thead>
          <tr>
            <th></th>
            {% for col in columns %}
              <th class="text-center">
                <button type="button"
                        class="btn btn-sm btn-default js-workflow-column-edit"
                        data-url="{% url 'workflow:column_edit' col.id %}"
                        data-toggle="tooltip"
                        title="Click here to edit column name, description, etc">
                  {{ col.name }}
                </button>
              </th>
            {% endfor %}
          </tr>
          <tr>
            <th>Ops</th>
            {% for col in columns %}
              <th>
                {{ col.data_type }} <br/>
                {% if col.is_active %}
                <font color="green">Active</font>
                {% else %}
                <font color="red">Inactive</font>
                {% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
      </table>
    {% else %}
      <p>The workflow does not have data.</p>
      <p>Go to <a href="{% url 'dataops:list' %}">DataOps</a> to upload data</p>
     {% endif %}
    <div class="modal fade" id="modal-item">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
{% endblock container %}
