{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Statistics' %}{% endblock %}
{% block extrahead %}
  {% for script_src in vis_scripts %}
    <script src="{{ script_src|safe }}"></script>
  {% endfor %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'site/js/sol.js' %}"></script>
  <script src="{% static 'table/js/table.js' %}?v={% ontask_version %}"></script>
{% endblock %}
{% block container %}
<div class="container">
  <h1 class="text-center">{% blocktrans %}Stats for {{ value }}{% endblocktrans %}</h1>

  <div class="text-center">
    <a href="{{ request.META.HTTP_REFERER }}"
         class="btn btn-outline-dark align-middle spin"> {% trans 'Back' %}</a>
  </div>
  <br/>
  <div class="text-center">
    {% for vis_item in visualizations %}
        {{ vis_item|safe }}
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{{ request.META.HTTP_REFERER }}"
         class="btn btn-outline-dark align-middle spin"> {% trans 'Back' %}</a>
  </div>
</div>
{% endblock container %}




