{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Table Views' %}{% endblock %}
{% block extrahead %}
  <link href="{% static 'site/css/query-builder.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'site/css/sol.css' %}" rel="stylesheet">
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}" ></script>
  {% with country=LANGUAGE_CODE|country %}
    <script src="{% static 'site/js/query-builder.'|add:country|add:'.js' %}"></script>
  {% endwith %}
  <script src="{% static 'site/js/sol.js' %}"></script>
  <script src="{% static 'table/js/table.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      if (document.getElementById("view-table") != null) {
        // Required for DataTables
        $('#view-table').DataTable({
          "search": {
            "caseInsensitive": true,
          },
          stateSave: true,
          "language": {
            "emptyTable": "{% trans 'There are no views for this workflow.' %}",
            "url": getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": "_all"},
            {"orderable": false, "targets": 3},
            {"searchable": false, "targets": 3},
          ],
        });
      }
    });
    {% with allow_empty='true' empty_rules=True %}
      {% include 'qbuilder_options.js' %}
    {% endwith %}
  </script>
{% endblock %}
{% block container %}
  <div id="view-content" align="center" class="container-fluid">
    <h1 class="page-header">{% trans 'Table Views' %}</h1>
    <p>
      <a class="btn btn-sm btn-outline-dark spin" href="{% url 'table:display' %}">{% trans 'Back' %}</a>
      <button type="button" class="btn btn-sm btn-primary js-view-add"
              data-url="{% url 'table:view_add' %}"
              data-toggle="tooltip"
              title="{% trans 'New view for the table' %}">
        <span class="glyphicon glyphicon-plus"></span> {% trans 'Add View' %}
      </button>
    </p>
    {% if table %}
      {% render_table table %}
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
