{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Table Views' %}{% endblock %}
{% block extrahead %}
  <link href="{% static 'site/css/query-builder.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'site/css/sol.css' %}" rel="stylesheet">
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'site/js/query-builder.standalone.min.js' %}" ></script>
  {% with country=LANGUAGE_CODE|country %}
    <script src="{% static 'site/js/query-builder.'|add:country|add:'.js' %}"></script>
  {% endwith %}
  <script src="{% static 'site/js/sol.js' %}"></script>
  <script src="{% static 'table/js/table.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#view-table').DataTable({
        "search": {
          "caseInsensitive": true,
        },
        stateSave: true,
        stateSaveParams: function (settings, data) {
          delete data.search;
        },
        "language": {
          "infoEmpty": "{% trans 'There are no views for this workflow.' %}",
          "url": getLanguage()
        },
        "columnDefs": [
          {"orderable": false, "targets": 2},
          {"searchable": false, "targets": 2},
        ],
      });
    });
    {% with js_var='qbuilder_options' allow_empty='true' empty_rules=True %}
      {% include 'qbuilder_options.js' %}
    {% endwith %}
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="view-content">
    <h1 class="text-center">{% trans 'Table Views' %}</h1>
    <div class="row justify-content-center condition-btn">
      <a class="btn btn-sm btn-outline-dark spin" style="margin-right: 1ex;"
         href="{% url 'table:display' %}">{% trans 'Back' %}</a>
      <button type="button" class="btn btn-sm btn-primary js-view-add"
              data-url="{% url 'table:view_add' %}"
              data-toggle="tooltip"
              title="{% trans 'New view for the table' %}">
        <span class="fa fa-plus"></span> {% trans 'Add View' %}
      </button>
    </div>
    {% if table.data|length %}
      <div class="row justify-content-center">
        {% render_table table %}
      </div>
    {% else %}
      <p class="text-center">{% blocktrans %}Create views by selecting a subset of rows and columns
      of the table to show.{% endblocktrans %}
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
