{% load i18n %}
{% load crispy_forms_tags %}
{% if filter_condition %}
  {% if selected_rows == 0 %}
    <div class="row justify-content-center">
      <p class="alert-danger">{% trans 'The filter excludes all learners!' %}</p>
    </div>
  {% endif %}
{% else %}
  <div class="row justify-content-center">
    <p>{% trans 'All learners considered for this action.' %}</p>
  </div>
{% endif %}
<form class="js-filter-update-form"
      action="{% url 'action:update_filter' action.id %}" method="POST">
  {% csrf_token %}
  {{ form_filter|crispy }}
  <div>{% trans 'A learner is considered for this action if' %}</div>
  <div id="filter_builder"></div>
  <div class="row justify-content-center row-top-border"
       style="border-color: #dee2e6; padding: 1em 0 1em 0;">
    <button type="submit" name="Submit" value="Submit"
            class="btn btn-primary spin"
            style="margin-right:2ex;"
            data-toggle="tooltip"
            title="{% trans 'Update the filter for the action' %}">
      <span class="fa fa-ok"></span> {% trans 'Update filter' %}</button>
    {% if filter_condition %}
      <button type="button"
              class="btn btn-sm btn-outline-danger js-filter-delete"
              data-url="{% url 'action:delete_filter' filter_condition.id %}"
              data-toggle="tooltip" title="{% trans 'Delete the filter' %}">
        <span class="fa fa-trash"></span> {% trans 'Delete filter' %}
      </button>
    {% endif %}
  </div>
</form>
