<form method="post" action="{% url 'action:delete' action.id %}" class="js-action-delete-form">
  {% csrf_token %}
  <input type="hidden" name="dst" value="{{ dst }}"/>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm action deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete the action <strong>{{ action.name }}</strong>?</p>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete action</button>
  </div>
</form>

