{% load i18n %}
<form method="post" action="{% url 'action:delete_filter' id %}" class="js-filter-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans 'Confirm filter deletion' %}</h4>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=filter_condition.name %}Are you sure you want to delete the filter <strong>{{ n }}</strong>?{% endblocktrans %}</p>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}
    </button>
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span> {% trans 'Delete filter' %}</button>
  </div>
</form>

