{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<div class="js-action-showurl-form">
  <form action="{% url 'action:showurl' action.id %}" method="post"
        class="js-action-showurl-form">
    {% csrf_token %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">URL to the personalised content</h4>
    </div>
    <div class="modal-body">
      <p class="lead">This URL provides access to the content
        personalised for each user.</p>
      <pre>{{ url_text }}</pre>
      {{ form|crispy }}
      <p class="text-left">Access is protected by authentication,
        and the user <strong>email</strong> is in a column named <strong>email</strong>.
        To use a different column, add this parameter to the end of the URL:
      </p>
      <p><code>?uatn=[COLUMN NAME]</code></p>
      <p>replacing <code>[COLUMN NAME]</code> by the colum to use instead of <strong>email</strong>.</p>
    </div>
    <div class="modal-footer" style="text-align: center;">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-ok"></span> Ok
      </button>
    </div>
  </form>
</div>
