{% load i18n %}
<div id="filter-set-header" class="text-center">
  {% if filter_condition %}
    <div id="filter-set" class="card-deck justify-content-center" style="margin:1em 0 1em 0;">
      <div class="card ontask-ccard text-center">
        {% if filter_condition.name %}
          <h5 class="card-header">{{ condition.name }}</h5>
        {% endif %}
        <div class="card-body" style="min-height: 100px;">
          <p class="card-text">{{ filter_condition.description_text }}</p>
          <p class="card-text"><strong>{% trans 'Formula' %}</strong><br/>{{ filter_condition.get_formula_text }}</p>
        </div>
        <div class="cond-buttons">
          <button type="button"
                  class="btn btn-light btn-sm js-filter-edit"
                  data-url="{% url 'action:edit_filter' filter_condition.id %}"
                  data-toggle="tooltip"
                  title="{% blocktrans with n=filter_condition.n_rows_selected %}Edit the filter ({{ n }} rows satisfy this condition){% endblocktrans %}"><span class="fa fa-pencil"></span>
          </button>
          <button type="button"
                  class="btn btn-light btn-sm js-filter-delete"
                  data-url="{% url 'action:delete_filter' filter_condition.id %}"
                  data-toggle="tooltip"
                  title="{% trans 'Delete the filter' %}">
            <span class="fa fa-trash"></span>
          </button>
        </div>
      </div>
    </div>
  {% else %}
    <p class="text-center">{% trans 'All learners considered for this action.' %}</p>
    <button type="button"
        class="btn btn-outline-dark js-filter-create{% if not has_data %} disabled{% endif %} mb-3"
        data-url="{% url 'action:create_filter' action.id %}"
        data-type="filter">
      <span class="glyphicon glyphicon-plus"></span> {% trans 'Add Filter' %}</button>
  {% endif %}
</div>

