<form method="post" action="{% url 'action:edit_filter' action_id %}" class="js-filter-edit-form">
  {% csrf_token %}
  <input type="hidden" name="dst" value="{{ dst }}"/>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modify action filter</h4>
  </div>
  <div class="modal-body">
    {% include 'action/includes/partial_form_fields.html' %}
    <div id="builder"></div>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update filter</button>
  </div>
</form>
