{% load i18n %}
<div class="js-action-preview-form">
  <div class="modal-header">
    <h4 class="modal-title">{% blocktrans %}Preview {{ index }} of {{ n_items }}{% endblocktrans %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <button type="button"
            class="btn btn-outline-primary js-action-preview-prv"
            data-url="{% url 'action:preview' action.id prv %}">
      <span class="fa fa-chevron-left"></span>
    </button>
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans 'Close' %}</button>
    <button type="button" class="btn btn-outline-primary js-action-preview-nxt"
            data-url="{% url 'action:preview' action.id nxt %}">
      <span class="fa fa-chevron-right"></span>
    </button>
  </div>
  {% if not correct_json %}
    <p class="alert-danger text-center">Incorrect JSON object. Check action text</p>
  {% endif %}
  {% if prelude %}
    <div class="modal-body" style="text-align: left; border: solid 1px black;margin: 0 2ex 0 2ex;">
      <strong>{% trans 'Subject:' %}</strong> {{ prelude }}
    </div>
  {% endif %}
  <div id="preview-body" class="modal-body"
       style="text-align: left; border: solid 1px black;margin: 0 2ex 2ex 2ex;">
    {% if action.action_type == 'personalized_json' %}
      <pre>{{ action_content }}</pre>
    {% elif action.action_type == 'personalized_canvas_email' %}
      <div class="container-fluid" style="white-space: pre-wrap;">{{ action_content }}</div>
    {% else %}
      {{ action_content }}
    {% endif %}
  </div>
  {% if action.is_out and show_values %}
    <div id="preview-variables" class="modal-body"
         style="text-align: left; border: solid 1px black;margin: 0 2ex 2ex 2ex;">
      <strong>{% trans 'Values:' %}</strong> {{ show_values }}
    </div>
  {% endif %}
</div>

