{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" action="{% url 'action:update' form.instance.pk %}"
      class="js-action-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Update action' %}</h4>
    <button type="button" class="close" data-dismiss="modal" arial-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <span class="fa fa-check"></span> {% trans 'Update' %}</button>
  </div>
</form>
