<h4 id="filter-set" style="border-top: none;">Filter learners
<div class="btn-group">
  {% if filter_condition %}
    <button type="button"
            class="btn btn-sm btn-primary js-filter-edit"
            data-url="{% url 'action:edit_filter' filter_condition.id %}"
            data-type="filter"
            data-toggle="tooltip"
            title="Edit the filter (selects {{ selected_rows }} learners of {{ total_rows }})">
            {{ filter_condition.name }} ({{ selected_rows }} learners of
      {{ total_rows }})
    </button>
    <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul role="menu" class="dropdown-menu">
      <li>
        <button type="button"
                class="btn btn-sm btn-default js-filter-edit"
                data-url="{% url 'action:edit_filter' filter_condition.id %}"
                data-type="filter"
                data-toggle="tooltip"
                title="Edit the filter name and expression">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
      </li>
      <li>
        <button type="button"
                class="btn btn-sm btn-default js-filter-delete"
                data-url="{% url 'action:delete_filter' filter_condition.id %}"
                data-toggle="tooltip" title="Delete the filter">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
      </li>
    </ul>
  {% else %}
    <button type="button"
            class="btn btn-primary btn-sm js-filter-create{% if not has_data %} disabled{% endif %}"
            data-url="{% url 'action:create_filter' action.id %}"
            data-type="filter">
      <span class="glyphicon glyphicon-plus"></span> Add Filter</button>
  {% endif %}
</div></h4>
{% if filter_condition %}
  {% if selected_rows == 0 %}
    <p class="alert-danger">The filter excludes all learners!</p>
  {% endif %}
{% else %}
  <p>All learners considered for this action.</p>
{% endif %}

