{% load i18n %}
{% if other_conditions %}
  <div id="condition-clone" class="dropdown btn-group">
    <button type="button" class="btn btn-outline-dark dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-clone"></span> {% trans 'Clone other conditions' %}</button>
    <div class="shadow dropdown-menu" aria-labelledby="condition-clone">
      {% for condition in other_conditions %}
        <button type="button" class="dropdown-item js-condition-clone"
                data-url="{% url 'action:clone_condition' condition.id action.id %}">{{ condition.name }}</button>
      {% endfor %}
    </div>
  </div>
{% endif %}
