{% load i18n %}
<div class="condition-btn" role="group">
  <a href="{% if is_out %}{% url 'action:edit_out' id %}{% else %}{% url 'action:edit_in' id %}{% endif %}"
     class="btn btn-primary btn-sm align-middle"
        data-toggle="tooltip"
        title="{% trans 'Edit the text, conditions and filter' %}">
    <span class="glyphicon glyphicon-folder-open"></span> {% trans 'Edit' %}</a>
  <button type="button"
          class="btn btn-primary btn-sm js-action-showurl"
          data-url="{% url 'action:showurl' id %}"
          data-toggle="tooltip"
          {% if is_out %}
            title="{% trans 'URL for learners to access the personalised text' %}"
          {% else %}
            title="{% trans 'URL for learners to introduce data' %}"
          {% endif %}
          >
    <span class="glyphicon glyphicon-link"></span> {% trans 'URL' %}
    {% if serve_enabled %}<span class="badge">On</span>{% else %}(Off){% endif %}
  </button>
  {% if action_tval == 'personalized_text' %}
    <a href="{% url 'action:send_email' id %}"
       class="btn btn-primary btn-sm"
        data-toggle="tooltip" title="{% trans 'Send personalised emails' %}">
      <span class="glyphicon glyphicon-envelope"></span> {% trans 'Email' %}</a>
  {% elif action_tval == 'survey' or action_tval == 'todo_list' %}
    <a href="{% url 'action:run' id %}"
       class="btn btn-primary btn-sm {% if not survey_is_correct %}disabled{% endif %}"
       data-toggle="tooltip"
       title="{% trans 'Enter data manually' %}">
      <span class="glyphicon glyphicon-off"></span> {% trans 'Run' %}</a>
  {% endif %}
  <div class="dropdown" style="display: inline-table;">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
            data-toggle="dropdown"> {% trans 'More' %} <span class="caret"></span>
    </button>
    <ul role="menu" class="dropdown-menu">
      {% if action_tval == 'personalized_text' %}
        <li>
          <a href="{% url 'scheduler:create_email' id %}"
             class="btn btn-default btn-sm"
             data-toggle="tooltip"
             title="{% trans 'Schedule the execution of the action' %}">
            <span class="glyphicon glyphicon-calendar"></span> {% trans 'Schedule' %}</a>
        </li>
      {% endif %}
      <li>
        <button type="button"
                class="btn btn-default btn-sm js-action-update align-middle"
                data-url="{% url 'action:update' id %}"
                data-toggle="tooltip"
                title="{% trans 'Change name and/or description' %}">
            <span class="glyphicon glyphicon-pencil"></span> {% trans 'Rename' %}
        </button>
      </li>
      <li>
        <button type="button"
                class="btn btn-default btn-sm js-action-clone align-middle"
                data-url="{% url 'action:clone' id %}"
                data-toggle="tooltip"
                title="{% trans 'Create an identical action' %}">
          <span class="glyphicon glyphicon-duplicate"></span> {% trans 'Clone' %}
        </button>
      </li>
      <li>
        <a href="{% url 'action:export_ask' id %}"
           class="btn btn-default btn-sm"
           data-toggle="tooltip"
           title="{% trans 'Export the content of this action' %}">
          <span class="glyphicon glyphicon-export"></span> {% trans 'Export' %}</a>
      </li>
      <li>
        <button type="button"
                class="btn btn-default btn-sm js-action-delete"
                data-url="{% url 'action:delete' id %}"
                data-toggle="tooltip"
                title="{% trans 'Delete the action' %}">
          <span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}</button>
      </li>
    </ul>
  </div>
</div>