{% load i18n %}
<div id="action-preview-done" class="text-center my-2">
  <button type="button"
          class="shadow btn btn-outline-info js-action-preview {% if selected_rows == 0 %}disabled{% endif %}"
          data-url="{% url 'action:preview' action.id 1 %}"
          data-toggle="tooltip"
      title="{% trans 'See how is the content shown to each learner' %}">
    <span class="fa fa fa-eye"></span> {% trans 'Preview' %}
  </button>
  <button type="submit" name="Submit" value="Submit"
          class="shadow btn btn-outline-primary spin"
          data-toggle="tooltip"
          title="{% trans 'Save current data' %}">
    <span class="fa fa-floppy-o"></span> {% trans 'Save' %}</button>
  <button type="submit" name="Submit" value="Close"
          class="shadow btn btn-outline-primary spin"
          data-toggle="tooltip"
          title="{% trans 'Save and go back to the action table' %}">
    <span class="fa fa-check"></span> {% trans 'Close' %}</button>
</div>

