{% load i18n %}
<div class="js-action-preview-form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% blocktrans %}Email Preview {{ index }} of {{ n_items }}{% endblocktrans %}</h4>
  </div>
  <div class="modal-body text-center">
    <button type="button"
            class="btn btn-info js-action-preview-prv"
            data-url="{% url 'action:email_preview' action.id prv %}">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
    <button type="button" class="btn btn-info js-action-preview-nxt"
            data-url="{% url 'action:email_preview' action.id nxt %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
  <div class="modal-body" style="text-align: left; border: solid 1px black;margin: 0 2ex 0 2ex;">
    <strong>{% trans 'Subject:' %}</strong> {{ prelude }}
  </div>
  <div class="modal-body" style="text-align: left; border: solid 1px black;margin: 0 2ex 2ex 2ex;">
    {{ action_content }}
  </div>
  <div class="modal-body" style="text-align: left; border: solid 1px black;margin: 0 2ex 2ex 2ex;">
    {% if show_values %}<strong>{% trans 'Values:' %}</strong> {{ show_values }}{% endif %}
  </div>
</div>

