{% load i18n %}
{% if selected_rows == 0 %}
  <p class="alert-danger text-center"><span class="fa fa-exclamation-triangle" style="color:red;"></span> {% trans 'The filter excludes all the students' %}</p>
{% elif all_false_conditions %}
  <p class="alert-danger text-center"><span class="fa fa-exclamation-triangle" style="color:red;"></span> {% trans 'Some condition evaluates to FALSE for all users' %}</p>
{% endif %}
{% if rows_all_false %}
  <p class="alert-danger text-center"><span class="fa fa-exclamation-triangle" style="color:red;"></span> {% blocktrans count n=rows_all_false|length %}{{ n }} user has all conditions equal to FALSE{% plural %}{{ n }} users have all conditions equal to FALSE{% endblocktrans %}</p>
{% endif %}



