<a href="{% url 'action:logs' action.id %}"
   class="btn btn-primary btn-sm">
  <span class="glyphicon glyphicon-eye-open"></span> Logs
</a>
<a href="{% url 'action:share' action.id %}"
   class="btn btn-primary btn-sm">
  <span class="glyphicon glyphicon-share"></span> Share
</a>
<button type="button"
        class="btn btn-danger btn-sm js-action-delete"
        data-url="{% url 'action:delete' action.id %}"
        data-dst="redirect">
  <span class="glyphicon glyphicon-trash"></span> Delete
</button>

