{% load i18n %}
<div class="dropdown btn-group" style="display: inline-table;" role="group">
  <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    {% trans 'Manage table data' %}  <span class="caret"></span>
  </button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <a href="{% url 'dataops:uploadmerge' %}"
         class="btn btn-outline-dark btn-sm spin"
         data-toggle="tooltip"
         title="{% trans 'Upload or merge data into the workflow table' %}">
        {% trans 'Upload or merge data' %}
      </a>
    </li>
    <li>
      <a href="{% url 'dataops:transform' %}"
         class="btn btn-outline-dark btn-sm spin"
         data-toggle="tooltip"
         title="{% trans 'Execute one of the available plugins' %}">
        {% trans 'Execute plugin' %}
      </a>
    </li>
    {% if workflow.nrows %}
      <li>
        <button type="button" style="width:100%;"
                class="btn btn-outline-dark btn-sm js-workflow-flush"
                data-url="{% url 'workflow:flush' workflow.id %}" data-toggle="tooltip"
                title="{% trans 'Delete the data in the table of this workflow' %}">
          <span class="fa fa-floppy-remove"></span> {% trans 'Flush data table' %}
        </button>
      </li>
    {% endif %}
  </ul>
</div>
