{% load i18n %}
<div class="dropdown" style="display: inline-table;">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
    {% trans 'Manage table data' %}  <span class="caret"></span>
  </button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <a href="{% url 'dataops:uploadmerge' %}"
         class="btn btn-default btn-sm spin"
         data-toggle="tooltip"
         title="{% trans 'Upload or merge data into the workflow table' %}">
        {% trans 'Upload or merge data' %}
      </a>
    </li>
    <li>
      <a href="{% url 'dataops:transform' %}"
         class="btn btn-default btn-sm spin"
         data-toggle="tooltip"
         title="{% trans 'Execute one of the available plugins' %}">
        {% trans 'Execute plugin' %}
      </a>
    </li>
  </ul>
</div>
