{% load i18n %}
<button type="button"
        class="btn btn-outline-dark btn-sm js-attribute-edit"
        data-url="{% url 'workflow:attribute_edit' id %}"
        data-toggle="tooltip"
        title="{% trans 'Edit name and value' %}">
  <span class="fa fa-pencil"></span>
</button>
<button type="button"
        class="btn btn-outline-danger btn-sm js-attribute-delete"
        data-url="{% url 'workflow:attribute_delete' id %}"
        data-toggle="tooltip" 
        title="{% trans 'Delete pair name/value' %}">
  <span class="fa fa-trash"></span>
</button>
