<form method="post" action="{% url 'workflow:column_delete' pk %}" class="js-column-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirm column deletion</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Are you sure you want to delete column <strong>{{ cname }}</strong>?</p>
    {% if cond_to_delete %}
      <p>The column is currently used in the following conditions (inside an
        action):</p>
      {% for cname in cond_to_delete %}
        <p>{{ cname.name }} ({{ cname.action.name }})</p>
      {% endfor %}
      <p>These conditions will also be deleted.</p>
    {% endif %}
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span> Delete column</button>
  </div>
</form>

