{% load i18n %}
<form method="post" action="{% url 'workflow:column_restrict' pk %}" class="js-column-restrict-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans 'Confirm column deletion' %}</h4>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=cname v=values %}Are you sure you want to restrict column 
      <strong>{{ n }}</strong> to the values {{ v }}?{% endblocktrans %}
    </p>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}
    </button>
    <button type="submit" class="btn btn-danger">
      <span class="glyphicon glyphicon-trash"></span> {% trans 'Restrict column' %}</button>
  </div>
</form>

