<button type="button"
        class="btn btn-primary btn-sm js-workflow-update"
        data-url="{% url 'workflow:update' id %}"
        data-dst="refresh" style="margin-bottom:1ex;">
  <span class="glyphicon glyphicon-pencil"></span> Rename
</button>
<button type="button"
        class="btn btn-danger btn-sm js-workflow-delete"
        data-url="{% url 'workflow:delete' id %}"
        data-dst="refresh" style="margin-bottom:1ex;">
<span class="glyphicon glyphicon-trash"></span> Delete
</button>
