{% load i18n %}
{% load crispy_forms_tags %}
<form method="post" action="{% url 'workflow:update' form.instance.pk %}" class="js-workflow-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Rename workflow' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans 'Cancel' %}
    </button>
    <button type="submit" class="btn btn-primary">
     <span class="fa fa-ok"></span> {% trans 'Save' %}</button>
  </div>
</form>
