{% load i18n %}
<form method="post" action="{% url 'workflow:create' %}" class="js-workflow-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Create a workflow' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans %}Create a new <i>empty</i> workflow (that is, with no data table or actions) by
      providing a name
    and a description. The next page will ask you for the data to populate the data table.{% endblocktrans %}</p>
    {% include 'workflow/includes/partial_workflow_form.html' %}
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans 'Cancel' %}
    </button>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-ok"></span> {% trans 'Create workflow' %}</button>
  </div>
</form>
