{% load i18n %}
<form method="post" action="{% url 'workflow:delete' workflow.id %}" class="js-workflow-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Confirm workflow deletion' %}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">{% blocktrans with n=workflow.name %}Are you sure you want to delete the workflow <strong>{{ n }}</strong>?{% endblocktrans %}</p>
    <p>{% trans 'This operation will also remove all the conditions and actions attached to it.' %}</p>
    <p>Type the name of the workflow: <input type="text" id="txtInput" class="textEnable" data-value="{{ workflow.name }}"/></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">{% trans 'Cancel' %}
    </button>
    <button type="submit" class="btn btn-outline-danger button-enable" disabled>
      <span class="fa fa-trash"></span> {% trans 'Delete workflow' %}</button>
  </div>
</form>

