{% load i18n %}
<div style="display: inline-table;">
  <a href="{% url 'workflow:detail' workflow.id %}"
     class="btn btn-primary btn-sm" data-toggle="tooltip"
     title="{% trans 'Open the workflow to manipulate its data and actions' %}">
      <span class="glyphicon glyphicon-book"></span> {% trans 'Open' %}
  </a>
  {% if request.user == workflow.user %}
    <button type="button"
            class="btn btn-default btn-sm js-workflow-update align-middle"
            data-url="{% url 'workflow:update' workflow.id %}" data-toggle="tooltip"
            title="{% trans 'Change the name and description of this workflow' %}">
        <span class="glyphicon glyphicon-pencil"></span> {% trans 'Rename' %}
    </button>
    <button type="button"
       class="btn btn-default btn-sm js-workflow-clone align-middle"
            data-url="{% url 'workflow:clone' workflow.id %}" data-toggle="tooltip"
            title="{% trans 'Create a duplicate of this workflow' %}">
      <span class="glyphicon glyphicon-duplicate"></span>
      {% trans 'Clone' %}
    </button>
    <a href="{% url 'workflow:share' workflow.id %}" class="btn btn-default btn-sm"
       data-toggle="tooltip"
       title="{% trans 'Allow other users to access and use the workflow' %}">
      <span class="glyphicon glyphicon-share"></span> {% trans 'Share' %}
    </a>
    <button type="button"
            class="btn btn-default btn-sm js-workflow-flush"
            data-url="{% url 'workflow:flush' workflow.id %}" data-toggle="tooltip"
            title="{% trans 'Delete the data in the table of this workflow' %}">
      <span class="glyphicon glyphicon-floppy-remove"></span>
      {% trans 'Flush Data' %}
    </button>
    <button type="button"
            class="btn btn-default btn-sm js-workflow-delete"
            data-url="{% url 'workflow:delete' workflow.id %}" data-toggle="tooltip"
            title="{% trans 'Delete this workflow' %}">
      <span class="glyphicon glyphicon-trash"></span> {% trans 'Delete' %}
    </button>
  {% endif %}
  <a href="{% url 'workflow:export_ask' workflow.id %}"
     class="btn btn-default btn-sm"
     data-toggle="tooltip"
     title="{% trans 'Export the workflow and its actions' %}">
    <span class="glyphicon glyphicon-export"></span> {% trans 'Export' %}
  </a>
</div>
