<div class="dropdown">
  {% if workflow.nrows != 0 %}
    <button type="button"
            class="btn btn-primary btn-sm js-workflow-column-add"
            data-url="{% url 'workflow:column_add' %}"
            data-toggle="tooltip" title="Add a new column to the table">
      <span class="glyphicon glyphicon-plus"></span> Add column
    </button>
    <button type="button"
            class="btn btn-primary btn-sm js-workflow-formula-column-add"
            data-url="{% url 'workflow:formula_column_add' %}"
            data-toggle="tooltip" title="Add a new derived column to the table">
      <span class="glyphicon glyphicon-plus"></span> Add derived column
    </button>
  {% endif %}
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
          data-toggle="dropdown"> More ops
    <span class="caret"></span>
  </button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <a href="{% url 'workflow:attributes' %}"
         class="btn btn-default btn-sm"
         data-toggle="tooltip"
         title="List of name=value pairs to use in the actions">
        <span class="glyphicon glyphicon-list"></span> Attributes
      </a>
    </li>
    <li>
      <a href="{% url 'workflow:export_ask' workflow.id %}"
         class="btn btn-default btn-sm"
         data-toggle="tooltip" title="Export the workflow and its actions">
        <span class="glyphicon glyphicon-export"></span> Export
      </a>
    </li>
    {% if request.user == workflow.user %}
      <li>
        <button type="button" style="width:100%;"
                class="btn btn-default btn-sm js-workflow-update align-middle"
                data-url="{% url 'workflow:update' workflow.id %}">
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
      </li>     <li>
        <a href="{% url 'workflow:share' %}" class="btn btn-default btn-sm"
           data-toggle="tooltip"
           title="Allow other users to access the workflow">
          <span class="glyphicon glyphicon-share"></span> Share
        </a>
      </li>
      <li>
        <button type="button" style="width:100%;"
           class="btn btn-default btn-sm js-workflow-clone align-middle"
                data-url="{% url 'workflow:clone' workflow.id %}">
          <span class="glyphicon glyphicon-duplicate"></span> Clone
        </button>
      </li>
      <li>
        <button type="button" style="width:100%;"
                class="btn btn-default btn-sm js-workflow-flush"
                data-url="{% url 'workflow:flush' workflow.id %}">
          <span class="glyphicon glyphicon-floppy-remove"></span> Flush Data
        </button>
      </li>
      <li>
        <button type="button" style="width:100%;"
                class="btn btn-default btn-sm js-workflow-delete"
                data-url="{% url 'workflow:delete' workflow.id %}">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
      </li>
    {% endif %}
  </ul>
</div>
