{% load i18n %}
<div id="column-movements" style="display:inline">
  <div style="display:table-cell;vertical-align:middle;padding-right:1ex;">
    {{ column.position }}
  </div>
  <div style="display:table-cell">
    {% if column.position != 1 %}
      <div style="float:left; clear:left;">
        <a href="{% url 'workflow:column_move_top' column.id %}"
           class="column-move-top">
           <span class="fa fa-step-forward"
                 style="transform:rotate(-90deg);"></span></a>
      </div>
    {% endif %}
    {% if column.position != column.workflow.ncols %}
      <div style="float:left; clear:left;">
        <a href="{% url 'workflow:column_move_bottom' column.id %}"
           class="column-move-bottom">
           <span class="fa fa-step-backward"
                 style="transform:rotate(-90deg);"></span></a>
      </div>
    {% endif %}
  </div>
</div>
