{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{{ view.title }}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'connection/js/connection.js' %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("conn-instructor-table") != null) {
      // Required for DataTables
      $(document).ready(function() {
        var conn_table = $('#conn-instructor-table').DataTable({
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          "stateSave": true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [[0, "asc"]],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
              {"className": "dt-center", "targets": [0, 2]},
              {"orderable": false, "targets": 2},
              {"searchable": false, "targets": 2},
          ],
          colReorder: false,
          rowReorder: false,
          "responsive": false,
        });
        conn_table.columns().iterator('column', function (ctx, idx) {
          $(conn_table.column(idx).header()).append('<span class="sort-icon"/>');
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="connection-instructor">
    <h1 class="text-center">{{ view.title }}</h1>
    {% if select_sql_connection %}
      <p class="text-center">{% blocktrans %}Select the SQL connection to use by clicking on its name.{% endblocktrans %}</p>
    {% endif %}
    {% if table.data|length %}
      <div class="justify-content-center">
        {% render_table table %}
      </div>
    {% else %}
      {% if is_athena %}
        <p class="text-center">{% blocktrans %}In this page you will find the available Athena connections to
      access data stored in external relational databases. The connections can only
        be created by the system administrator.{% endblocktrans %}</p>
      {% endif %}
      {% if view.is_sql %}
        <p class="text-center">{% blocktrans %}In this page you will find the available SQL connections to
      access data stored in external relational databases. The connections can only
        be created by the system administrator.{% endblocktrans %}</p>
      {% endif %}
    {% endif %}
    {% if select_sql_connection %}
    <div class="text-center">
      <a class="btn btn-outline-dark spin" href="{% url 'scheduler:index' %}">{% trans 'Back' %}</a>
    </div>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}

