{% load i18n %}
<div class="shadow rounded tab-pane px-3 fade show border border-dark"
     id="conditions" role="tabpanel" aria-labelledby="conditions-tab">
  <div id="condition-set-header" class="text-center my-3">
    <button type="button"
            class="btn btn-outline-dark js-condition-create{% if not has_data %} disabled{% endif %}"
            data-url="{% url 'condition:create_condition' action.id %}"
            data-bs-toggle="tooltip"
            title="{% trans 'Define a condition to use in this action.' %}">
      <i class="bi-plus"></i> {% trans 'Condition' %}</button>
    {% include 'condition/includes/partial_condition_clone.html' %}
  </div>
  <div id="condition-set" class="card-deck justify-content-center my-3">
    {% for condition in conditions %}
      <div class="shadow card ontask-ccard text-center mb-3 mx-2">
        <h5 class="card-header js-condition-edit" data-url="{% url 'condition:edit_condition' condition.id %}">{{ condition.name }}</h5>
        <div class="card-body js-condition-edit" data-url="{% url 'condition:edit_condition' condition.id %}" style="min-height: 100px;">
          <h5 class="card-subtitle mb-2 text-muted">{% blocktrans with n=condition.selected_count count counter=condition.selected_count %}({{ n }} learner){% plural %}({{ n }} learners){% endblocktrans %}
            {% if condition.selected_count == 0 %}<span
                class="bi-exclamation-triangle" style="color:red;"
                data-bs-toggle="tooltip"
                title="Condition is false for all considered users"></span>
          {% endif %}</h5>
          <p class="card-text">{{ condition.description_text }}</p>
          <p class="card-text"><strong>{% trans 'Formula' %}</strong><br/>{{ condition.formula_text|safe }}</p>
        </div>
        <div class="cond-buttons">
          <button type="button"
                  class="btn btn-light btn-sm js-condition-edit"
                  data-url="{% url 'condition:edit_condition' condition.id %}"
                  data-bs-toggle="tooltip"
                  title="{% blocktrans with n=condition.selected_count %}Edit the condition ({{ n }} rows satisfy this condition){% endblocktrans %}"><i class="bi-pencil-fill"></i>
          </button>
          <button type="button"
             class="btn btn-light btn-sm js-condition-clone"
             data-url="{% url 'condition:clone_condition' condition.id %}"
             data-bs-toggle="tooltip"
             title="{% trans 'Create an exact copy of this condition' %}">
            <i class="bi-files"></i>
          </button>
          <button type="button"
                  class="btn btn-light btn-sm js-condition-delete"
                  data-url="{% url 'condition:delete_condition' condition.id %}"
                  data-bs-toggle="tooltip"
                  title="{% trans 'Delete the condition' %}">
            <i class="bi-trash-fill"></i>
          </button>
        </div>
      </div>
    {% empty %}
      <p class="text-center">
        {% blocktrans %}Create conditions to show/hide text in the message (optional){% endblocktrans %}</p>
    {% endfor %}
  </div>
</div>
