{% load i18n %}
{% load crispy_forms_tags %}
<form method="post"
  {% if form.instance.id is None %}
    action="{% url 'condition:create_condition' object.id %}"
    class="js-condition-create-form"
  {% else %}
    action="{% url 'condition:edit_condition' object.id %}"
    class="js-condition-edit-form"
  {% endif %}>
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">
     {% if form.instance.id is None %}
       {% trans 'Create condition' %}
     {% else %}
       {% trans 'Update condition' %}
     {% endif %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
    <div>{% trans 'The text will be shown if' %}</div>
    <div id="builder"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi-check"></i>
      {% if form.instance.id is None %}
        {% trans 'Create condition' %}
      {% else %}
        {% trans 'Update condition' %}{% endif %}</button>
  </div>
</form>
