{% load i18n %}
<div class="js-plugin-diagnose-view">
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Description' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <table class="table shadow" id="transform-description-table">
      <thead>
        <tr>
          <th><p class="text-center">{{ pinstance.get_description_txt }}</p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre class="text-left">{{ pinstance.get_long_description }}</pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
