{% load i18n %}
<div class="dropdown btn-group">
  <button class="shadow btn btn-outline-dark dropdown-toggle" type="button"
          id="addScheduleOperations"
          data-toggle="dropdown"><span class="fa fa-plus"></span> {% trans 'Operation' %}
  </button>
  <div class="shadow dropdown-menu" aria-labelledby="addColumnOpertions">
    <a type="button" class="dropdown-item"
       href="{% url 'scheduler:select_sql' %}"
       data-toggle="tooltip"
       title="{% trans 'Schedule a SQL upload/merge operation' %}">
      {% trans 'SQL upload/merge' %}
    </a>
  </div>
</div>
