{% load i18n %}
<div class="btn-group" role="group">
  <button type="button"
          data-bs-toggle="tooltip" title="{% trans 'Edit this scheduled operation' %}"
          class="btn btn-secondary btn-sm btn-light mt-1"
          onclick="location.href='{% url 'scheduler:edit_scheduled_operation' id %}'">
    <i class="bi-pencil-fill"></i></button>
  <button type="button"
     data-url="{% url 'scheduler:view' id %}" data-bs-toggle="tooltip"
     title="{% trans 'View the details of this scheduled operation' %}"
     class="btn btn-secondary btn-sm btn-light js-scheduler-view mt-1">
    <i class="bi-eye-fill"></i></button>
  <button type="button" class="btn btn-secondary btn-sm btn-light js-scheduler-delete mt-1"
          data-bs-toggle="tooltip" title="{% trans 'Delete this scheduled operation' %}"
          data-url="{% url 'scheduler:delete' id %}">
    <i class="bi-trash-fill"></i></button>
</div>
