{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Scheduled Execution' %}{% endblock %}
{% block extrahead %}
  {% ontask_datetimepicker_css %}
  {% ontask_jqcron_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  {% ontask_jqcron_js %}
  <script src="{% static 'dataops/js/dataops.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}"></script>
  <script src="{% static 'scheduler/js/scheduler.js' %}"></script>
  <script type="text/javascript">
    jqCronWidget = $('.ontask-scheduler-frequency').jqCron({
      default_value: '{{ frequency }}',
      enabled_minute: true,
      multiple_dom: true,
      multiple_month: true,
      multiple_mins: true,
      multiple_dow: true,
      multiple_time_hours: true,
      multiple_time_minutes: true,
      no_reset_button: false,
      numeric_zero_pad: true,
      bind_to: $('#id_frequency'),
      bind_method: {
        set: function($element, value) {
          $element.is(':input') ? $element.attr('value', value) : $element.data('jqCronValue', value);
      },
    }});
  </script>
{% endblock scripts %}
{% block container %}
  <div class="container" id="email-schedule-send">
    <div id="step_sequence" hidden>
      {% include 'step_by_step.html' with valuerange=valuerange step=1 %}
    </div>
    <h1 class="text-center">{{ payload.page_title }}</h1>
    <p class="text-center">{% blocktrans with n=now %}Time now is {{ n }}{% endblocktrans %}</p>
    {% if view.action %}
      <p class="lead text-center">
        <a class="spin" data-toggle="tooltip"
           title="{% trans 'Edit the action scheduled for execution' %}"
           href="{% url 'action:edit' view.action.id %}">{{ view.action.name }}</a>
      </p>
      {% include 'action/includes/partial_action_edit_out_warning.html' %}
    {% endif %}
    <div class="row justify-content-center">
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% include 'dataops/merge_help.html' %}
        <div class="text-center mt-3 mb-3">
          <a type="button" class="btn btn-outline-dark"
             href="{% url 'scheduler:index' %}"> {% trans 'Cancel' %}</a>
          {% if view.action %}
            <button type="button" class="btn btn-outline-info js-action-preview"
                    data-url="{% url 'action:preview' view.action.id 1 %}">
              <span class="fa fa-eye"></span> {% trans 'Preview' %}</button>
          {% endif %}
          <button type="Submit" name="Submit" value="Submit" id="next-step-on" hidden
                  class="shadow btn btn-outline-primary btn-space spin">
            <span class="fa fa-angle-right"></span> {% trans 'Next' %}</button>
          <button type="Submit" name="Submit" value="Submit" id="next-step-off"
                  class="shadow btn btn-outline-primary btn-space spin">
            <span class="fa fa-angle-right"></span> {% trans 'Schedule' %}</button>
        </div>
      </form>
    </div>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
