{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Operation scheduled' %}{% endblock %}
{% block container %}
  <div class="container">
    <h1 class="text-center">{% trans 'Operation scheduled for execution' %}</h1>
    {% if tdelta %}
      <p class="text-center">{% blocktrans with n=tdelta %}Operation execution: {{ n }}{% endblocktrans %}</p>
    {% endif %}
    <div class="text-center">
      <a class="btn btn-outline-dark" href="{% url 'scheduler:index' %}">{% trans 'Scheduled operations' %}</a>
      <a href="{% url 'scheduler:edit_scheduled_operation' s_item.id %}"
         class="shadow btn btn-outline-primary">
      <span class="fa fa-pencil-alt"></span> {% trans 'Edit' %}</a>
    </div>
  </div>
{% endblock container %}
