{% load i18n %}
<div class="modal-header" style="border-bottom: unset;">
  <h4 class="modal-title">{% trans 'Log' %} {{ view.object.id }}: {{ view.object }}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {% if view.object.workflow %}
    <h4 class="text-center">{% trans 'Workflow' %}: {{ object.workflow.name }}</h4>
  {% endif %}
  <p class="text-center">{% trans 'Last modified' %}: {{ object.modified }}</p>
  <table class="table shadow" width="100%">
    {% for c_key, c_val in object.payload.items %}
      <tr><td>{{ c_key }}</td><td>{% if c_val %}{{ c_val }}{% endif %}</td></tr>
    {% endfor %}
  </table>
</div>
