{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Email action scheduled' %}{% endblock %}
{% block container %}
  <div class="container-fluid" style="margin-top:50px;text-align:center;">
    <h1 class="page-header text-center">{% trans 'Email scheduled for execution' %}</h1>

    <p class="text-center">{% trans 'The action will execute in {{ tdelta }}' %}</p>
    <button type="button" class="btn btn-default"
      onclick="location.href='{% url 'scheduler:index' %}'">{% trans 'Back' %}
    </button>
    <a href="{% url 'scheduler:edit_email' s_item.id %}"
       class="btn btn-primary btn-sm align-middle">
    <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit' %}</a>
  </div>
{% endblock container %}
