{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Scheduled operations' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'scheduler/js/scheduler.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    $(document).ready(function() {
      if (document.getElementById("scheduler-table") != null) {
        $('#scheduler-table').DataTable({
          "search": {
            "caseInsensitive": true,
          },
          "language": {
            "emptyTable": "{% trans 'No scheduled operations in this workflow.' %}",
            "url": getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": "_all"},
            {"orderable": false, "targets": 0},
            {"searchable": false, "targets": 0},
          ],
          colReorder: false,
        });
      }
    });
  </script>
{% endblock %}
{% block container %}
  <div class="container">
    <h1 class="text-center">{% trans 'Scheduled Operations' %}<super>*</super></h1>
    {% if not workflow.nrows %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif not workflow.actions.all.count %}
      {% include 'workflow/includes/no_actions.html' %}
    {% endif %}
    {% if table.data|length %}
      <div class="row justify-content-center">
        {% render_table table %}
      </div>
    {% endif %}
    {% url 'action:index' as actionindex %}
    <p class="text-left">{% blocktrans %}<strong><super>*</super></strong>The execution of some of
      the actions can be scheduled for a time in the future. This page shows those planned executions. To schedule the
      execution of one action, go to the <a href="{{ actionindex }}">Actions</a> menu and select the operation <i>Schedule
      </i> for an action.{% endblocktrans %}</p>
  </div>
  {% include 'modal.html' %}
{% endblock container %}




