{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Email scheduled' %}{% endblock %}
{% block container %}
  <div class="container-fluid" style="text-align:center;">
    <h1 class="page-header text-center">{% trans 'Email scheduled for execution' %}</h1>

    <p class="text-center">
      {% blocktrans with n=tdelta %}The action will execute in {{ n }}{% endblocktrans %}
    </p>
    <button type="button" class="btn btn-default"
      onclick="location.href='{% url 'scheduler:index' %}'">{% trans 'Back' %}
    </button>
    <a href="{% url 'scheduler:edit' s_item.id %}"
       class="btn btn-primary btn-sm align-middle">
    <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit' %}</a>
  </div>
{% endblock container %}
