{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Edit Action' %}{% endblock %}
{% block extrahead %}
  {% ontask_query_builder_css %}
  <link href="{% static 'css/sol.css' %}" rel="stylesheet">
  {% ontask_datetimepicker_css %}
  {{ form.media.css }}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_query_builder_js %}
  {% ontask_datetimepicker_js %}
  {{ form.media.js }}
  <script src="{% static 'js/sol.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}"></script>
  <script src="{% static 'condition/js/condition.js' %}"></script>
  <script type="text/javascript">
    {% with js_var='qbuilder_options' allow_empty='false' empty_rules=False %}
      {% include 'qbuilder_options.js' %}
    {% endwith %}
  </script>
  {% if vis_scripts %}
    {% for script_src in vis_scripts %}
      <script src="{{ script_src|safe }}"></script>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block container %}
  <div class="container" id="action-out-editor">
    <h1 class="text-center">{{ action.name }}</h1>
    <form action="" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div id="action-preview-done" class="text-center my-2">
        {% include 'table/includes/partial_column_stats_selector.html' %}
        {% include 'action/includes/partial_action_preview_done_buttons.html' %}
      </div>
      {% include 'action/includes/partial_action_edit_out_warning.html' %}
      <div class="my-3">
        <ul class="nav nav-tabs border-0 justify-content-center"
            id="edit-personalized-text-tabs" role="tablist">
          {% include 'action/includes/partial_text_editor_tab_li.html' %}
          {% include 'condition/includes/partial_filter_tab_li.html' %}
          {% if is_email_report %}
            {% include 'table/includes/partial_attachment_tab_li.html' %}
          {% elif not is_report %}
            {% include 'condition/includes/partial_condition_tab_li.html' %}
          {% endif %}
        </ul>
        <div class="tab-content" id="edit-personalized-text-tab-content">
          {% include 'action/includes/partial_text_editor_tab_body.html' %}
          {% include 'condition/includes/partial_filter_tab_body.html' %}
          {% if is_email_report %}
            {% include 'table/includes/partial_attachment_tab_body.html' %}
          {% elif not is_report %}
            {% include 'condition/includes/partial_condition_tab_body.html' %}
          {% endif %}
        </div>
      </div>
    </form>
  </div>
  {% include 'modal.html' %}
{% endblock container %}

