{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}
  {% if is_survey %}
    {% trans 'Edit Survey' %}
  {% else %}
    {% trans 'Edit TODO List' %}
  {% endif %}
{% endblock %}
{% block extrahead %}
  {% ontask_datetimepicker_css %}
  <link href="{% static 'css/sol.css' %}" rel="stylesheet">
  <link href="{% static 'css/query-builder.default.min.css' %}" rel="stylesheet">
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'js/query-builder.standalone.min.js' %}" ></script>
  {% with country=LANGUAGE_CODE|country %}
    <script src="{% static 'js/query-builder.'|add:country|add:'.js' %}"></script>
  {% endwith %}
  <script src="{% static 'js/sol.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}"></script>
  <script src="{% static 'condition/js/condition.js' %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    {% with js_var='qbuilder_options' allow_empty='false' empty_rules=False %}
      {% include 'qbuilder_options.js' %}
    {% endwith %}
    if (document.getElementById("column-selected-table") != null) {
      $(document).ready(function() {
        $('#column-selected-table').DataTable({
          "ordering": false,
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          stateSave: true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
            {"className": "dt-center", "targets": [0, 1, 3, 4]},
            {"searchable": false, "targets": [0, 3, 4]},
          ],
          colReorder: false,
          rowReorder: false,
        });
      });
    }
  </script>
  {% if vis_scripts %}
    {% for script_src in vis_scripts %}
      <script src="{{ script_src|safe }}"></script>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block container %}
  <div class="container" id="action-in-editor">
    <h1 class="text-center">{{ action.name }}</h1>
    <div class="text-center my-3">
      <button type="button"
              class="shadow btn btn-outline-info js-action-preview {% if not key_selected or not has_no_key or selected_rows == 0 %} disabled{% endif %}"
              data-url="{% url 'action:preview' action.id 1 %}"
              data-toggle="tooltip"
              title="{% trans 'See the content as shown to each learner' %}">
        <span class="fa fa-eye"></span> {% trans 'Preview' %}
      </button>
      <a href="{% url 'action:index' %}"
              class="shadow btn btn-outline-primary spin"
              data-toggle="tooltip"
              data-placement="auto"
              title="{% trans 'Save action and go back to action table' %}">
        <span class="fa fa-check"></span> {% trans 'Done' %}</a>
    </div>
    {% include 'action/includes/partial_action_edit_out_warning.html' %}
    <div class="alert-danger">
      {% if not has_no_key %}
        <p class="text-center">
          {% if is_survey %}
            {% trans 'There must be at least one question (non-key column).' %}
          {% else %}
            {% trans 'There must be at least one item in the list (non-key column).' %}
          {% endif %}
        </p>
      {% endif %}
      {% if any_empty_description %}
        <p class="text-center">
          {% if is_survey %}
            {% trans 'All questions should have non-empty descriptions.' %}
          {% else %}
            {% trans 'All list items should have non-emty descriptions.' %}
          {% endif %}
        </p>
      {% endif %}
      {% if not action.description_text %}
        <p class="text-center">
          {% if is_survey %}
            {% trans 'No description text provided in Survey Parameters' %}
          {% else %}
            {% trans 'No description text provided in TODO List Parameters.' %}
          {% endif %}
        </p>
      {% endif %}
      {% if not key_selected %}
        <p class="text-center">
          {% if is_survey %}
            {% trans 'You need to specify a key column in the  Survey Parameters' %}
          {% else %}
            {% trans 'You need to specify a key column in the  TODO List Parameters' %}
          {% endif %}
        </p>
      {% endif %}
    </div>
    <ul class="nav nav-tabs border-0 justify-content-center"
        id="edit-personalized-text-tabs" role="tablist">
      <li class="nav-item pr-1">
        <a class="nav-link active border border-dark border-bottom-0"
           id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters" aria-selected="false">
          {% if is_survey %}
            {% trans 'Survey parameters' %}
          {% else %}
            {% trans 'TODO List parameters' %}
          {% endif %}
        </a>
      </li>
      {% include 'action/includes/partial_questions_tab_li.html' %}
      {% include 'condition/includes/partial_filter_tab_li.html' %}
      {% include 'condition/includes/partial_condition_tab_li.html' %}
    </ul>
    <div class="tab-content" id="edit-survey-tab-content">
      <div class="shadow rounded tab-pane px-3 fade show active border border-dark"
           id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
        <div class="my-3">
          <h5 class="text-center">{% trans 'Description (shown to learners)' %}
            <button type="button"
                    class="btn btn-outline-dark js-description-edit"
                    data-url="{% url 'action:edit_description' action.id %}"
                    data-type="filter"
                    data-toggle="tooltip"
                    title="{% trans 'Edit description' %}">
              <span class="fa fa-pencil"></span> {% trans 'Edit' %}</button>
          </h5>
          {% if action.description_text %}
            <p class="border border-dark lead text-center">{{ action.description_text }}</p>
          {% endif %}
          <h5 class="text-center">
            {% trans 'Key column to match the user id' %}
            <div id="select-key-column-name" class="dropdown btn-group">
              <button type="button" class="btn btn-outline-dark dropdown-toggle"
                      data-toggle="dropdown">
                {% if not key_selected %}
                  {% trans 'Please, select Key column' %}
                {% else %}
                  {{ key_selected.column.name }}
                {% endif %}
              </button>
              <div class="shadow dropdown-menu scrollable-menu">
                {% if key_selected %}
                  <button type="button" class="dropdown-item js-select-key-column-name"
                          data-url="{% url 'action:unselect_key_column_action' action.id %}">-- {% trans 'Unset key column' %} --</button>
                {% endif %}
                {% for column in key_columns %}
                  {% if column != key_selected.column %}
                    <button type="button" class="dropdown-item js-select-key-column-name"
                            data-url="{% url 'action:select_key_column_action' action.id column.id 1 %}">{{ column.name }}</button>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </h5>
          <h5 class="text-center">{% trans 'Shuffle questions?' %}
            <small>
              <input id="toggle-checkbox"
                     {% if action.shuffle %}checked{% endif %}
                     data-toggle="toggle"
                     data-url="{% url 'action:shuffle_questions' action.id %}"
                     type="checkbox"/>
            </small>
          </h5>
        </div>
      </div>
      {% include 'action/includes/partial_questions_tab_body.html' %}
      {% include 'condition/includes/partial_filter_tab_body.html' %}
      {% include 'condition/includes/partial_condition_tab_body.html' %}
    </div>
  </div>
  {% include 'modal.html' %}
{% endblock container %}
