{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Import actions' %}{% endblock %}
{% block scripts %}
  <script src="{% static 'action/js/action.js' %}"></script>
{% endblock %}
{% block container %}
  <div class="container">
    <h1 class="text-center">{% trans 'Import actions' %}</h1>
    <div class="row justify-content-center">
      <form action="{% url 'action:import' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <a class="shadow btn btn-outline-dark" href="{% url 'action:index' %}">{% trans 'Cancel' %}</a>
          <button class="shadow btn btn-outline-primary btn-space spin"
                  type="Submit" name="Submit" value="Submit">
            <span class="fa fa-upload"></span> {% trans 'Import' %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
