{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Actions' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
  <script src="{% static 'action/js/action.js' %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
{% endblock %}
{% block container %}
  <div class="container" id="action-index">
    {% if not workflow.nrows %}
      {% include 'workflow/includes/no_data.html' %}
    {% elif not workflow.actions.all|length %}
      <p class="lead text-center my-3">{% blocktrans %}<strong>Next Step:</strong> Click in the <span class="fa fa-plus"></span> Action below to create a new
      action to execute based on the data stored in the table.{% endblocktrans %}</p>
    {% endif %}
    {% if workflow.nrows %}
      <div class="text-center my-3">
        <button type="button" class="shadow btn btn-outline-dark js-create-action"
                data-url="{% url 'action:create' %}"
                data-toggle="tooltip"
                title="{% trans 'New action to collect data from learners' %}">
          <span class="fa fa-plus"></span> {% trans 'Action' %}
        </button>
        <a href="{% url 'action:import' %}"
           class="shadow spin btn btn-outline-dark"
           data-toggle="tooltip" title="{% trans 'Import action previously exported' %}">
          <span class="fa fa-upload"></span> {% trans 'Import actions' %}</a>
        <a href="{% url 'workflow:export_list_ask' workflow.id %}"
           class="shadow spin btn btn-outline-dark"
           data-toggle="tooltip" title="{% trans 'Choose and export actions' %}">
          <span class="fa fa-download"></span> {% trans 'Export actions' %}</a>
        <a href="{% url 'action:timeline' %}"
           class="shadow btn btn-outline-dark"
           data-toggle="tooltip" title="{% trans 'See when the actions were executed' %}">
          <span class="fa fa-clock"></span> {% trans 'Timeline' %}</a>
        {% if actions|length %}
          Show <select class="shadow btn btn-outline-dark" id="action-show-display">
            <option selected value="">All actions</option>
            {% for c_key, c_val in action_types.items %}
              <option value="{{ c_key }}">{{ c_val }}</option>
            {% endfor %}
          </select>
        {% endif %}
      </div>
    {% endif %}
    <div id="action-cards" class="card-deck justify-content-center my-3">
      {% for action in actions %}
        {% include 'action/includes/partial_action_card.html' %}
      {% endfor %}
    </div>
    {% include 'action/includes/partial_type_legend.html' %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}
