{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Exclude items from action' %}{% endblock %}
{% block extrahead %}
  <link href="{% static 'css/sol.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'js/sol.js' %}"></script>
  <script src="{% static 'action/js/action.js' %}"></script>
{% endblock scripts %}
{% block container %}
<div class="container" id="action-filter-items">
  {% include 'step_by_step.html' with valuerange=valuerange step=step %}
  <h1 class="text-center">{% blocktrans with n=action.name %}Select items to exclude from action{% endblocktrans %}</h1>
  <div class="row justify-content-center">
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-center">
        <a type="button" class="shadow btn btn-outline-dark spin"
           href="{% url 'action:index' %}"> {% trans 'Cancel' %}</a>
        <a class="shadow btn btn-outline-primary spin" href="{{ prev_step }}">
          <span class="fa fa-angle-left"></span> {% trans 'Back' %}</a>
        <button type="Submit" name="Submit" value="Submit"
                class="shadow btn btn-outline-primary btn-space"> {{ button_label }}</button>
      </div>
    </form>
  </div>
</div>
{% endblock container %}
