{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Enter Data' %}{% endblock %}
{% block extrahead %}
  {% ontask_datetimepicker_css %}
{% endblock extrahead %}
{% block scripts %}
  {% ontask_datetimepicker_js %}
{% endblock %}
{% block container %}
  <div class="container" id="action-row-datainput">
    <h1 class="text-center">{{ action.name }}</h1>
    {% if form.is_empty %}
      <div class="text-center">
        <p>{% trans 'No responses required at this time' %}</p>
        <a type="button" class="shadow btn btn-outline-dark spin"
           href="{{ cancel_url }}">{% trans 'Back' %}</a>
      </div>
    {% else %}
      <p class="lead text-center">{{ action.description_text }}</p>
      <div class="row justify-content-center">
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
            {% if cancel_url %}
              <a type="button" class="shadow btn btn-outline-dark spin"
                 href="{{ cancel_url }}">{% trans 'Back' %}</a>
            {% endif %}
            <button type="submit" name="submit" value="update"
                    class="shadow btn btn-outline-primary">
              <span class="fa fa-check"></span> {% trans 'Update' %}</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock container %}
