{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Timeline' %}{% endblock %}
{% block scripts %}
  <script src="{% static 'logs/js/logs.js' %}"></script>
{% endblock %}
{% block container %}
<div id="timeline" class="container my-3">
  <h1 class="text-center">{% trans 'Timeline' %}</h1>
  {% if action %}
    <h3 class="text-center">
      <a href="{% url 'action:edit' action.id %}">{{ action.name }}</a>
    </h3>
  {% endif %}
  {% if event_list %}
    <ul class="timeline">
      {% for event in event_list %}
        <li>
          {{ event.modified }} <button
            type="button"
            data-url="{% url 'logs:modal_view' event.id %}"
            class="btn btn-sm btn-light js-log-view"
            data-bs-toggle="tooltip" title="{% trans 'View log content' %}">
            {{ event.get_name_display }}</button>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-center">No action executions have been registered so far.</p>
  {% endif %}
  {% include 'modal.html' %}
</div>
{% endblock container %}
