{% load i18n %}
<div class="btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-primary btn-light js-connection-addedit"
     data-url="{{ edit_url }}"
     data-bs-toggle="tooltip" title="{% trans 'Edit the connection' %}" role="button">
    <i class="bi-pencil-fill"></i></button>
  <button type="button" class="btn btn-primary btn-light js-connection-view"
          data-url="{{ view_url }}" data-bs-toggle="tooltip"
          title="{% trans 'View connection details' %}">
    <i class="bi-eye-fill"></i></button>
  {% if clone_url %}
  <button type="button" class="btn btn-primary btn-light js-connection-clone"
          data-url="{{ clone_url }}" data-bs-toggle="tooltip"
          title="{% trans 'Create an exact duplicate of this connection' %}">
    <i class="bi-files"></i></button>
  <button type="button" class="btn btn-primary btn-light js-connection-delete"
          data-url="{{ delete_url }}" data-bs-toggle="tooltip"
          title="{% trans 'Delete the connection' %}">
    <i class="bi-trash-fill"></i></button>
</div>
