{% load i18n %}
<div class="btn-group btn-group-sm" role="group">
  <button type="button" data-url="{% url 'table:view_edit' id %}"
     class="btn btn-primary btn-light js-view-edit" data-toggle="tooltip"
     title="{% trans 'Change the columns present in the view' %}">
     <span class="fa fa-pencil"></span></button>
  <button onclick="location.href='{% url 'table:display_view' id %}'"
          type="button" class="btn btn-primary btn-light" data-toggle="tooltip"
     title="{% trans 'Access the table with this view' %}">
     <span class="fa fa-eye"></span></button>
  <button type="button"
          class="btn btn-primary btn-light js-view-clone"
          data-url="{% url 'table:view_clone' id %}"
          data-toggle="tooltip"
          title="{% trans 'Create an identical view' %}">
    <span class="fa fa fa-clone"></span>
  </button>
  <button type="button"
          class="btn btn-primary btn-light js-view-delete"
          data-url="{% url 'table:view_delete' id %}"
          data-toggle="tooltip"
          title="{% trans 'Delete the view' %}">
    <span class="fa fa-trash"></span>
  </button>
</div>
