{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<form method="post" action="{% url 'table:view_add' %}"
      class="js-view-add-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans 'Add view' %}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ form|crispy }}
    {{ filter_form|crispy }}
    <label class="control-label">{% trans 'Row will be shown if' %}</label>
    <div id="builder"></div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-primary">
      <i class="bi-check"></i> {% trans 'Add view' %}</button>
  </div>
</form>
