{% load i18n %}
<div class="btn-group btn-group-sm" role="group">
  <button type="button" data-url="{% url 'table:view_edit' id %}"
     class="btn btn-primary btn-light js-view-edit" data-bs-toggle="tooltip"
     title="{% trans 'Edit the elements in the view' %}">
     <i class="bi-pencil-fill"></i></button>
  <button onclick="location.href='{% url 'table:display_view' id %}'"
          type="button" class="btn btn-primary btn-light" data-bs-toggle="tooltip"
     title="{% trans 'Access the table with this view' %}">
     <i class="bi-eye-fill"></i></button>
  <button type="button"
          class="btn btn-primary btn-light js-view-clone"
          data-url="{% url 'table:view_clone' id %}"
          data-bs-toggle="tooltip"
          title="{% trans 'Create an identical view' %}">
    <i class="bi-files"></i>
  </button>
  <button type="button"
          class="btn btn-primary btn-light js-view-delete"
          data-url="{% url 'table:view_delete' id %}"
          data-bs-toggle="tooltip"
          title="{% trans 'Delete the view' %}">
    <i class="bi-trash-fill"></i>
  </button>
</div>
