{% load i18n %}
{% if available_views %}
  <div id="attachment-selector" class="dropdown btn-group">
    <button type="button" class="btn btn-outline-dark dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-paperclip"></span> {% trans 'Select Attachment' %}</button>
    <div class="shadow dropdown-menu scrollable-menu" aria-labelledby="column-stat-selector">
      {% for view in available_views %}
        <button type="button" class="dropdown-item js-attachment-insert"
                data-url="{% url 'action:add_attachment' action.id view.id %}">{{ view.name }}</button>
      {% endfor %}
    </div>
  </div>
{% else %}
  {% if not attachments %}
    <p class="text-center">
      {% blocktrans %}Create table views that can then be attached to the email in this action.{% endblocktrans %}</p>
  {% endif %}
{% endif %}
