{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% blocktrans with n=dtype %}Upload/Merge {{ n }}{% endblocktrans %}{% endblock %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}?v={% ontask_version %}"></script>
{% endblock %}
{% block container %}
  <div class="container" id="athena-load-step1">
    {% include 'step_by_step.html' with valuerange=valuerange step=2 %}
    <h1 class="text-center">{% blocktrans with n=dtype_select %}Establish a {{ n }}{% endblocktrans %}</h1>

    <p class="text-center">{% trans 'The data will be accessed with the following parameters:' %}</p>

    {% if connection.description_text %}
      <p class="help-block text-center">{% blocktrans with n=connection.description_text %}Description:
        {{ n }}{% endblocktrans %}</p>
    {% endif %}
    {% if connection.aws_access_key %}
      <p class="help-block text-center">{% blocktrans with n=connection.aws_access_key %}Access key:
        {{ n }}{% endblocktrans %}</p>
    {% endif %}
    {% if connection.aws_bucket_name %}
      <p class="help-block text-center">{% blocktrans with n=connection.aws_bucket_name %}Bucket name: {{ n }}{% endblocktrans %}</p>
    {% endif %}
    {% if connection.aws_file_path %}
      <p class="help-block text-center">{% blocktrans with n=connection.aws_file_path %}File path: {{ n }}
        {% endblocktrans %}</p>
    {% endif %}
    {% if connection.aws_region_name %}
        <p class="help-block text-center">{% blocktrans with n=connection.aws_region_name %}Region: {{ n }}{% endblocktrans %}</p>
    {% endif %}
    {% if table_name %}
      <p class="help-block text-center">
        {% blocktrans with n=table_name %}Table: {{ n }}{% endblocktrans %}</p>
    {% endif %}
    <div class="row justify-content-center">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          {% include 'dataops/includes/upload_buttons.html' %}
        </div>
      </form>
    </div>
  </div>
{% endblock container %}
