{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Athena Connections' %}{% endblock %}
{% block extrahead %}
  {% ontask_datatables_bootstrap_css %}
{% endblock extrahead %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}?v={% ontask_version %}"></script>
  {% ontask_datatables_jquery_js %}
  {% ontask_datatables_bootstrap_js %}
  <script type="text/javascript">
    if (document.getElementById("athenaconn-instructor-table") != null) {
      // Required for DataTables
      $(document).ready(function() {
        var athenaconn_table = $('#athenaconn-instructor-table').DataTable({
          "autoWidth": false,
          "search": {
            "caseInsensitive": true,
          },
          "stateSave": true,
          stateSaveParams: function (settings, data) {
            delete data.search;
          },
          "order": [[0, "asc"]],
          "language": {
            "url": location.protocol + getLanguage()
          },
          "columnDefs": [
              {"className": "dt-center", "targets": [0, 2]},
              {"orderable": false, "targets": 2},
              {"searchable": false, "targets": 2},
          ],
          colReorder: false,
          rowReorder: false,
          "responsive": false,
        });
        athenaconn_table.columns().iterator('column', function (ctx, idx) {
          $(athenaconn_table.column(idx).header()).append('<span class="sort-icon"/>');
        });
      });
    }
  </script>
{% endblock %}
{% block container %}
  <div class="container" id="athena-connections">
    <h1 class="text-center">{% trans 'Athena Connections' %}</h1>
    {% if table.data|length %}
      <div class="justify-content-center" id="athenaconn-area">
        {% render_table table %}
      </div>
    {% else %}
      <p class="text-center">{% blocktrans %}In this page you will find the available Athena connections to
    access data stored in external relational databases. The connections can only
      be created by the system administrator.{% endblocktrans %}</p>
    {% endif %}
  </div>
  {% include 'modal.html' %}
{% endblock container %}




