{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Data operation execution' %}{% endblock %}
{% block container %}
  <div class="container text-center" id="action-run-done">
    <h1 class="text-center">{% trans 'Operation scheduled for execution' %}</h1>
    <div class="text-center my-3">
      <a href="{% url 'logs:page_view' log_id %}">{% blocktrans %}You may check the status in
      log number {{ log_id }}.{% endblocktrans %}</a>
    </div>
    <div class="text-center">
      <a class="shadow btn btn-outline-dark spin" href="{{ back_url }}">{% trans 'Back' %}</a>
    </div>
  </div>
{% endblock container %}
