{% extends 'base.html' %}
{% load i18n %}
{% load ontask_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Review Operation' %}{% endblock %}
{% block scripts %}
  <script src="{% static 'dataops/js/dataops.js' %}"></script>
{% endblock %}
{% block container %}
  <div class="container">
    {% include 'step_by_step.html' with value_range=value_range step=5 %}
    <h1 class="text-center">{% trans 'Review and confirm' %}</h1>
    <div class="row justify-content-center">
      <form method="POST" action="">
        {% csrf_token %}
        {% include 'dataops/includes/upload_buttons.html' %}
      </form>
    </div>
    <div class="justify-content-center">
      <table class="table table-hover table-bordered shadow" id="workflow-detail"
             style="width:100%;">
        <thead>
          <tr>
            <th class="text-center">{% trans 'Existing Table' %}</th>
            <th class="text-center"><button class=" bi-arrow-left"></button></th>
            <th class="text-center">{% trans 'New Data' %}</th>
          </tr>
        </thead>
        <tbody>
          {% if request.session.ontask_session_payload.dst_selected_key == request.session.ontask_session_payload.src_selected_key %}
            <tr class="success">
              <td class="text-center">{{ request.session.ontask_session_payload.dst_selected_key }} ({% trans 'Key' %})</td>
              <td class="text-center"><button class=" bi-arrow-left"></button></td>
              <td class="text-center">{{ request.session.ontask_session_payload.src_selected_key }} ({% trans 'Key' %})</td>
            </tr>
          {% else %}
            <tr class="success">
              <td class="text-center">{{ request.session.ontask_session_payload.dst_selected_key }} ({% trans 'Key' %})</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="success">
              <td></td>
              <td class="text-center"><button class=" bi-arrow-left"></button></td>
              <td class="text-center">{{ request.session.ontask_session_payload.src_selected_key }} ({% trans 'Key' %})</td>
            </tr>
          {% endif %}
          {% for item in info %}
            <tr>
              <td class="text-center" style="max-width:220px">{{ item.0 }}</td>
              <td class="text-center">{% if item.1 %}<button class=" bi-arrow-left"></button>{% endif %}</td>
              <td class="text-center">{{ item.2 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center">
      <form method="POST" action="">
        {% csrf_token %}
        {% include 'dataops/includes/upload_buttons.html' %}
      </form>
    </div>
  </div>
{% endblock container %}
