{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{{ block.super }}{% trans 'Data Upload/Merge' %}{% endblock %}
{% block container %}
<div class="container">
  {% include 'step_by_step.html' with value_range=value_range step=1 %}
  <h1 class="text-center">{% trans 'Select the type of data source' %}</h1>
  <div class="justify-content-center">
    <table class="table table-hover table-bordered shadow" id="dataops-table">
      <thead>
        <tr>
          <th class="text-center">{% trans 'Operation' %}</th>
          <th class="text-center">{% trans 'Description' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'dataops:csvupload_start' %}" class="btn btn-outline-primary">
              <i class="bi-plus"></i>
              {% trans 'CSV' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% blocktrans %}Upload data contained in a CSV file (typically
            saved using a spreadsheet or other data manipulation
            package).{% endblocktrans %}<br/>
            {% blocktrans %}If the table is empty, the data will be simply
            loaded detecting those columns that have unique values for every
            row.{% endblocktrans %}<br/>
            {% blocktrans %}If the workflow table has data, the operation will
            ask you to match a key column in your table with a key column in
            the file to upload so that the rows can be
            matched.{% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'dataops:excel_upload_start' %}"
               class="btn btn-outline-primary">
              <i class="bi-plus"></i>
              {% trans 'Excel' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% trans 'Upload data from Excel file.' %}<br/>
            {% blocktrans %}
            Given a file name and the name of a sheet, upload or merge the
            content of the Excel file.
            {% endblocktrans %}
            <br/>
            {% blocktrans %}
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the file
            to upload so that the rows can be matched.
            {% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'dataops:canvas_course_enrollments_upload_start' %}"
               class="btn btn-outline-primary {% if not canvas_enabled %}disabled{% endif %}">
              <i class="bi-plus"></i>
              {% trans 'Canvas Course Enrollment List' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% trans 'Upload the list of stuents from a Canvas Course.' %}<br/>
            {% blocktrans %}
            Given a Canvas course ID, upload and merge the enrolment list in
            the course. If the workflow parameter with name "CANVAS COURSE ID"
            is defined, it is used as the course ID.
            {% endblocktrans %}
            <br/>
            {% blocktrans %}
            If the workflow table has data, the operation will ask you
            to match a key column in your table with the student ID
            so that the rows can be matched.
            {% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'dataops:canvas_course_quizzes_upload_start' %}"
               class="btn btn-outline-primary {% if not canvas_enabled %}disabled{% endif %}">
              <i class="bi-plus"></i>
              {% trans 'Canvas Course Assignments and Quiz Results ' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% trans 'Upload the quiz results from a Canvas Course.' %}<br/>
            {% blocktrans %}
            Given a Canvas course ID, upload and merge the results of all
            quizzes in the course. If the workflow parameter with name
            "CANVAS COURSE ID" is defined, it is used as the course ID.
            {% endblocktrans %}
            <br/>
            {% blocktrans %}
            If the workflow table has data, the operation will ask you
            to match a key column in your table with the student ID
            so that the rows can be matched.
            {% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'dataops:googlesheetupload_start' %}" class="btn btn-outline-primary">
              <i class="bi-plus"></i>
              {% trans 'Google Sheet' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% trans 'Upload data from a Google Sheet file.' %}<br/>
            {% blocktrans %}
            Given the URL pointing to a publicly available Google Sheet upload or merge its content.
            {% endblocktrans %}
            <br/>
            {% blocktrans %}
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the sheet
            so that the rows can be matched.
            {% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'dataops:s3upload_start' %}"
               class="btn btn-outline-primary">
              <i class="bi-plus"></i>
              {% trans 'S3 Bucket CSV' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% trans 'Upload data from a CSV file in a S3 Bucket.' %}<br/>
            {% blocktrans %}
            Given the key, secret, bucket name and file path to a CSV file,
            upload or merge its content.
            {% endblocktrans %}
            <br/>
            {% blocktrans %}
            If the workflow table has data, the operation will ask you
            to match a key column in your table with a key column in the sheet
            so that the rows can be matched.
            {% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'connection:sqlconns_index' %}"
               class="btn btn-outline-primary {% if not sql_enabled %}disabled{% endif %}">
              <i class="bi-plus"></i>
              {% trans 'SQL Connection' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% blocktrans %}Upload data stored in a remote database using  pre-defined SQL connection.{% endblocktrans %}
          </td>
        </tr>
        <tr>
          <td class="text-center" style="vertical-align: middle;">
            <a href="{% url 'connection:athenaconns_index' %}" class="btn btn-outline-primary {% if not athena_enabled %}disabled{% endif %}">
              <i class="bi-plus"></i>
              {% trans 'Athena Connection' %}
            </a>
          </td>
          <td style="vertical-align:middle">
            {% blocktrans %}Batch upload data stored in a database using a pre-defined Amazon Athena
            connection.{% endblocktrans %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock container %}
