<div class="js-action-preview-form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Email Preview {{ index }}</h4>
  </div>
  <div class="modal-body align-center">
    <button type="button"
            class="btn btn-info js-action-preview-prv"
            data-url="{% url 'email_action:preview' action.id prv %}">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-info js-action-preview-nxt"
            data-url="{% url 'email_action:preview' action.id nxt %}">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
  <div class="modal-body"
       style="text-align: left; border: solid 1px black;margin: 0 2ex 0 2ex;">
    <strong>Subject:</strong> {{ prelude }}
  </div>
  <div class="modal-body"
       style="text-align: left; border: solid 1px black;margin: 0 2ex 2ex 2ex;">
    {{ action_content }}
  </div>
</div>

