{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }}{% trans 'Error' %}{% endblock %}
{% block container %}
  <div class="container my-3">
    <h1 class="text-center">{% trans 'Internal Error' %}</h1>

    <p class="text-center">
      {% blocktrans %}Oops. We have detected an internal error.{% endblocktrans %}
    </p>
    {% if message %}
      <p class="text-center">
        {% blocktrans %}The following message is trying to explain what
        happened.{% endblocktrans %}
      </p>
      <p class="text-center">{{ message }}</p>
    {% endif %}
    <hr/>
    {% if meta %}
      <p class="text-center"><strong>{% trans 'Referrer:' %}</strong> {{ meta }}</p>
    {% endif %}
  </div>
{% endblock container %}
