<div data-toggle="tooltip" title="{{ record.get_action_type_display }}">
  {% if record.action_type == 'personalized_text' %}
    <span class="fa fa-file-text"></span>
  {% elif record.action_type == 'personalized_canvas_email' %}
    <span class="fa fa-envelope-square"></span>
  {% elif record.action_type == 'personalized_json' %}
    <span class="fa fa-code"></span>
  {% elif record.action_type == 'survey' %}
    <span class="fa fa-question-circle-o"></span>
  {% elif record.action_type == 'email_report' %}
    <span class="fa fa-share-square"></span>
  {% elif record.action_type == 'json_report' %}
    <span class="fa fa-file-code-o"></span>
  {% elif record.action_type == 'rubric_text' %}
    <span class="fa fa-tasks"></span>
  {% endif %}
</div>
