{% load i18n %}
{% if conditions %}
  <div id="condition-selector-{{ id }}" class="dropdown btn-group">
    <button type="button" class="btn btn-outline-dark dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if cond_selected %}
        {{ cond_selected }}
      {% else %}
        {% trans 'Always shown' %}
      {% endif %}
    </button>
    <div class="shadow dropdown-menu scrollable-menu" aria-labelledby="condition-selector-{{ id }}">
      {% if cond_selected %}
        <button type="button" class="dropdown-item js-select-condition"
                data-url="{% url 'action:edit_in_select_condition' id %}">
          {% trans 'Always shown' %}
        </button>
      {% endif %}
      {% for cond in conditions %}
        {% if cond.name != cond_selected %}
          <button type="button" class="dropdown-item js-select-condition"
                  data-url="{% url 'action:edit_in_select_condition' id cond.id %}">
            {{ cond.name }}
          </button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
