{% load i18n %}
{% load cache %}
<button type="button"
        class="btn btn-outline-info js-action-preview {% if selected_rows == 0 %}disabled{% endif %}"
        data-url="{% url 'action:preview' action.id 1 %}"
        data-bs-toggle="tooltip"
    title="{% trans 'See how is the content shown to each learner' %}">
  <i class="bi-eye-fill"></i> {% trans 'Preview' %}
</button>
{% cache 3600 partial_action_preview_done_buttons LANGUAGE_CODE %}
  <button type="submit" name="Submit" value="Submit"
          class="btn btn-outline-primary spin"
          data-bs-toggle="tooltip"
          title="{% trans 'Save current data' %}">
    <i class="bi-save-fill"></i> {% trans 'Save' %}</button>
  <button type="submit" name="Submit" value="Close"
          class="btn btn-outline-primary spin"
          data-bs-toggle="tooltip"
          title="{% trans 'Save and go back to the action table' %}">
    <i class="bi-check"></i> {% trans 'Close' %}</button>
{% endcache %}

