{% load i18n %}
<div class="btn-group btn-group-sm" role="group">
  <button type="button" data-url="{% url 'column:question_edit' id %}"
     class="btn btn-secondary btn-light js-workflow-question-edit"
     data-toggle="tooltip" title="{% trans 'Edit the question' %}">
    <span class="fa fa-pencil"></span></button>
  <button type="button"
          class="btn btn-secondary btn-light js-column-clone align-middle"
          data-url="{% url 'column:column_clone' id %}" data-toggle="tooltip"
          title="{% trans 'Create an exact duplicate of this question' %}">
      <span class="fa fa fa-clone"></span>
  </button>
  <button onclick="location.href='{% url 'action:unselect_column_action' aid id  %}'"
          class="btn btn-secondary btn-sm btn-light spin" data-toggle="tooltip"
          title="{% trans 'Remove question from this survey' %}">
    <span class="fa fa-trash"></span></button>
</div>
