{% load cache %}
{% cache 3600 action_partial_type_legend LANGUAGE_CODE %}
  <div class="row justify-content-center">
    <div style="display:table">
      <span class="fa fa-file-text"></span>&nbsp;Personalized Text&nbsp;|&nbsp;
      <span class="fa fa-envelope-square"></span>&nbsp;Personalized Canvas Email&nbsp;|&nbsp;
      <span class="fa fa-question-circle-o"></span>&nbsp;Survey&nbsp;|
      <span class="fa fa-share-square"></span>&nbsp;Send List
      <span class="fa fa-code"></span>&nbsp;Personalized JSON&nbsp;|&nbsp;
      <span class="fa fa-file-code-o"></span>&nbsp;Send JSON List&nbsp;|&nbsp;
    </div>
  </div>
{% endcache %}
