{% load cache %}
{% load i18n %}
{% cache 3600 action_partial_type_legend LANGUAGE_CODE %}
  <div class="row justify-content-center">
    <div style="display:table">
      <i class="bi-file-earmark-text-fill"></i>&nbsp;{% trans 'Personalized Text' %}&nbsp;|&nbsp;
      <i class="bi-share-fill"></i>&nbsp;{% trans 'Send Report' %}&nbsp;|&nbsp;
      <i class="bi-list-task"></i>&nbsp;{% trans 'Rubric' %}&nbsp;|&nbsp;
      <i class="bi-question-circle-fill"></i>&nbsp;{% trans 'Survey' %}&nbsp;|&nbsp;
      <i class="bi-check-square-fill"></i>&nbsp;{% trans 'TODO List' %}&nbsp;|&nbsp;
      <i class="bi-envelope-fill"></i>&nbsp;{% trans 'Personalized Canvas Email' %}&nbsp;|&nbsp;
      <i class="bi-code-slash"></i>&nbsp;{% trans 'Personalized JSON' %}&nbsp;|&nbsp;
      <i class="bi-file-earmark-code-fill"></i>&nbsp;{% trans 'Send JSON Report' %}
    </div>
  </div>
{% endcache %}

