{% load cache %}
{% load i18n %}
{% cache 3600 action_partial_type_legend LANGUAGE_CODE %}
  <div class="row justify-content-center">
    <div style="display:table">
      <span class="fa fa-file-alt"></span>&nbsp;{% trans 'Personalized Text' %}&nbsp;|&nbsp;
      <span class="fa fa-share-square"></span>&nbsp;{% trans 'Send Report' %}&nbsp;|&nbsp;
      <span class="fa fa-tasks"></span>&nbsp;{% trans 'Rubric' %}&nbsp;|&nbsp;
      <span class="fa fa-question-circle"></span>&nbsp;{% trans 'Survey' %}&nbsp;|&nbsp;
      <span class="fa fa-check-square"></span>&nbsp;{% trans 'TODO List' %}&nbsp;|&nbsp;
      <span class="fa fa-envelope-square"></span>&nbsp;{% trans 'Personalized Canvas Email' %}&nbsp;|&nbsp;
      <span class="fa fa-code"></span>&nbsp;{% trans 'Personalized JSON' %}&nbsp;|&nbsp;
      <span class="fa fa-file-code"></span>&nbsp;{% trans 'Send JSON Report' %}
    </div>
  </div>
{% endcache %}

