{% load i18n %}
{% load django_tables2 %}
<div class="shadow rounded tab-pane px-3 fade show border border-dark"
     id="questions" role="tabpanel" aria-labelledby="questions-tab">
  <div id="insert-questions" class="text-center mt-3">
    <div id="column-selector">
      <div class="dropdown btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle"
                data-toggle="dropdown">
          {% trans 'Insert existing question' %}
        </button>
        <div class="shadow dropdown-menu scrollable-menu">
          {% for column in columns_to_insert %}
            <button type="button" class="dropdown-item js-insert-question"
                    data-url="{% url 'action:select_column_action' action.id column.id %}">{{ column.name }}</button>
          {% endfor %}
        </div>
      </div>
      <button type="button"
              class="btn btn-outline-dark js-workflow-question-add"
              data-url="{% url 'workflow:question_add' action.id %}"
              data-toggle="tooltip"
              title="{% trans 'Add a new question to the action' %}">
        <span class="fa fa-plus"></span> {% trans 'Create question' %}
      </button>
    </div>
  </div>
  <div class="justify-content-center mb-3">
    {% render_table column_selected_table %}
  </div>
</div>
