{% load i18n %}
<div class="shadow card ontask-acard text-center mb-3 mx-1 {{ action.action_type }}">
  <h5 class="card-header text-center spin"
      onclick="location.href='{% url 'action:edit' action.id %}'">
    {% if action.action_type == action.PERSONALIZED_TEXT %}
      <i class="bi-file-earmark-text-fill"></i>
    {% elif action.action_type == action.PERSONALIZED_CANVAS_EMAIL %}
      <i class="bi-envelope-fill"></i>
    {% elif action.action_type == action.PERSONALIZED_JSON %}
      <i class="bi-code-slash"></i>
    {% elif action.action_type == action.SURVEY %}
      <i class="bi-question-circle-fill"></i>
    {% elif action.action_type == action.TODO_LIST %}
      <i class="bi-check-square-fill"></i>
    {% elif action.action_type == action.EMAIL_REPORT %}
      <i class="bi-share-fill"></i>
    {% elif action.action_type == action.JSON_REPORT %}
      <i class="bi-file-earmark-code-fill"></i>
    {% elif action.action_type == action.RUBRIC_TEXT %}
      <i class="bi-list-task"></i>
    {% endif %}
    {{ action.name }}
  </h5>
  <div class="card-body spin"
      onclick="location.href='{% url 'action:edit' action.id %}'">
    <p class="card-text">{{ action.description_text }}</p>
  </div>
  <div class="action-buttons text-center">
    <p class="mb-0"><strong>Last Executed</strong><br/>{{ action.last_executed_log.created|default:"--" }}</p>
  </div>
  <div class="action-buttons text-center">
    <div aria-label="Button group with nested dropdown" class="btn-group btn-group-sm"
         role="group">
      <button type="button"
              class="btn btn-secondary btn-light js-action-preview "
              data-url="{% url 'action:preview' action.id 1 %}"
              data-bs-toggle="tooltip"
              title="See how is the content shown to each learner">
        <i class="bi-eye-fill"></i></button>
      <button type="button" class="btn btn-secondary btn-light js-action-clone"
              data-url="{% url 'action:clone' action.id %}"
              data-bs-toggle="tooltip"
              title="{% trans 'Create an identical action' %}">
        <i class="bi-files"></i></button>
      <button type="button" class="btn btn-secondary btn-light js-action-update"
              data-url="{% url 'action:update' action.id %}"
              data-bs-toggle="tooltip"
              title="{% trans 'Change name and/or description' %}">
          <i class="bi-pencil-fill"></i></button>
      <button type="button" class="btn btn-secondary btn-light js-action-delete"
              data-url="{% url 'action:delete' action.id %}"
              data-bs-toggle="tooltip"
              title="{% trans 'Delete the action' %}">
        <i class="bi-trash-fill"></i></button>
      <button onclick="location.href='{% url 'action:run' action.id %}'"
              class="btn btn-secondary btn-light spin"
              data-bs-toggle="tooltip" role="button" type="button"
              title="{% if action.action_type == 'survey' or action.action_type == 'todo_list' %}{% trans 'Enter data manually' %}{% elif action.action_type == 'personalized_json' %}{% trans 'Send personalised JSONs' %}{% else %}{% trans 'Send personalised text' %}{% endif %}"><i class="bi-rocket-takeoff-fill"></i></button>
      <div class="btn-group dropright" role="group">
        <button id="actionMoreOperations" type="button"
                class="btn btn-secondary btn-light dropdown-toggle" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right shadow"
             aria-labelledby="actionMoreOperations">
          {% if action.action_type == 'personalized_text' or action.action_type == 'personalized_canvas_email' or action.action_type == 'survey' %}
            <button type="button"
                    class="dropdown-item js-action-showurl"
                    data-url="{% url 'action:showurl' action.id %}"
                    data-bs-toggle="tooltip"
                    {% if action.is_out %}
                      title="{% trans 'URL for learners to access the personalised text' %}"
                    {% else %}
                      title="{% trans 'URL for learners to introduce data' %}"
                    {% endif %}>
              <i class="bi-link-45deg"></i> {% trans 'URL' %}
              {% if action.serve_enabled %}<span class="badge  badge-pill badge-dark">On</span>
              {% else %}<span class="badge badge-pill badge-light">Off</span>{% endif %}
            </button>
          {% endif %}
          {% if action.action_type == 'personalized_text' %}
            <a href="{% url 'action:zip_action' action.id %}"
               class="spin dropdown-item"
               data-bs-toggle="tooltip"
               title="{% trans 'Create a ZIP with each personalised text in a file' %}">
              <i class="bi-file-earmark-zip-fill"></i> {% trans 'ZIP' %}</a>
          {% endif %}
          <a href="{% url 'action:timeline' action.id %}" class="spin dropdown-item"
             data-bs-toggle="tooltip"
             title="{% trans 'See when this action was executed' %}">
            <i class="bi-clock-fill"></i> {% trans 'Timeline' %}</a>
          {% if action.is_out %}
            <a href="{% url 'scheduler:create_action_run' action.id %}" class="spin dropdown-item"
               data-bs-toggle="tooltip"
               title="{% trans 'Schedule the execution of the action' %}">
              <i class="bi-calendar"></i> {% trans 'Schedule' %}</a>
          {% endif %}
          <a href="{% url 'action:export' action.id %}" class="dropdown-item"
             data-bs-toggle="tooltip"
             title="{% trans 'Export the content of this action' %}">
            <i class="bi-download"></i> {% trans 'Export' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
