{% load i18n %}
<div class="js-action-preview-form">
  <div class="modal-header">
    {% if n_items %}
      <h4 class="modal-title">{% blocktrans %}Preview {{ index }} of {{ n_items }}{% endblocktrans %}</h4>
    {% else %}
      <h4 class="modal-title">{% trans 'Preview' %}</h4>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% if show_navigation %}
    <div class="modal-body text-center">
      <button type="button"
              class="shadow btn btn-outline-primary js-action-preview-prv col-md-auto"
              data-url="{% url 'action:preview' action.id prv %}"
              data-toggle="tooltip"
              title="{% trans 'Preview previous message' %}">
        <span class="fa fa-angle-left"></span>  {% trans 'Previous' %}
      </button>
      <button type="button" class="shadow btn btn-outline-primary js-action-preview-nxt col-md-auto"
              data-url="{% url 'action:preview' action.id nxt %}"
              data-toggle="tooltip"
              title="{% trans 'Preview next message' %}">
        {% trans 'Next' %} <span class="fa fa-angle-right"></span>
      </button>
      {% if action.rows_all_false|length %}
        <button type="button" class="shadow btn btn-outline-danger js-action-preview-nxt col-md-auto"
                data-url="{% url 'action:preview_all_false' action.id index %}"
                data-toggle="tooltip"
                title="{% trans 'Preview next message with all conditions false' %}">
          <span class="fa fa-angle-double-right"></span> {% trans 'Next with anomaly' %}
        </button>
      {% endif %}
    </div>
  {% endif %}
  <div class="mx-3 my-3">
    {% if all_false %}
      <p class="alert-danger text-center"><span class="fa fa-exclamation-triangle" style="color:red;"></span> {% trans 'All conditions evaluate to FALSE' %}</p>
    {% endif %}
    {% if incorrect_json %}
      <p class="alert-danger text-center">{% trans 'Incorrect JSON object. Check action text' %}</p>
    {% endif %}
    {% if prelude %}
      <div class="modal-body border border-dark">
        <strong>{% trans 'Subject:' %}</strong> {{ prelude }}
      </div>
    {% endif %}
    <div id="preview-body" class="modal-body shadow border border-dark">
      {% if action.action_type == 'personalized_json' %}
        <pre>{{ action_content }}</pre>
      {% elif action.action_type == 'personalized_canvas_email' %}
        <div style="white-space: pre-wrap;">{{ action_content }}</div>
      {% else %}
        {{ action_content }}
      {% endif %}
    </div>
    {% if show_values or show_conditions or action.attachments %}
      <div id="preview-variables" class="modal-body shadow border border-dark">
        {% if show_values %}
          <div><strong>{% trans 'Values:' %}</strong> {{ show_values }}</div>
        {% endif %}
        {% if show_conditions %}
          <div><strong>{% trans 'Conditions:' %}</strong> {{ show_conditions }}</div>
        {% endif %}
        {% if action.attachments %}
          <div><strong>{% trans 'Attachments:' %}</strong> {{ action.attachment_names|join:", " }}</div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

