{% load i18n %}
{% load crispy_forms_tags %}
<div class="shadow rounded tab-pane px-3 fade show active border border-dark"
     id="text" role="tabpanel" aria-labelledby="text-tab">
  <div id="html-editor">
    <div id="insert-elements-in-editor" class="text-center my-3">
      <div id="column-selector">
        <div class="dropdown btn-group">
          <button type="button" class="btn btn-outline-dark dropdown-toggle"
                  data-toggle="dropdown">
            {% if is_send_list %}
              {% trans 'Insert Column as List' %}
            {% else %}
              {% trans 'Insert Column Value' %}
            {% endif %}
          </button>
          <div class="shadow dropdown-menu scrollable-menu">
            {% if is_send_list %}
              {% for column in columns %}
                <button type="button" class="dropdown-item js-insert-column-list">{{ column.name }}</button>
              {% endfor %}
            {% else %}
              {% for column in columns %}
                <button type="button" class="dropdown-item js-insert-column-name">{{ column.name }}</button>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% if conditions|length %}
          {% if is_personalized_text %}
            {% trans 'Use condition in highlighted text' as header %}
          {% else %}
            {% trans 'Insert condition in text' as header %}
          {% endif %}
          <div id="condition-selector" class="dropdown btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ header }}
            </button>
            <div class="shadow dropdown-menu scrollable-menu" aria-labelledby="condition-selector">
              {% for cond_name in conditions %}
                <button type="button" class="dropdown-item js-insert-condition-name">{{ cond_name }}</button>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if attribute_names %}
          <div id="attribute-selector" class="dropdown btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Insert Attribute' %}
            </button>
            <div class="shadow dropdown-menu scrollable-menu" aria-labelledby="attribute-selector">
              {% for attr in attribute_names %}
                <button type="button" class="dropdown-item js-insert-attribute-name">{{ attr }}</button>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {{ form|crispy|safe }}
  </div>
</div>
