 @import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min
 .css";

html, body{
    height:100%;		/* For full height images */
}

body {
  padding-top:50px; /* To jump over the fixed nav-bar */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.page-header {
    margin: 20px 0 20px 0;
}

.footer {
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin-top: 1ex;
  border-top: 1px solid #eee;
}

.alert {
    /* margin-top: 55px; */
    margin-bottom: 0;
}

body>.navbar-transparent {
    /* background-color: transparent; */
    border-color: transparent;
    box-shadow: none;
}

.navbar-transparent .navbar-nav > .active > a {
    background-color: transparent;
}

.navbar-form {
    margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.btn{
    margin-top:10px;
    margin-right: 1.7em;
}

.navbar-nav > li > a {
    font-size: 16px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand > img {
    float: left;
    margin-right: 10px;
}

.btn {
    background-image: none;
    -webkit-box-shadow: 0px 1px 0px #ddd;
    -moz-box-shadow: 0px 1px 0px #ddd;
    box-shadow: 0px 1px 0px #ddd;
}

/* Home page styling */
.corporate-jumbo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
      url("/static/site/img/banner.jpg");
    background-repeat: no-repeat;
    background-position: 80% center;
    /* background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
}

.corporate-jumbo .well {
    background-color: rgba(245, 245, 245, .7);
}

.corporate-jumbo p, .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
}

.corporate-jumbo p {
    font-weight: 500;
}

.corporate-jumbo .well legend {
    color: #333;
}

.corporate-jumbo > .container {
    display: block;
    /* position: absolute; */
    bottom: 2em;
    left: 15px;
}

.contact-banner {
    padding: 100px 0;
    background: #e0e0e0;
    margin-top: 100px;
}

.footer a:hover {
    text-decoration: none;
}

/* About page styling */
#sec1 {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
}

/* Profile page styling */
.profile-head {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
    padding: 70px 0px 30px 20px;
}
.profile-body {
    padding: 4px 0px;
}

.text-page {
    padding: 120px 0;
}

#map-outer {
    height: 440px;
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color:#FFF
}

#map-container {
    height: 400px
}

.img-dim {
    opacity: 0.5;
    box-shadow: inset 0px 0px 64px 64px #EA1717, 0px 0px 4px 4px #EA1717;
}

/* Authentication forms */
.form-box form,
.form-box .form-message {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box form .checkbox {
  margin-bottom: 10px;
}

.form-box form .checkbox {
  font-weight: normal;
}

.form-box form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-box form .form-control:focus {
  z-index: 2;
}

/* OnTask personalisation */
div#filter-set {
  border: 1px solid black;
}

/* For the Action Edit */
div.conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.condition-btn {
    padding: 0.5ex;
}
/* Tweaks for JQuery QueryBuilder

/* Needed to fix rendering of jQuery QueryBuilder in Popup */
dt div.btn-group,
dt div.btn-group-vertical {
    display: flow-root;
}
/* Clause var op value*/
.query-builder .rules-list {
    text-align:left;
}

/* Show the errors in a form in red */
.errorlist {
    color:red;
}

/* Sortable columns in db */
.orderable {
    background: url("orderable.png") no-repeat center right;
}
.asc {
    background: url("asc.png") no-repeat center right;
}
.desc {
    background: url("desc.png") no-repeat center right;
}

td.dt-body-center {
    text-align: center;
    }

#table-data td,
#actioninrun-data td,
#workflow-table td,
#action-table td,
#log-table td,
#scheduler-table td,
#view-table td {
    vertical-align: middle;
}

/* Needed to show summer note aligned to the left */
.note-editor.note-frame.panel.panel-default {
    text-align: left;
}

/* Wflow name */
#wflow-name.alert {
    padding: 0.5ex;
}

mark {
    background-color: #dff0d8;
}

/* button {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
} */
div.group-conditions > label:not([class*=active]) {
    opacity: 0.3;
}
/* a.btn {
    margin-top: 0.5ex;
} */

#base_footer .div1 {
    float: left;
}

#base_footer .div2 {
    float: right;
    text-align:right;
}

th.dt-center, td.dt-center { text-align: center; }

table#attribute-table {
    margin-top: 20px;
}

#workflow-area .dropdown-menu {
  left: 70%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

#filter-set .dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.dropdown-menu .btn {
    width:100%;
}

div.sol-container {
    display: table;
}

.modal-body p,
.modal-body div {
    word-wrap: break-word;
}